<h2 mat-dialog-title class="about-title">Need to get in touch?</h2>
<mat-dialog-content class="mat-typography about-us-cont">
  <h3>Contact us at our support e-mail or our Facebook page.</h3>
  <h3>Juicy-Bets Entertainment LTD.</h3><br>
  <p><a href="https://www.facebook.com">Facebook link here </a>
    E-mail: support@juicy-bets.com<br>
    Phone: +66(0) 810 310 897<br><br>
  </p>


  <div class="office">
    1378 Pilot Way <br>
    Nanoose Bay, V9P 988 <br>
    British Colombia, Canada <br>
    CN (Inc #): BC1305438 <br>
    BN (Tax #): 758201867BC0001<br>
  </div>


</mat-dialog-content>

