.about-us-cont{
  background: #3d4f58;
  padding: 20px;
}

.about-us-cont > p,
.about-us-cont > h3 {
color:whitesmoke;
}

h2,h3 {
  color: whitesmoke;
}

a{
  color:#c0c0c0;
  text-decoration: underline;
}
a:hover {
  color: blue;
}

mat-dialog-content{
  border: 1px solid #4b5960;
}
