<h2 mat-dialog-title class="about-title">Need to get in touch?</h2>
<mat-dialog-content class="mat-typography about-us-cont">
  <h3>Write to us! It can be so lonely at times....</h3>
  <p>
    E-mail: support@juicy-bets.com<br>
    Phone: +66(0) 810 310 897<br>
    <a href="https://www.facebook.com">Facebook link here </a>
  </p>

  <div class="about-us-cont">
  <h3>Juicy-Bets Entertainment LTD.</h3>
    <p >1378 Pilot Way <br>
      Nanoose Bay, V9P 988 <br>
      British Colombia, Canada <br>
      CN (Inc #): BC1305438 <br>
      BN (Tax #): 758201867BC0001<br></p>
  </div>


</mat-dialog-content>

