.button-container {
  margin-left: auto;
}
mat-toolbar {
  background-color: #37474f ;
}
button{
  margin-left: 0.1em;
}
a {
  text-decoration: none;
  color: #ffbf0e;
  padding: 1 1 auto;
}

.mat-icon {
  vertical-align: middle;
}

img {
  position: absolute;
  left: 50%;
  margin-left: -2.7em;
  top: 1.8%;
  z-index: 5
}

.link-container{
  display: inline-flex;
  margin-right: 15px;
  border: 2px solid #607d8b;
  padding: 5px 14px;
  border-radius: 6px;
}

.settings-img:hover {
  opacity: 0.8;
  cursor: pointer;
}
