<mat-toolbar>

  <button mat-raised-button color = "primary">
    <span>
      <a routerLink = "/matches" >MatchEdge</a>
    </span>
  </button>

  <img src="/assets/img/jbLogo.png" alt="">
    <div class="button-container">

    <span class="example-spacer"> </span>
      <button mat-raised-button color = "primary">
        <a routerLink = "/login" >
          Login
        </a>
      </button>

      <button mat-raised-button color=primary (click)="displayNotification=!displayNotification; notificSettingsClicked(displayNotification)">
          <a> Settings </a>
      </button>
  </div>
</mat-toolbar>


