<div class="ftr-cont">
  <div class="ftr-body">
    <div class="inln" (click)="openDialog(0)">
      <h2 class="popup-dialog"> About Us</h2>
    </div>
    <div class="inln" (click)="openDialog(1)">
      <h2 class="popup-dialog"> Contact Us</h2>
    </div>
    <div class="inln">
      <h2 class="sm-link"> <a href="https://www.facebook.com/JuicyBetsEntertainment">Follow Us on Facebook </a></h2>
    </div>
  </div>
  <div class="final-footer disclaimer">
    <p>The information contained on Juicy-Bets.com and the resources available are for educational and informational purposes only.​ No actual betting activity takes place within Juicy-Bets.com.</p>
  </div>
  <div class="final-footer aware-disc">
    <p>Matched Betting isn't gambling, but it is only for over 18’s. If you have any concerns about gambling please contact <a href="https://www.begambleaware.org/">GambleAware</a>
    </p>
  </div>

    <div class=" final-footer copy-right">
      <p class="c-right-txt">©Copyright 2021 by Juicy-Bets Entertainment Ltd.   |  <span class="popup-dialog" (click)="openTermsAndConditions()">Terms of Use</span>    |   <span class="popup-dialog" (click)="openPrivacy()">Privacy Statement</span> </p>
    </div>
</div>
