.ftr-cont{
  margin-top: 12%;
}

.ftr-buffer {
  height: 100px;
}


.ftr-body {
  background: #29373e;
  display: inline-flex;
  border-top: 2px solid #314148;
  width: 100%;
  text-align: center;
  margin: 0px;
}

.inln{
  width: 33%;
}

.inln:hover {
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 80%);
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
}

h2 {
  color: whitesmoke;
  margin: 0px;
  padding: 10px;
  font-weight: lighter;
}

h2.popup-dialog:hover,
span.popup-dialog:hover {
  color: #ffc235;
  text-decoration: underline;
  cursor: pointer;
}

h2.sm-link:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.inln-a-txt {
  width: 75%;
  margin-left: 20px;
  text-align: left;
}

.ftr-footer{
  padding: 10px;
  background: #263238;
  color: whitesmoke;
  display: inline-flex;
  width: 100%;
  border-top: 1px solid #ffc235;
}

.copy-right,
.aware-disc {
  width: 50%;
}

a {
  color: #c0c0c0;
}

a:hover {
  color: blue;
  cursor: pointer;
}



