<div class="ftr-cont">

    <div class="ftr-body">
      <div class="inln-a">
        <h1> About Our Company</h1>

          <p class="inln-a-txt"> We are creators of quality betting tools, designed to identify valuable betting opportunities with ease.</p>

      </div>
      <div class="inln-b">
        <h1> Contact Us</h1>
        <p>
          support@juicy-bets.com
        </p>
      </div>
      <div class="inln-c">
        <h1>Follow Us</h1>
        <p>Icons to dead links</p>
      </div>
    </div>
    <div class="ftr-footer">
      <div class="copy-right">
        <p class="c-right-txt">© Copyright 2021 by Juicy-Bets Entertainment Ltd.   |   *POPUP TEXT*Terms of Use   |    *POPUP TEXT* Privacy Statement </p>
      </div>
      <div class="aware-disc">
        <p>This website is strictly for over 18’s.
          If you do have any concerns about gambling please contact <a href="https://www.begambleaware.org/">GambleAware</a>
        </p>
      </div>
    </div>

</div>
