span.popup-dialog:hover {
  color: #ffc235;
  text-decoration: underline;
  cursor: pointer;
}
.check-box-sentence:last-of-type{
  margin-top: 5%;
}

.popup-dialog {
  color: #ffc235;
}
mat-checkbox {
  float: left;
}
mat-dialog-actions {
  float: right;
}
