h1, label, p{
  color:white;
}

.main-container  {
  background: #37474f;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 100px;
  width: 50%;
  height: 100%;
}
input, select {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  position: relative;
}
.container {
  border: white 1px solid;
  padding: 100px;
  height: 100%;
  display: flex;
  margin: 2rem 0;
  justify-content: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

button, label {
  margin-right: 30%;
  margin-top: 10px;
  float: right;
}

label {
  text-align: right;
}

mat-label{
  color: white;
}

input {
  color: white;
}

.mat-select-value-text, .mat-select-min-line, ::ng-deep.mat-select-value {
  color: white !important;
}
button {
  display: inline;
  margin-left: 70%;
}


textarea{
    margin-top: 40px;
    height: 30px;
}

.form-group>p, textarea {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
