
<div [ngClass]="infoSelected ? 'extend-mn-cont':'mn-cont'">
  <div class="title-cont">
    <h1 class="title-text">Subscriptions</h1>
  </div>
  <div class="opt-cont">
    <div class="opt-desc">
      <ng-container *ngIf="!isNewUser; else showNewUserMessage">
        <div class="welcome-msg">
          <h2>Welcome back, {{userName}}!</h2>
          <ng-container *ngIf="isActiveSub else inactiveSubscription">
            
          </ng-container>
          <ng-template #inactiveSubscription>
            <h3>Your account status is currently showing {{accountStatus}} </h3>
            <ng-container *ngIf="accountStatus == 'FAILED PAYMENT'">
            <p> Please contact support to re-activate your account</p>
          </ng-container>
          <ng-container *ngIf="accountStatus == 'CANCELLED'">
            <p>Your subscription appears to be cancelled. Access will be revoked on {{subExpiration}}. Purchase a new one below to begin!</p>          </ng-container>
          </ng-template>
        </div>
      </ng-container>
      <ng-template #showNewUserMessage>
        <h2>Welcome to Juicy Bets</h2>
          <h2>This is site currently in Beta testing. Thanks for visiting!</h2>
      </ng-template>
    </div>
    <div class="opt-obj-cont">

        <div class="obj-cont">

          <ng-container *ngIf="!isLoading else showLoadingSpinner">

            <!-- <div class="active-sub" *ngIf="isActiveSub && !isNewUser; else showInactiveSub"> -->
              <div class="active-sub" *ngIf="isFree; else showInactiveSub">
              <div class="option-wrapper active-wrapper">

                <div class="active-img" (click)="openManageBillingPopUp()">
                  <img  class="manage-payments-img" src="../../assets/img/ManagePaymentsLogo.png" alt="">
                </div>
                <div class="sport">
                  <h2> Subscriptions & Billing</h2>
                </div>
              </div>
              <div class="option-wrapper active-wrapper">
                <div class="active-img">
                  <div class="img-wrapper" (click)="enterSite();">
                    <img  class="sub-img two-up" src="../../assets/img/2upEnabled210x210.png" alt="">
                  </div>
                  <button  class="info-btn solo-btn" mat-raised-button (click)="openProductPopup()">View guide</button>
                </div>
                <div class="sport">
                  <h2> Juicy2Ups</h2>
                </div>
              </div>
            </div>
            <ng-template #showInactiveSub>
              <div class="inactive-sub">
                <div class="option-wrapper">
                <div id='focal-point' class="inactive-img">
                  <img class="sub-img" src="../../assets/img/2upDisabled210x210.png" alt="">
                  <h3>£14.00/month</h3>

                  <div class="inactive-btn-cont">
                    <button id="basic-plan-btn" class="sub-btn" mat-raised-button [disabled]="accountStatus == 'FAILED PAYMENT'" (click)="this.popupViewCheckout()">Subscribe</button>
                    <button  class="info-btn" mat-raised-button (click)="openProductPopup()">View guide</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="error-message" class="error-message"></div>

          </ng-template>
        </ng-container>
        <ng-template #showLoadingSpinner>
          <app-loading [isLoading]="isLoading"></app-loading>
        </ng-template>
      </div>

        <div class="info-container">
          <div class="info-content" *ngIf="infoSelected">
            <div id="info" class="info-wrapper">
              <app-product-features></app-product-features>
                <div class="learn-more">
                  <p> <span id='stmmm'>Save Time, Make More Money!</span> <br><br>
                   Click here for more information <span class="popup-dialog" (click)="openProductPopup()">Learn More...</span></p>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="bottom-spacer"></div>

</div>

