
.title-cont{
  color: blue;
  margin-top: 60px;
}

.mn-cont {
  margin-bottom: 70px;
  height: auto;
}

.extend-mn-cont {
  height: 1070px;
  margin-bottom: 20px;
}

.title-text,
.sport > h2{
  color: #ffc235;
  text-align: center;
  margin: 0px;
}

.welcom-msg {
  margin-bottom: 5px;
}
.welcome-msg>h2,h3{
  margin-bottom: 0px;
}

.opt-cont{
  text-align: center;
  height: 500px;
  width: 100%;
}

.opt-desc{
  color: white;
}

.opt-obj-cont{
  color: white;
}

.vertical-spacer {
  width: 100%;
  height: 10%;
  display: inline-flex;
}

.obj-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #1f272b;
  border-radius: 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  box-shadow: 0px 0px 81px 6px rgb(0 0 0 / 50%);
}

.img-wrapper:hover{
  cursor: pointer;
}

 .active-img:hover {
    cursor: pointer;
}

.product-features{
  text-align: initial;
  width: 80%;
  margin-left: auto;
  color: #ffc235;
  margin-right: auto;
}

.learn-more {
  border: 1px solid white;
  padding: 5px;
}

.active-sub{
  color: #ffffff36;
  justify-content: center;
  width: 20%;
}

.active-sub {
  display: inline-flex;
}

.inactive-sub{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.inactive-img,
.active-img{
  width: inherit;
  border-radius: 2px;
  border: 1px solid #ffffff17;
  background: linear-gradient(146deg, rgb(100,116,124,1) 0%, rgb(37 46 51) 25%, rgb(42 54 60) 40%);
}

.inactive-img{
  margin-left: auto;
  margin-right: auto;
}

.active-img{
  box-shadow: 2px 6px 10px 6px rgb(0 0 0 / 60%);
  width: 250px;
  height: 250px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}

img.two-up {
  width: 90%;
}

.sub-btn{
  margin-right: 10px;

}

.sub-btn,
.info-btn {
  background: linear-gradient(146deg, rgb(33 45 51) 5%, rgb(75 85 90) 30%, rgb(45 57 64) 45%);
  border: 1px solid #2b373d;
  color: #ffbf0e;
  width: 50%;
  display: inline;
  margin: 0;
}

.solo-btn{
  width: 100%;
    width: -moz-fit-content;
    text-align: center;
    margin-top: -18px;
}

.info-btn:hover{
  box-shadow: 0px 1px 7px 2px #636f77;
  background: linear-gradient(146deg, rgb(33 45 51) 5%, rgb(75 85 90) 30%, rgb(52 64 71) 45%);
  transform: scale(1.02);
  text-decoration: underline;
}

.expiration {
  padding-bottom: 30px;
}

.info-container{
  width: 100%;
}

.info-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: 2px solid #607d8b;
  border-radius: 10px;
  padding: 10px;
}

.info-wrapper {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  font-size: 1.2rem;
}

.info-text {
  margin: 0px;
  text-align: left;
  line-height: 25px;
}

.sport  {
  padding-top: 1rem;
}


.active-wrapper {
  margin-right: 1rem;
}

.bottom-spacer{
  height: 10px;
  width: 100%;
}

.popup-dialog{
  color: #ffc235;
  cursor: pointer;
}

#focal-point >h3{
  margin: 0px;
  padding: 2px;
  color: white;
  border: 1px solid #394951;
  background: #3949511a;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  margin-bottom: 5%;
  box-shadow: 1px 1px 0px 0px #00000082;
}

.learn-more {
  border: 1px solid white;
  padding: 10px;
  width: 60%;
  border-radius: 18px;
  margin-left: auto;
  margin-right: auto;
}

.learn-more>p{
  margin: 0px;
}

@media (max-width: 700px){
  .inactive-img>h3,
  button{
    font-size: 0.5rem;
  }
}

@media (max-width: 1000px){
  .inactive-sub{
    width: 30%;
  }

  .active-sub{
    width: 80%;
    justify-content: center;
  }
  .inactive-img>h3,
  button{
    font-size: 0.7rem;
  }
  button{
    padding: 2px;
  }
}


@media(max-width: 1180px){
  .extend-mn-cont{
    height: 1550px;
  }

  .info-wrapper,
  .product-features {
    width: 100%;
  }
}

@media(max-width: 1440px){
  .title-text,
  .info-title{
    font-size: 2rem;
  }

  .info-wrapper{
    font-size: 1.314159265359rem;
    width: 95%;
  }
}

@media(min-width:1441px) {
  .info-wrapper{
    width: 89%;
  }
  .info-title{
    margin-bottom: 2%;
  }

  .info-text{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    line-height: 30px;
  }

  .product-features{
    font-size: 1.314159265359rem;
    width: fit-content;
  }
  #twoUp-features{
    font-size: 1.5rem;
    color: whitesmoke;
    width: 50%;
  }

  #stmmm{
    color: #f9a825;
    font-size: 1.84rem;
    text-decoration: underline;
  }

  .inactive-sub {
    width: 30%;
  }

  #focal-point>h3{
    margin: 0px;
    padding: 2px;
    color: white;
    border: 1px solid #394951;
    background: #3949511a;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-bottom: 5%;
    box-shadow: 1px 1px 0px 0px #00000082;
    font-size: 1.3rem;
  }

  .extend-mn-cont{
    height: 1150px;
  }
}
