<h2 class="info-title"> Juicy2Ups</h2>
<div class="inline-features">
  <div class="features-text">
    <h3>Introducing Juicy 2Ups - A matched betting tool designed specifically for the 2Up promotion</h3>
    <br>
    <p class="2up-info info-text">
      2Up is one of the most exciting offers in the matched betting world. It can be found on Bet365 and Paddy Power. It is also one of the simplest matched betting offers to understand and can be very lucrative.
      <br><br>
      <span id="twoUp-features">Juicy2Ups makes doing this offer easier than ever with product features that include: </span>
      <br></p>
  </div>
  <div class="features-content">
    <div class="tool-item">
      <div class="option-wrapper">
        <img  class="sub-img" src="../../assets/img/2upEnabled210x210.png" alt="">
      </div>
    </div>
  </div>
</div>

<!-- <div class="product-features">
  <ul>
    <li> Up-to-date odds data comparison</li>
    <li> Custom watchlist view to focus on FC leagues of interest</li>
    <li> Flexible expected value settings to accurately track profits the way you want</li>
    <li> Rating system to identify the best potential games for a 2Up</li>
    <li> Custom filters and notifications to focus on the fixtures you want</li>
    <li> Bet tracking tool to track your settled and unsettled bets and quickly record progress </li>
  </ul>
</div> -->
