<h2 class="info-title"> Juicy2Ups</h2>
<div class="inline-features">
  <div class="features-text">
    <p class="2up-info info-text">
      Introducing Juicy2ups. A matched betting tool, designed specifically for 2ups.
      Whether you’re a newbie or a 2up pro, this product has a lot to offer.
      <br>
      <br>
      <br>
       &nbsp; <span id="twoUp-features">Product features include:</span>
      </p>
  </div>
  <div class="features-content">
    <div class="tool-item">
      <div class="option-wrapper">
        <img  class="sub-img" src="../../assets/img/2upEnabled210x210.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="product-features">
  <ul>
    <li> Up-to-date odds data comparison</li>
    <li> Custom watchlist view to focus on leagues of interest</li>
    <li> Flexible expected value settings to accurately track profits the way you want</li>
    <li> Rating system to identify the best potential games for a 2Up</li>
    <li> Custom filters and notifications to focus on the fixtures you want</li>
    <li> Bet tracking tool to track your settled and unsettled bets and quickly record progress </li>
  </ul>
</div>
