/* ::ng-deep.mat-dialog-container {
  color:#ffffffec;
  background-image: linear-gradient(to top, #263238 60%, #161718e6 100%);
} */

.table-container {
  margin-top: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sab-headers{
  color: #ebbf57;
  background: #263238;
  width: 77.77%;
  margin-bottom: 3px;
}

.sab-table {
  width: 99%;
  display: block;
  border: 2px solid #41555e;
  padding: 10px;
  border-radius: 5px;
}

.sab-title-container {
  display: inline-flex;
  position: relative;
  width: 100%;
}

.text-details {
    width: 70%;
    display: grid;
}

.team-fta-cont {
  display: inline-flex;
}

.title-details {
  margin: 0px;
  width: fit-content;
  display: inline-block;
}

.sab-row-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row-header{
  width: 14.28%;
  text-align: center;
}

.sab-row {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}


.sab-row-item{
  height: fit-content;
  display: table-column;
  width: fit-content;
  padding-right: 15px;
}

.no-sab-message {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 15px;
  font-size: x-large;
}

.sab-row-button {
  min-width: fit-content;
  font-size: normal;
  padding: 10px;
  height: 20px;
  background: #6e6f6f;
  color: #dadadb;
  line-height: 1px;
}

.sab-view-btn-container {
    padding: 8px 0;
    display: flex;
    min-height: 52px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.logo-container {
  display: inline-flex;
  width: 30%;
}

.logo {
  width: 100px;
  border-radius: 8px;
  margin-left: auto;
  background: linear-gradient(146deg, #2b2f31 0%, rgb(132 156 167) 25%, #474e51 40%);
  padding: 4px;
  float: right;
  border: 1px solid #ffffff2b;
}

::ng-deep.mat-form-field-label{
    color: #d6a61c !important;
}

.popup-btn {
  border: 1px #222c2f solid !important;
}

hr {
  margin-top: 5px;
}


.FTA-container {
  position: absolute;
    top: 14%;
    right: 15%;
}

.FTA-text{
  font-size: 15px !important;
  color: #ffffff !important;
  background: radial-gradient(at 76% 0, #47606d, #354750ad 70%), linear-gradient(0deg, #e0e1e2, transparent 0%) bottom;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
  padding: 5px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: default;
}


@media (max-width: 1000px){
  .sab-row-item{
    font-size: small;
  }

  .sab-row-button{
      min-width: fit-content;
      font-size: smaller;
      padding: 5px;
      height: 20px;
      background: #6e6f6f;
      color: #dadadb;
      line-height: 1px;
  }

}
