<hr class="outer-hr">
<hr class="inner-hr">
<div class="sab-title-container">
  <div class="text-details">
    <h1 mat-dialog-title class="title-details"> {{data.row.Selection}}</h1>
    <h2 mat-dialog-title class="title-details"> {{data.row.Home}} v. {{data.row.Away}}</h2>
    <h2 mat-dialog-title class="title-details"> {{data.row.EpochTime*1000 | date: 'EEE dd LLL  HH:mm'}}</h2>
  </div>

  <div class="FTA-container">
    <h2 class="FTA-text">{{data.row.fta}} </h2>
  </div>

  <div class="logo-container">
    <img class="logo" src="/assets/img/fcLogo/{{data.row.Selection.toLowerCase().split(' ').join('-')}}.png">
  </div>

</div>
<hr class="inner-hr">
<hr class="outer-hr">
<ng-container
  *ngIf="!isEmptySelectionList; then displaySAB else noSavedBets">
</ng-container>

<ng-template #displaySAB>

  <div class="sab-table">
    <mat-action-list  #activeBets [multiple]="false">
      <mat-list-option class="sab-row-header">
        <h3 class="sab-row-item-header"> Created </h3>
        <!-- <h3 class="sab-row-item-header"> Event Time </h3> -->
        <h3 class="sab-row-item-header"> Back Stake </h3>
        <h3 class="sab-row-item-header"> Back Odds</h3>
        <h3 class="sab-row-item-header"> Lay Odds</h3>
        <h3 class="sab-row-item-header"> FTA Returns </h3>
        <h3 class="sab-row-item-header"> QL </h3>
        <h3 class="sab-row-item-header"> Match State</h3>
        <h3 class="sab-row-item-header"> Spacer </h3>

      </mat-list-option>
      <mat-list-option *ngFor="let activeBet of filteredSabList; let i = index">
        <div class="sab-row">
          <p class="sab-row-item"> {{activeBet.created | date: 'EEE dd LLL HH:mm'}}</p>
            <!-- <span class="sab-row-item"> {{activeBet.matchDetail | date: 'EEE dd LLL  HH:mm' }}</span> -->
            <span class="sab-row-item"> {{activeBet.stake | currency:'GBP'}}</span>
            <span class="sab-row-item"> {{activeBet.backOdd}}</span>
            <span class="sab-row-item"> {{activeBet.layOdd}}</span>
            <span class="sab-row-item"> {{activeBet.fta | currency: 'GBP'}}</span>
            <span class="sab-row-item"> {{activeBet.ql | currency:'GBP'}}</span>
            <span class="sab-row-item"> <span> {{activeBet.betState ? 'Matched': 'Unmatched'}}</span></span>


          <button mat-button (click)="editDeleteSab(activeBet, true); showMe(activeBet); " class="sab-row-button popup-btn"> Edit </button>
          <button mat-button (click)="deleteSab(activeBet)" class="sab-row-button popup-btn"> Delete</button>
        </div>
      </mat-list-option>
    </mat-action-list>
  </div>

  <!-- <p>
    Options selected: {{activeBets}}
  </p> -->
</ng-template>

<ng-template #noSavedBets>
  <div class="sab-table">
    <p class="no-sab-message">You currently have no active bets saved</p>
  </div>
</ng-template>

<div mat-dialog-actions class="sab-view-btn-container">
  <!-- <button mat-button (click)="onNoClick()">Go Back</button> -->
  <button mat-button class="popup-btn" (click)="onAddClick(false)" cdkFocusInitial><mat-icon>add</mat-icon> Active Bet</button>
</div>
