<div class="sab-title-container">
  <img class="fc-logo" src="/assets/img/fcLogo/{{data.Selection.toLowerCase().split(' ').join('-')}}.png">
  <h1 mat-dialog-title> {{data.Selection}}</h1>
  <h2 mat-dialog-title> {{data.Home}} v. {{data.Away}}</h2>
</div>

<ng-container
  *ngIf="!isEmptyList; then displaySAB else noSavedBets">
</ng-container>

<ng-template #displaySAB>

  <div class="sab-table">
    <mat-action-list  #activeBets [multiple]="false">
      <mat-list-option class="sab-row-header">
        <h3 class="sab-row-item-header"> Time Stamp </h3>
        <h3 class="sab-row-item-header"> Event Time </h3>
        <h3 class="sab-row-item-header"> B.Stake </h3>
        <h3 class="sab-row-item-header"> Back </h3>
        <h3 class="sab-row-item-header"> L.Stake </h3>
        <h3 class="sab-row-item-header"> Lay </h3>
        <h3 class="sab-row-item-header"> Liability </h3>
        <h3 class="sab-row-item-header"> EV </h3>
        <h3 class="sab-row-item-header"> FTA </h3>
        <h3 class="sab-row-item-header"> QL </h3>
        <h3 class="sab-row-item-header"> ROI </h3>
        <h3 class="sab-row-item-header"> Spacer </h3>
      </mat-list-option>
      <mat-list-option *ngFor="let activeBet of importedSabList">
        <div class="sab-row">
          <p class="sab-row-item">TimeStamp</p>
            <span class="sab-row-item"> {{activeBet.matchDetail}}</span>
            <span class="sab-row-item"> ${{activeBet.stake}}</span>
            <span class="sab-row-item"> {{activeBet.backOdd}}</span>
            <span class="sab-row-item"> ${{activeBet.layStake}}</span>
            <span class="sab-row-item"> {{activeBet.layOdd}}</span>
            <span class="sab-row-item"> ${{activeBet.liability}}</span>
            <span class="sab-row-item">  ${{activeBet.ev}}</span>
            <span class="sab-row-item"> ${{activeBet.fta}}</span>
            <span class="sab-row-item">  ${{activeBet.ql}}</span>
            <span class="sab-row-item"> {{activeBet.roi}}%</span>
          <button mat-button-raised (click)="editDeleteSab(activeBet)" class="sab-row-button"> Edit </button>
        </div>
      </mat-list-option>
    </mat-action-list>
  </div>

  <!-- <p>
    Options selected: {{activeBets}}
  </p> -->


  <div mat-dialog-content>
    <p>Make a nested list, should populate all active Bets?</p>
    <mat-form-field>
      <mat-label>Favorite Animal</mat-label>
      <input matInput [(ngModel)]="data.Selection">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Go Back</button>
    <button mat-button [mat-dialog-close]="data.Selection" cdkFocusInitial>Add Active Bet</button>
  </div>
</ng-template>

<ng-template #noSavedBets>
  <p>You currently have no Active Bets Saved</p>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Go Back</button>
    <button mat-button [mat-dialog-close]="data.Selection" cdkFocusInitial>Add Active Bet</button>
  </div>
</ng-template>

