.sab-table {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  border: 1px solid black;
}

.sab-row, .sab-title-container{
  display: flex;
  justify-content: space-between;
}

.sab-row-header {
  display: flex;
  justify-content: space-between;
}

.sab-row-item-header {
  /* margin-left: 9%; */
}

.sab-row-item{
  height: fit-content;
  padding: 2px;
}

.no-sab-message {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 15px;
  font-size: x-large;
}

.sab-row-button {
  width: 50px;
  height: min-content;
}

.sab-view-btn-container {
  padding: 8px 0;
    display: flex;
    min-height: 52px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.fc-logo {
  border: 1px black solid;
  width: 100px;
  border-radius: 100px;
  background: radial-gradient(at 50% 0, #9fa1a0, transparent 70%), linear-gradient(0deg, #586065, transparent 50%) bottom;
  padding: 5px;
}
