/* ::ng-deep.mat-dialog-container {
  color:#ffffffec;
  background-image: linear-gradient(to top, #263238 60%, #161718e6 100%);
} */

.table-container {
  margin-top: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sab-headers{
  color: #ebbf57;
  background: #263238;
  width: 77%;
  margin-bottom: 3px;
}

.sab-table {
  display: block;
  border: 2px solid #41555e;
  padding: 10px;
  border-radius: 5px;
}

.sab-title-container {
  display: inline-flex;
  position: relative;
  width: 100%;
}

.text-details {
    width: 70%;
    display: grid;
}

.team-fta-cont {
  display: inline-flex;
}

.title-details {
  margin: 0px;
  width: fit-content;
  display: inline-block;
}

.sab-row-header {
  width: 77%;
  text-align: center;
}

.row-header{
  margin-left: 0px;
}

.row-header,
.sab-row-item{
  display: table-cell;
}

.rh0 {
  width: 18%;
  padding-left: 19px;
}
.cell0 {
  width: 17%;
}
.rh1,
.rh2,
.rh3,
.rh4,
.rh5,
.rh6{
  margin-left: 0px;
  width: 7%;
  text-align: center;
}

.cell,
.cell1,
.cell2,
.cell3,
.cell4,
.cell5,
.cell6{
  width: 7%;
  text-align: center;
}

.sab-row-item{
  height: fit-content;
  padding: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.no-sab-message {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 15px;
  font-size: x-large;
}

.sab-row-button {
  width: 50px;
  height: min-content;
}

.sab-view-btn-container {
    padding: 8px 0;
    display: flex;
    min-height: 52px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.logo-container {
  display: inline-flex;
  width: 30%;
}

.logo {
  width: 100px;
  border-radius: 8px;
  margin-left: auto;
  background: linear-gradient(146deg, #2b2f31 0%, rgb(132 156 167) 25%, #474e51 40%);
  padding: 4px;
  float: right;
  border: 1px solid #ffffff2b;
}

::ng-deep.mat-form-field-label{
    color: #d6a61c !important;
}

.popup-btn {
  border: 1px #222c2f solid !important;
}

hr {
  margin-top: 5px;
}


.FTA-container {
  position: absolute;
    top: 14%;
    right: 15%;
}

.FTA-text{
  font-size: 15px !important;
  color: #ffffff !important;
  background: radial-gradient(at 76% 0, #47606d, #354750ad 70%), linear-gradient(0deg, #e0e1e2, transparent 0%) bottom;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
  padding: 5px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: default;
}
