<div class="hdr-cont">
      <div class="table-tabs">

        <button mat-raised-button
          class="fixtures-watchlist-btn"
          (click)="displaySelectedTable(tableTitle)">
          {{ tableTitle }}
          <mat-slide-toggle  class="toggle-btn-table" (change) = "toggleTable($event)">  </mat-slide-toggle></button>

        <button mat-raised-button class="generic-btn" (click)="showTable(3);">Juicy Bets</button>
        <button mat-raised-button class="generic-btn" (click)="showTable(4)">Active Bets</button>

        <ng-container  *ngIf="displayFixtures == 3">
          <button mat-raised-button (click)="clearJuicyClicked()"
          matTooltip="Clears highlighted matches"
          matToolPosition="right">
           Reset </button>
        </ng-container>
        <!-- <button mat-raised-button (click)="testToast()">TestToast</button> -->
      </div>

      <div class="date-selector">
        <mat-form-field class="hdr-date" appearance="fill">
          <mat-label>Selected date range </mat-label>
          <mat-select
            [(value)]="viewThisDate" name="dateSelect">
            <mat-option [value]="dayRange.viewValue" *ngFor="let dayRange of dateSelect" (click)="sendDateSelection(dayRange.viewValue)">
              {{dayRange.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
</div>

