.hdr-cont {
  background:#263238;
  height: 140px;
}

.hdr-cont {
  width: 100%;
  height: 48%;
  display:inline;
  margin-bottom: 10px;
}

.hdr-tabs-right {
  float: right;
}

.hdr-date {
  float: left;
}

.date-selector {
  float: right;
  margin-top: 0.6rem;
  margin-right: 30px;
}

.table-tabs {
  width: 50%;
  display: inline;
}
div.table-tabs > button {
  height: 125%;
  width: 140px;
  margin-left: 3px;
  margin-top: 15px;
  background: linear-gradient(146deg, rgb(100,116,124,1) 0%, rgb(61 78 87) 25%, rgba(55,71,79,1) 40%);
  color: #ffbf0e;
  margin-left: 10px;
  box-shadow: 1px 1px 3px -1px #ffbf0e;
  /* silver option --> box-shadow: 1px 1px 3px -1px #fff4d6; */

}
.generic-btn {
  width: 5%;
}
.fixtures-watchlist-btn {
  width: fit-content;
}

.toggle-btn-table {
  margin-left: 20px;
}

::ng-deep.mat-form-field-label {
  color: #e1ad18;
}

::ng-deep.mat-select-arrow {
  color: #f9a825;
}

::ng-deep.value-selector{
  color: white;
}


::ng-deep.mat-select-value-text{
  color: white;
}

::ng-deep.mat-slide-toggle-thumb{
background-image: url("../../assets/img/ball-20x20.png");
background-size: contain;
background-repeat: no-repeat;
}
