<div class="hdr-tab">
  <div class="hdr-tabs-left">
    <mat-form-field class="hdr-items" appearance="fill">
      <mat-label>View Range</mat-label>
      <mat-select [(ngModel)]="viewThisDate" name="dateSelect">
        <mat-option *ngFor="let dayRange of dateSelect" [value]="dayRange.value">
          {{dayRange.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="hdr-items" appearance="fill">
      <mat-label>View Mode</mat-label>
      <mat-select [(ngModel)]="viewThisMode" name="viewMode">
        <mat-option *ngFor="let mode of viewModes" [value]="mode.value">
          {{mode.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="hdr-tabs-right">
    <button class="hdr-btn"  id="hdr-hide" mat-raised-button (click)="toggle()">Main Table <mat-icon><span *ngIf="!isTableHidden">visibility_on</span><span *ngIf="isTableHidden">visibility_off</span></mat-icon></button>
  </div>
</div>
