<h1> Account Details</h1>
<h2>Hello {{accountForm.get('UserName').value}}!</h2>
<h2>{{accountForm.get('Quote').value}}</h2>

<form [formGroup]="accountForm" >
  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Username:</mat-label>
    <input formControlName="UserName" required readonly matInput placeholder="{{accountForm.get('UserName').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>First name:</mat-label>
    <input formControlName="FirstName" required matInput placeholder="{{accountForm.get('FirstName').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Last name:</mat-label>
    <input formControlName="LastName" required matInput placeholder="{{accountForm.get('LastName').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Email:</mat-label>
    <input formControlName="Email" required matInput placeholder="{{accountForm.get('Email').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Change quote:</mat-label>
    <input formControlName="Quote" required matInput placeholder="{{accountForm.get('Quote').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Change Password:</mat-label>
    <input formControlName="Password" matInput placeholder="Enter new password">
  </mat-form-field>

</form>
