<h1> Account Details</h1>
<h2>Hello {{accountForm.get('UserName').value}}!</h2>
<h2>{{accountForm.get('Quote').value}}</h2>

<form [formGroup]="accountForm" >
  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Username:</mat-label>
    <input type="text" formControlName="UserName" require readonly matInput placeholder="{{accountForm.get('UserName').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>First name:</mat-label>
    <input type="text" formControlName="FirstName" require matInput placeholder="{{accountForm.get('FirstName').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Last name:</mat-label>
    <input type="text" formControlName="LastName" require matInput placeholder="{{accountForm.get('LastName').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Email:</mat-label>
    <input type="text" formControlName="Email" require matInput placeholder="{{accountForm.get('Email').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Change quote:</mat-label>
    <input type="text" formControlName="Quote" require matInput placeholder="{{accountForm.get('Quote').value}}">
  </mat-form-field>

  <mat-form-field class="account-details" appearance="fill">
    <mat-label>Change Password:</mat-label>
    <input type="text" formControlName="Password" matInput placeholder="Enter new password">
  </mat-form-field>

</form>
