
<div class="settings-positioning-container">
  <div class="settings-view-container">
    <div class="settings-options">
      <mat-tab-group #tab animationDuration= "0ms" mat-align-tabs="center">
        <mat-tab class="setting-content" label="Account">
            <app-account-settings [accountFormValues]="settingsForm.value.account" (accountFormValuesChange)="updateAccountChanges($event)"></app-account-settings>
        </mat-tab>
        <mat-tab class="setting-content" label="Preferences">
          <app-calc [preferenceFormValues]="settingsForm.value.preferences" (preferenceFormValuesChange)="updatePreferenceChanges($event)"></app-calc>
        </mat-tab>
        <mat-tab class="setting-content" label="Filters">
          <app-filter-settings [filtersFormValues]="settingsForm.value.filters" (filtersFormValuesChange)="updateFilterChanges($event)"></app-filter-settings>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="button-container">
      <button mat-raised-button class="buttonstyles" (click)="resetSettings()">Reset</button>
      <button mat-raised-button class="buttonstyles" (click)="closeSettings()">Close</button>
      <button mat-raised-button class="buttonstyles" (click)="saveUserSettings()">Save</button>

  </div>
  </div>
    
</div>




