
<div class="fixedContainer">
  <div class="notifContainer">


    <div class="left-column">
      <div class="alertsContainer">
        <h1>Alerts & Notifications</h1>
        <mat-checkbox> Minimum Match Rating %</mat-checkbox>
        <mat-checkbox> Minimum Return %</mat-checkbox>
        <mat-checkbox> 100/1 Trigger Odds</mat-checkbox>
      </div>

      <div class="smContainer">
        <h1>Smarkets Settings</h1>
        <div class="sm-commiss"> Smarkets Commission</div>
        <input type="text" value = '{{smCommission.toFixed(2)}}%'>
      </div>
    </div>

    <div class="right-column">

      <form>
        <div class="triggerOddsMain">
          <h1>Trigger Odds 100/1</h1>
          <div class="triggerContainer">
            <div class="centerColumns">
              <div *ngFor="let range of triggerOdd">
                <input  class="triggerInput" type="text" value={{range.start.toFixed(2)}} >
                <p>-</p>
                <input class="triggerInput" type="text" value={{range.finish.toFixed(2)}}>
                <p class="rangeVar">{{(range.finish - range.start).toFixed(2)}}</p>
              </div>
                <button type="submit">Save</button>
            </div>
          </div>
         </div>
      </form>

    </div>
  </div>
</div>
