<hr>


<button mat-raised-button (click)="displayHidden = !displayHidden" >hide</button>
<div class="juicy-match-container" [style.visibility]="displayHidden ? 'visible' : 'hidden'" [style.height]="displayHidden ? '' : 0" >
  <app-juicy-match [matchesCopy] = "matches" ></app-juicy-match >
  </div>


<div class="main-container">
  <div class="first-container">
    <app-calc></app-calc>
  </div>

  <div class="second-container">
    <table mat-table [dataSource]= "matches" multiTemplateDataRows>
        <ng-container matColumnDef="AReturn">
          <th mat-header-cell *matHeaderCellDef></th>
          <td id="Artn" mat-cell *matCellDef="let match"> {{match.AReturn}}</td>
        </ng-container>

        <ng-container matColumnDef="Home">
          <th id="hteam"  mat-header-cell *matHeaderCellDef>Home</th>
          <td mat-cell *matCellDef="let match"> {{match.Home}} | <span class = "pHSM"> {{match.SMHome}} </span> </td>
        </ng-container>

        <ng-container matColumnDef="Spacer">
          <th mat-header-cell *matHeaderCellDef></th>
          <td id="spacer" mat-cell *matCellDef="let match"><span class = "time">{{match.MatchTime}} <br> <span class = "diff"> {{(match.SMHome - match.SMAway).toFixed(2)}} </span> </span></td>
        </ng-container>

        <ng-container matColumnDef="Away">
          <th id="ateam"  mat-header-cell *matHeaderCellDef>Away</th>
          <td mat-cell *matCellDef="let match"> {{match.Away}} | <span class = pASM> {{ match.SMAway }} </span> </td>
        </ng-container>


        <ng-container matColumnDef="HReturn">
          <th id="Hrtn"  mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let match"> {{match.HReturn}} </td>
        </ng-container>

        <ng-container matColumnDef="Details">
          <th mat-header-cell *matHeaderCellDef></th>
          <td id="details" mat-cell *matCellDef="let match"></td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let match; let i = renderIndex" [attr.colspan]="SecondcolumnsToDisplay.length">
          <div class="element-detail"
               [@detailExpand]="match == expandedElement ? 'expanded' : 'collapsed'">
            <div class="element-container">
              <div class="selected-team">
                <div class = "logo-cont">A</div>
                <div class = "rating"> Full Turn Around Rating</div>
              </div>

              <div class="back">Back</div>
              <div class="lay">Lay</div>
              <div class="footer" > at true index: {{i}}
                <div class="exp-col" id="SMHome"> {{match.SMHome}}</div>
                <div class="exp-col" id="SMAway"> {{match.SMAway}}</div>
                <div class="exp-col" id="League"> {{match.League}} </div>
                <div class="exp-col" id="OccH"> {{match.OccH}} </div>
                <div class="exp-col" id="BHome"> {{match.BHome}} </div>
                <div class="exp-col" id="BDraw"> {{match.BDraw}} </div>
                <div class="exp-col" id="BAway"> {{match.BAway}} </div>
                <div class="exp-col" id="BTTSOdds"></div>
                <div class="exp-col" id="B25GOdds"></div>
                <div class="exp-col" id="OccA"> {{match.OccA}} </div>
                <button mat-raised-button color = "accent">Watching {{(i -1)/2}}</button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
  </div>
</div>


<div>
  <ul>
    <li *ngFor = "let match of matchStream"> Test {{ match.HomeTeamName }}</li>
  </ul>
</div>
