
<button mat-icon-button class="setting-btn" [disableRipple]="true" (click)="toggleSideNav()"><mat-icon>settings</mat-icon></button>
<app-view-table-sidenav></app-view-table-sidenav>
<div class="mn-display">
  <app-top-layer-filters (hideTable)="displaySelectedTable($event)"></app-top-layer-filters>

        <div class="fixturesTable" [style.visibility]="tableSelected == 1 ? 'visible' : 'collapse' " [style.height]="tableSelected == 1 ? '' : '0px' " [style.margin-bottom]="tableSelected == 1 ? '5px' : '0'" [style.display]="tableSelected == 1 ? 'inline' : '' ">
          <mat-table mat-table [dataSource] ="dataSource">
            <!-- Generate Column Headers -->
               <ng-container *ngFor="let column of columns" matColumnDef= {{column.field}}>
                      <mat-header-cell *matHeaderCellDef> <span>{{column.field}}  </span></mat-header-cell>

                    <!-- Generate Data Cells -->
                    <mat-cell *matCellDef="let row; let i = index">
                      <!-- TODO filter by dates epoch time is less than time.now epoch time then do not display. -->
                      <!-- <ng-container *ngIf="oldNews(row['EpochTime'])"> -->


                          <ng-container *ngIf="column.field.endsWith('BHome') || column.field.endsWith('OccH')">
                            <div class="homeodds-container">
                              <ng-container *ngIf="column.field.endsWith('BHome')" ></ng-container>
                              <span class="{{column.field}} homeOccCell"> {{ row[column.field] | number:'0.2-2'}}</span>
                            </div>
                          </ng-container>

                          <ng-container *ngIf="column.field.endsWith('OccA') || column.field.endsWith('BAway')">
                            <div class="awayodds-container">
                              <ng-container *ngIf="column.field.endsWith('BAway')" ></ng-container>
                              <span class="{{column.field}} awayOccCell"> {{ row[column.field] | number:'0.2-2'}}</span>
                            </div>
                          </ng-container>

                          <ng-container *ngIf="column.field.startsWith('Home')">
                            <div class="{{column.field}} homelogoCell"> {{ row[column.field].substring(0, 15) }}  </div>
                            <span class="{{column.field}} homelogoCell"> <img class="bookie-logo" src="/assets/img/fcLogo/{{row[column.field].toLowerCase().split(' ').join('-')}}.png" alt=""> </span>
                          </ng-container>

                          <ng-container *ngIf="column.field.startsWith('Away') ">
                            <span class="{{column.field}} awaylogoCell"> <img class="bookie-logo" src="/assets/img/fcLogo/{{row[column.field].toLowerCase().split(' ').join('-')}}.png" alt=""> </span>
                            <div class="{{column.field}} awaylogoCell"> {{ row[column.field].substring(0, 15) }}  </div>
                          </ng-container>

                          <ng-container *ngIf="column.field.startsWith('FixturesDate')">
                            <button mat-raised-button class="fixturesDateBtn" [style.background]="row.isWatched ? 'linear-gradient(to top, #f5b95a, #ee9a12)' : 'rgb(195, 195, 195)'"(click)="addToWatchList(row);">
                              <div class="fixturesText">
                                <div class="fixturesDate"> {{row[column.field]}} </div>
                                <div class="fixturesTime"> {{row['FixturesTime']}} </div>
                              </div>
                            </button>
                          </ng-container>
                    </mat-cell>
              </ng-container>


                  <!--DOES NOTHING APPARENTLY. Keep for debug purposes for now <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" class="match-row-details-{{i}}" appInactiveMatch [match]="row" [matchIndex]="i"></mat-row>
                      <!-- Display group header -->
                      <ng-container class="groupHeaderCont" matColumnDef="groupHeader">
                        <mat-cell colspan="10" *matCellDef="let group">
                          <div class="leagueGroupContainer">
                            <h2>{{group[groupByColumns[0]]}}</h2>
                            <mat-slide-toggle
                            class="leagueToggleSelect"
                            [(ngModel)]="!group.ignoreAll"
                            (change) = "openPopUp($event, group)"
                            (click)="collapseGroup(group); $event.stopPropagation()"></mat-slide-toggle>
                          </div>
                        </mat-cell>
                      </ng-container>
            <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup;" (click)="displayMatches(row)" class="groupHeaderClass"></mat-row>
          </mat-table>
        </div>

        <!-- Display WatchList -->
        <div [style.visibility]="tableSelected == 2 ? 'visible' : 'collapse' "[style.height]="tableSelected == 2 ? ' ' : '0' " [style.margin-bottom]="tableSelected == 2 ? '5px' : '0'" [style.display]="tableSelected == 2 ? 'inline' : '' ">
          <app-watchlist (hideTable)="displaySelectedTable($event)"></app-watchlist>
        </div>

        <!-- Display Juicy Table -->
        <div [style.visibility]="tableSelected == 3 ? 'visible' : 'collapse' "[style.height]="tableSelected == 3 ? ' ' : '0' " [style.margin-bottom]="tableSelected == 3 ? '5px' : '0'" [style.display]="tableSelected == 3 ? 'inline' : '' ">
          <app-juicy-match [allMatches] ="matches" [selectionToIgnore]="ignoreList"></app-juicy-match>
        </div>
        <!-- Display Active Bets -->
        <div [style.visibility]="tableSelected == 4 ? 'visible' : 'collapse' "[style.height]="tableSelected == 4 ? ' ' : '0' " [style.margin-bottom]="tableSelected == 4 ? '5px' : '0'" [style.display]="tableSelected == 4 ? 'inline' : '' ">
          <p>Active</p>
        </div>
</div>


    <hr id="footer">

    <div class="footer-container">
      <p>Fill footer info here</p>
    </div>

