
table {
margin-left:auto;
margin-right:auto;
}
th.mat-header-cell{
  text-align: center !important;
}
#column-header{
  background-color: #39473c;
  color: rgba(50, 175, 175, 0.705);
}

td {
  border: 2px transparent black;
  text-align: center;
  color: rgba(50, 175, 175, 0.705);
  margin: auto;
  background-color: #39473c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

td, #column-header{
  font-size: 1.1em;
}
