.loginbutton{
  background-color: #37474F;
  color: #e1ad18;
  font-size: 20px;
  line-height: 1.125;
  font-family: Bahnschrift SemiBold;
  letter-spacing: normal;
  font-stretch: condensed;
  padding: 5px 65px ;
  border:solid 0.5px #7f7f7f;
  box-shadow: 0 0 11px #0b0b0ba6 ;
}


button:hover{
  box-shadow: 1px 1px 1px 1px #e1ad18;
  text-decoration: underline;
  opacity: 0.8;
}
