<div class="subscribe-container">
  <div class="outer-box">
    <div class="inner-box">
      <div class='word-box'>
        <div class="title-box">
          <h2> Subscribe</h2>
          <!-- <span>*Special promotion*</span> -->
          <div class="price-header">
            <img  class="sub-img two-up" src="../../assets/img/2upEnabled210x210.png" alt="">
            <div class="price-box">
              <span class="base-price">£14.00 per month</span>
              <span class="promote"><br>Start your 7 day free trial now | Cancel anytime</span>
            </div>
          </div>
        </div>
        <app-two-up-product-features [displayProductFeatures]="false"></app-two-up-product-features>
      </div>
      <div class="center-box">
        <div #payPalRef class="paypal-box"></div>
      </div>
    </div>
  </div>
</div>
