<div class="subscribe-container">
  <div class="outer-box">
    <div class="inner-box">
      <button (click)="showID()">Test Button ID</button>
      <div class='word-box'>
        <div class="title-box">
          <h3> MONTHLY RATE</h3>
          <span>*Special promotion*</span>
          <span class="base-price">£15.00</span>
          <span class="promotion-price">£10.00</span>
          <em>per month</em>
        </div>
        <ul>
          <li>Almost Real-Time odds data comparison</li>
          <li>Customised Expected Value calculations</li>
          <li>Advanced match filtering, easily find value faster</li>
          <li>Receive notifications off min/max odds + EV/MR/QL</li>
          <li>Bets logging and storing</li>
          <li>Cancel Anytime</li>
        </ul>
      </div>
      <div class="center-box">
        <div #payPalRef class="paypal-box"></div>
      </div>
    </div>
  </div>
</div>
