.subscribe-container{
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
}

.outer-box{
  width: 100%;
}

.base-price {
  /* text-decoration: line-through;
  color: red; */
  font-size: 1rem;
}

.inner-box{
  display: inline;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.word-box{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.title-box{
  display: inline;
  text-align: center;
  background: #313b4080;
  border-radius: 36px;
  width: 400px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #f9a825;
  margin-left: auto;
}

.promote{
  color: white;
}

h4{
  color: #f9a825;
}

.highlight{
  color: #f9a825;
}
.sales-box{
  display: inline-block;
  width: 100%;
}

.sales-row{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.sales-cell{
  display: -webkit-inline-box;
  margin: 0px;
  padding: 5px;
  width: 26%;
}

.sub-img{
  max-width: 115px;
}

.ball-bullet{
  margin-right: 5px;
  width: 10px;
}

.center-box{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.paypal-box{
  justify-content: center;
}

ul{
  width: 100%;
  list-style: none;
  padding: 0px;
}
li{
  text-align: center;
  padding: 5px 0px
}




