<app-product-features></app-product-features>



<div class="sales-box">
  <div class="sales-row">
    <div class="sales-cell">
      <img class ="ball-bullet" src="../../assets/img/ball-20x20.png" alt="">
      <div class="info-wrapper">
        <h4>Up-to-date odds data comparison</h4>
        <p> Custom filters and notifications, focus on the fixtures you want.</p>
      </div>
    </div>
    <div class="sales-cell">
      <img class ="ball-bullet" src="../../assets/img/ball-20x20.png" alt="">
      <div class="info-wrapper">
        <h4>Custom watchlist view </h4>
        <p>Filter the upcoming fixtures list to focus on games of interest.</p>
      </div>
    </div>
    <div class="sales-cell">
      <img class ="ball-bullet" src="../../assets/img/ball-20x20.png" alt="">
      <div class="info-wrapper">
        <h4>Flexible expected value settings</h4>
        <p>User defined EV settings to accurately track profits the way you want.</p>
      </div>
    </div>
  </div>

  <div class="sales-row">
    <div class="sales-cell">
      <img class ="ball-bullet" src="../../assets/img/ball-20x20.png" alt="">
      <div class="info-wrapper">
        <h4>2Up rating system</h4>
        <p> Identify the best potential games for a 2Up with our custom full turnaround indicator.</p>
      </div>
    </div>
    <div class="sales-cell">
      <img class ="ball-bullet" src="../../assets/img/ball-20x20.png" alt="">
      <div class="info-wrapper">
        <h4>Custom filters and notifications</h4>
        <p>Focus on the fixtures, leagues and odds ranges that you want.</p>
      </div>
    </div>
    <div class="sales-cell">
      <img class ="ball-bullet" src="../../assets/img/ball-20x20.png" alt="">
      <div class="info-wrapper">
        <h4>Bet tracking tool</h4>
        <p>Track your recorded bets with speed ease and efficieny.</p>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="redirect">
  <p class="redirect-message">Want more information? Click <span class="highlight" (click)="login()">here</span> to Join or Log in.</p>
</div>

