:host {
  background-color: #263238;
  background-image: url(/assets/img/notificationbackground1280x800.png);
  background-repeat: no-repeat;
  color: black;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 0px;
  width: 114px;
  height: 76px;
  border-radius: 3px 3px 3px 3px;
  pointer-events: all;
  cursor: pointer;
  bottom: 0px;
  font-size: 0.8rem;
}

/* :host.border-gold{
border-top: 1px solid #ffc235;
}*/


.toast-title{
  margin-top: 0px;
  text-align: center;
  color: lightgray;
  height: 20px;
  max-height: fit-content;
  width: 100%;
  font-family: 'Prompt';
  font-size: 0.75rem;
  line-height: 11px;
  font-weight: 300;
  text-shadow: 1px 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.backOdds{
  display: flex;
  line-height: 175%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #37474f;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  margin-left: 50%;
  height: 54px;
}

.backOdds > div.subheader {
  /*font-size: large;*/
  text-align: center;
  color: white;
}

.toast-message{
  margin-top: 2%;
}
