:host {
  background-color: pink;
  background-image: url(/assets/img/notification-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 10px 10px 10px 10px;
  width: 350px;
  height: 233px;
  border-radius: 3px 3px 3px 3px;
  pointer-events: all;
  cursor: pointer;
  bottom: 0px;
}

:host.border-gold{
border-top: 1px solid #ffc235;
}
.toast-title{
  margin-top: 15%;
  text-align: center;
  color: #ef9e1b;
  font-size: 125%;
}


.backOdds{
  margin-top: 10%;
  margin-left: 50%;
}

.backOdds > div.subheader {
  font-size: 150%;
  text-align: center;
  color: white;
}
.toast-message{
  margin-top: 2%;
}
