:host {
  background-color: #263238;
  background-image: url(/assets/img/notificationbackground1280x800.png);
  background-repeat: no-repeat;
  color: black;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 0px;
  width: 114px;
  height: 76px;
  border-radius: 3px 3px 3px 3px;
  pointer-events: all;
  cursor: pointer;
  bottom: 0px;
}

:host.border-gold{
/*border-top: 1px solid #ffc235;*/
}
.toast-title{
  margin-top: 5%;
  text-align: center;
  color: white;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}


.backOdds{
  margin-left: 50%;
  margin-top: 0%;
  display: grid;
  line-height: 175%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #37474f;

}

.backOdds > div.subheader {
  /*font-size: large;*/
  text-align: center;
  color: white;
}

.toast-message{
  margin-top: 2%;
}
