<table class="mat-elevation-z8" mat-table
      matSort (matSortChange)="sortData($event)"
      [dataSource]="dataSource"
      multiTemplateDataRows>
  <ng-container matColumnDef="{{column.field}}" *ngFor="let column of activeHeaderAliases">
    <form [formGroup]="PandLform">
      <th mat-header-cell class="column-head" mat-sort-header *matHeaderCellDef> {{column.alias}} </th>


    <td mat-cell
      class="mat-column{{flickerColmnIndex}}-data mat-cell-withdata table-format"
      *matCellDef="let sab; let i = dataIndex"
      (click)="loadGroup(i); showSelectionValues(sab, i);">

      <div *ngIf="column.field.endsWith('created') || column.field.endsWith('matchDetail')" class="match-date">
        {{ sab[column.field] | date: 'EEE dd LLL' }} {{ sab[column.field] | date: 'HH:mm' }}
      </div>

      <div *ngIf="column.field.endsWith('isSettled')" [appSettledBet] [isSettled]="sab.isSettled">
      <ng-container *ngIf="sab.betState else hideChevron">
        <div class="settle-bet-cont">
        <ng-container *ngIf="!sab['isSettled'] else displaySettled">
        <mat-form-field class="pl-input">
          <mat-label > <span class="pl-label"> Settle Bet </span></mat-label>
            <input
            matInput
            formControlName="ProfitLoss"
            type="number"
            placeholder="{{sab.betState ? 'P/L' : 'Unmatched'}}">
          </mat-form-field>
        </ng-container>
        <ng-template #displaySettled>
          <div class="settled-bet">
            <p class="chevron-locked"> Settled  </p>
          </div>
        </ng-template>
        <div>
          <mat-icon class="chevron-right"
          (click)="sab[column.field]=!sab[column.field]; savePL(sab,i); $event.stopPropagation()"
          [ngClass]="sab['isSettled'] ? 'settled-overlay' : 'btn-default glow'">chevron_right
          </mat-icon>
        </div>

          </div>
        </ng-container>
        <ng-template #hideChevron>
          <div class="unmatched-text">
            <p>Unmatched Bet</p>
          </div>
        </ng-template>
        </div>

      <div *ngIf="column.field.endsWith('pl')">
        <ng-container *ngIf="sab['isSettled'] else hidePL">
          <p class="settled-bet-value"> {{sab['pl'] | currency:'GBP' }}</p>
        </ng-container>
        <ng-template #hidePL>
          <p class="unsettled-bet">- - -</p>
        </ng-template>
      </div>

      <div *ngIf="column.field.endsWith('delete')">
        <ng-container *ngIf="!sab.isSettled">
          <mat-drawer-container class="delete-container" autosize disableClose="false">
            <mat-drawer #drawer class="delete-sidenav" mode="side" position="end" >
              <div class="confirm-delete">
                <button class="confirm-delete"  mat-raised-button (click)="deleteSAB(sab); drawer.toggle();"><mat-icon class="confirm-delete">delete_outline</mat-icon> </button>
              </div>
            </mat-drawer>
            <button class="status-button" mat-raised-button (click)="drawer.toggle(); $event.stopPropagation()">
              <mat-icon>clear</mat-icon></button>
            </mat-drawer-container>
          </ng-container>
        </div>
      <div *ngIf="column.field.endsWith('stake') || column.field.endsWith('ql') ">
        {{sab[column.field] | currency:'GBP' }}
      </div>

      <div *ngIf="column.field.endsWith('occ')" class="occ-wrapper">
        {{sab[column.field]}}
      </div>

      <div *ngIf="column.field.endsWith('fixture') || column.field.endsWith('selection')  || column.field.endsWith('backOdd') ||  column.field.endsWith('layOdd') || column.field.endsWith('layStake') ">
        {{sab[column.field]}}
      </div>
    </td>
  </form>
  </ng-container>



  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let sab; let i =dataIndex" [attr.colspan]="columnsToDisplay.length">
      <div class="juicyMatch-detail"
           [@detailExpand]="sab == expandedElement ? 'expanded' : 'collapsed'">
      <ng-container *ngIf="expandedElement === sab">
        <form class="form-container"  [formGroup]="selectionValues">

        <div class="expanded-content"  [ngClass]="sab['isSettled'] ? 'settled-overlay' : 'jm-exp-details'"> <!--Expansion container for juicy match-->


          <div class="jm-expanded-container"> <!-- Relevant match values -->

            <div class="teamname shadow">
              <div class="teamnamecontainer">
                <div class="teamname-container">
                  <div class="selection">
                    <div>{{sab.selection}}</div>
                  </div>
                  <div class="logo-img-cont">
                    <div class="logo-cell">
                      <img src="/assets/img/fcLogo/{{sab.logo}}.png">
                    </div>
                </div>
                <div class="leaguename">
                  <p>{{sab.league}}</p>
              </div>
                </div>

              </div>
            </div>


            <div class="bookie shadow">
              <div class="bookiecontainer">

                <div class="bookie-container-disp">
                      <p class="bookie-text-lhs">Back Bet</p>
                      <button tabindex="-1" class="bookie-button-container shadow" mat-raised-button href= "" ></button>
                </div>

                <div class="bookie-container">
                  <div class="bookie-row">
                    <p class="bookie-text-rhs">Stake</p>
                    <input
                      class="value-box-back"
                      formControlName="Stake"
                      required
                      step="10"
                      type="number"
                      placeholder="{{sab.stake}}">
                  </div>

                  <div class="bookie-row">
                    <p class= "bookie-text-rhs">Odds </p>
                    <input tabindex="0"
                    class="value-box-back"
                    formControlName="BackOdds"
                    required
                    type="number"
                    step="0.1"
                    placeholder="{{sab.backOdd | number:'0.2-2'}}">
                  </div>
                </div>
              </div>
            </div>

            <div class="exchange shadow">

              <div class="exchangecontainer">

                <div class="exchange-container-disp" >
                  <p class="exchange-text-lhs">Lay Bet </p>
                  <button tabindex="-1" class="exchange-button-container mat-raised-button-bookie-exchange shadow" mat-raised-button href=''></button>

                </div>

                <div class="exchange-container-input" >
                  <div class="exchange-row">
                    <p class="exchange-text-mid">Stake </p>
                    <input tabindex="6"
                      class="value-box-laystake"
                      [readOnly]="true"
                      placeholder="{{sab.layStake | number:'0.2-2' }}">
                  </div>

                  <div class="exchange-row">
                    <p class="exchange-text-mid">Odds </p>
                    <input tabindex="0"
                      class="value-box-lay"
                      formControlName="LayOdds"
                      type="number"
                      step="0.1"
                      placeholder="{{sab.layOdd| number:'0.2-2'}}">
                  </div>
                </div>

                <div class="exchange-container-output">
                  <div class="exchange-row">
                    <p class="exchange-text-comm">Comm.: {{userCommission | number:'0.2-2' }}%</p>
                  </div>
                  <div class="exchange-row exchange-row-button" tabindex="1">
                    <button  mat-raised-button class="bet-state-button" [disabled]="sab.isSettled"  [style.background]="sab.betState ? ' #076044' : '#8a0606'" (click)="sab.betState = !sab.betState">{{ sab.betState ? 'Matched' : 'Unmatched'}}</button>
                  </div>
                  <div class="exchange-row">
                    <p class="liability-text">Liab.:</p>
                    <p class="liability-amount">{{ Liability(getGroup(i).get('LayOdds').value, LayStake(getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, getGroup(i).get('Stake').value)) | currency:'GBP'}} </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="calculated shadow">
              <div class="calculatedcontainer">
              <!-- Comment Box -->
              <div class="calculated-container-comments">
                <div class="comments-cont">
                  <mat-form-field tabindex="1" class="user-comments" appearance="outline">
                    <mat-label class="auto-calc-label">Comments | {{selectionValues.value.MatchInfo == null ? selectionValues.value.MatchInfo == ' ' : selectionValues.value.MatchInfo.length}}/140</mat-label>
                    <textarea class="auto-calc-input" formControlName="MatchInfo" matInput [maxlength]="140" placeholder=""></textarea>
                  </mat-form-field>
                </div>
              </div>
              <!-- Calculated Values -->
              <div class="calculated-container">

                <div class='valueheadercontainer'>
                  <div class="odds-cell">
                    <div class="calculated-item">
                      <span class="roi-text">ROI </span>
                    </div>
                    <div class="calculated-item">
                      <hr class="ROIdivider">
                    </div>
                    <div class="calculated-item">
                      <span class="ROIvalue" *ngIf="sab.isBrkzFTA == 1">{{ ROI(getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, sab.occ) | number:'0.2-2'}}%</span>
                      <span class="ROIvalue" *ngIf="sab.isBrkzFTA == 0 || undefined">{{ ROI(getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, 65) | number:'0.2-2'}}%</span>
                    </div>
                  </div>

                  <div class="odds-cell">
                    <span class="ev-text">EV </span>
                    <hr class="EVdivider">


                  <span class="EVvalue" *ngIf="sab.isBrkzFTA == 1">{{ TotalEV( sab.occ,  getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value)/sab.occ  | currency:'GBP' }}</span>
                  <span class="EVvalue" *ngIf="sab.isBrkzFTA == 0 || undefined">{{ TotalEV( 65,  getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value)/65  | currency:'GBP' }}</span>

                  </div>

                  <div class="odds-cell">
                    <span class="mr-text">MR </span>
                    <hr class="MRdivider">
                    <span class="MRvalue">{{ NewMatchRating( getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value)  | number:'0.2-2' }}%</span>
                  </div>
                </div>

                <div class='valueheadercontainer2'>
                  <div class="odds-cell">
                    <span class="FTAText">FTA </span>
                    <hr class="FTAdivider">
                    <span class="FTAvalue">
                      {{ FTA(getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value  ) | currency:'GBP'}}</span>
                  </div>

                  <div class="odds-cell">
                    <span class="QLPercenttext">QL% </span>
                    <hr class="QLPdivider">
                    <span class="QLPercentagevalue">
                      {{ NewSS(  getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, getGroup(i).get('Stake').value ) | number:'0.2-2' }}%</span>
                  </div>

                  <div class="odds-cell">
                    <span class="QLText">QL </span>
                    <hr class="QLdivider">
                    <span class="QLvalue">
                       {{ QL( getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, getGroup(i).get('Stake').value) | currency:'GBP'}}  </span>
                  </div>
                </div>
               </div>

              </div>
              <button tabindex="0" mat-raised-button class="exp-button" [disabled]="sab['isSettled']"  (click)="updateSAB(sab, i); expandedElement=null"><span class="record-text">UPDATE</span></button>
            </div>
          </div>
        </div>
        </form>
      </ng-container>
     </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let sab; columns: columnsToDisplay;"
      class="sab-row"
      [class.sab-expanded-row]="expandedElement === sab"
      (click)="expandedElement = expandedElement === sab ? null : sab;">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="sab-detail-row"></tr>
</table>
<div class="no-content" *ngIf="isEmptySABList">All bets settled!</div>
