<h2>Privacy policy</h2>
<mat-dialog-content class="mat-typography about-us-cont">

  About this Privacy policy
  We know how important it is for you to understand how we use your data. This Privacy Policy explains how we use any personal data you provide us with when you use our services.
  We will always be transparent with you about what we do with your personal data. We only collect, store and process your personal data in accordance with the relevant laws and regulations.
  This Privacy Policy also explains your rights in relation to the personal data that we collect about you. By accessing and browsing our website you are confirming that you have read and understood this Privacy Policy, so please make sure you have read it carefully.
  We are Juicy-Bets Entertainment LTD. Company number BC1305438. Our registered address is 1378 Pilot Way, Nanoose Bay, BC V9P 988, Canada.

  1. What personal data do we collect?
  The personal data we collect from you may include:
  Your name and title
  Your email address
  Your mobile telephone number
  Your date of birth
  Your address
  Your purchasing activity
  Your credit or debit card, or other payment information
  Your account password and login details
  Your comments, product reviews and responses on surveys you complete
  Website / browsing history, including location data. Cookie information (please see our Cookie Policy for details)
  It may also include any information you give us:
  When you engage with our social media platform (for example by tagging us in a post on Instagram or Facebook)
  your IP address or other device identifier
  your browser type and version
  your time zone setting
  operating system and platform

  2. When do we collect your personal data?
  When you purchase products and services from us
  When you access our website, our website also uses cookies; to find out more about the use of cookies and how you can manage them, please read our Cookie policy
  When you contact us or we contact you to take part in surveys, competitions or promotions
  When you contact our Customer Services team via phone or web chat
  When you engage with us on social media (by mentioning/tagging us or by contacting us directly)

  3. How we use this personal data:
  To fulfil your order, take payment from you i.e. taking payment, update you regarding the status of your order.
  Why we do it
  We rely on our contractual arrangements with you as the lawful basis on which we collect and process your personal data when you make an order for products and services.
  To manage any issues during order fulfilment. This would also refunds.
  Why we do it
  We've got to do this to perform our contract with you. We may also keep a record of this to comply with our legal obligations.
  When you purchase from us, we will ask you if you want to consent to email and SMS marketing.
  To sign you up to receive our email Newsletters by submitting your details via our online form.
  Why we do it
  You consent to receive our email Newsletters if you chose to sign up by completing and submitting our online form. You can opt out of these at any time through your account settings.
  To send you offers and promotions.
  You can opt out of these at any time through your account settings.
  To verify your identity when you access your profile, or to contact you to perform security checks.
  Why we do it
  We have a legitimate interest in ensuring that you are who you say you are to ensure good and services are provided to the correct person.
  In the detection and prevention of fraud or other crimes.
  Why we do it
  We have a legitimate interest in protecting ourself from Fraud.
  To monitor and improve the services and the Website, including monitoring browsing activity and session replays.
  Why we do it
  We have a legitimate interest in monitoring the websites to improve customer experience.
  To invite you to take part in surveys
  Why we do it
  We have a legitimate interest in selling our products and improving our customer experience. We don't need your consent to send you these communications but they will not include any promotional content unless you have opted-in to receive marketing from us. We use responses from surveys to monitor and improve the quality of our products and services and your overall customer experience.
  To send you marketing promotions and offers by email and SMS for services, (subject to your preferences). Please see the section below on Marketing for more information.
  Why we do it
  We will do this based on the consent you give us when you register with us online. You are free to opt-out of receiving these communications at any time.
  To send you communications via selected channels push notifications that you sign up to via your personal device to keep you up to date with our latest offers and promotions.
  Why we do it
  We will do this based on the consent you give us when you sign up to receive these notifications. You can stop receiving these at any time. Please see our Marketing section for more details.
  To send you service emails or communications required by law to update you about any changes to our services.
  Why we do it
  We need to do this to comply with our legal obligations. We don't need your consent to send you these communications but they will not include any promotional content.

  Personal data: Your payment details
  How we use this personal data:
  To fulfil your order, i.e. taking payment, updating you regarding the status of your order. As well as managing any issues during order fulfilment.
  Why we do it
  We've got to do this to perform our contract with you.
  Personal data: Your login and Password
  How we use this personal data:
  To verify your identity when you access your account.
  Why we do it
  has legitimate interest in ensuring that you are who you say you are to ensure goods and services are provided to the correct person.
  Personal data: Your device information, preferences and cookies provided when you browse our website
  How we use this personal data:
  To tailor your experience online and send you personalised emails so that we can offer you goods and services and promotions, offers and events we think you will be interested in.
  Why we do it
  We will do this where you have consented to the use of cookies on our database. Please see our section on Cookies and our Cookie Policy for more details. You can manage your cookie settings at any time.
  To show you advertising on such Social Media platforms as Facebook and Twitter or third party advertising that may appear on other websites you use.
  Why we do it
  We will do this where you have consented to the use of cookies on our database. Please see our section on Cookies and our Cookie Policy for more details. You can manage your cookie settings at any time.
  To combine the information that we collect directly from you with any information that we obtain from third parties to whom you have given your consent to pass that data onto us, such as the Social Media platforms and publicly available information we describe above.
  Why we do it
  JUICY-BETS ENTERTAINMENT LTD. has legitimate interest in understanding our customers and what will interest them for the best customer experience. This also helps us identify trends in different countries which helps us to better understand our customers in those countries.
  To combine with personal data that we collect directly from you (including survey responses) with any information that we obtain from third parties in order to classify our customers into segments, using shopping habits information regarding your personal or professional interests, demographics, experiences with our products and contact preferences.
  Why we do it
  JUICY-BETS ENTERTAINMENT LTD. has legitimate interest in understanding our customers and what will interest them for the best customer experience. These segments help us to understand our customers better. To the extent we receive data from third parties, this will be based on the permission you have given that third party to share your data with us.
  Personal data: Financial information, social media information
  How we use this personal data:
  When combined with personal identification and contact details to investigate cases of fraud.
  Why we do it
  JUICY-BETS ENTERTAINMENT LTD. has legitimate interest in protecting ourselves from various types of fraud.
  To make our products and services available to you
  We use your personal data to provide you with the information, products and services that you request or purchase from us (i.e. to complete certain tasks, processes or orders on our website or within our apps and take payment online and to communicate with you regarding those products and services that you purchase from us and respond to your questions and comments;
  We may also use your personal data to measure how satisfied our customers are and provide customer service (including troubleshooting in connection with purchases or your requests for services or when you ask us questions on social media);
  Alternatively, in some cases, we rely on our legitimate interests as a business (for example, to measure customer satisfaction and troubleshoot customer issues). Where we rely on our legitimate interests, we will always make sure that we balance these interests against your rights.
  For administrative and internal business purposes
  We may use your personal data for our internal business purposes, such as enhancing our site, improving our services and products and identifying usage trends. We may also use your data to monitor the use of our website and ensure that our website is presented in the most effective and relevant manner for you and your device and setting default options for you (such as language);
  It is in our legitimate interests as a business to use your personal data in this way. For example, we want to ensure our website is customer friendly and works properly and that our products and services are efficient and of high quality. We also want to make it easy for you to interact with us. Where we rely on our legitimate interests, we will always make sure that we balance these interests against your rights.
  For security and legal reasons
  We use your personal data to:
  ensure the personal and financial information you provide us is accurate;
  conduct fraud checks or prevent other illegal activity;protect our rights or property (or those of others); and
  fulfil our legal and compliance-related obligations.In some cases, we will use your personal data because it's necessary for us to comply with a legal obligation (such as if we receive a legitimate request from a law enforcement agency). In other cases (such as the detection of fraud) we will rely on our legitimate interests as a business to use your personal data in this way. Where we rely on our legitimate interests, we will always make sure that we balance these interests against your rights.
  We rely on your consent to send SMS and email marketing messages to you as a JUICY-BETS ENTERTAINMENT LTD member based on the consent we acquired from you when you signed up, as amended by you from time to time.
  In other cases (for example, measuring the effectiveness of our marketing), we will rely on our legitimate interests as a business to communicate with our JUICY-BETS ENTERTAINMENT LTD members in an engaging and efficient way. Where we rely on our legitimate interests, we will always make sure that we balance these interests against your rights.
  To personalise your experience and improve our operations
  We use your personal data to:
  allow you to create a profile on our website which enables you to purchase JUICY-BETS ENTERTAINMENT LTD. products and services online without having to fill in your personal data every time you purchase;
  provide you with marketing material via SMS and email;
  It is in our legitimate interests as a business to use your data in this way and we do this in order to enhance your experience with us. When we send you marketing material via SMS, and email, we will rely on our legitimate interests as a business, always ensuring that your rights are protected.For information on how we use cookies, please see our Cookie policy.

  4. Who do we share your personal data with?
  We will never sell any of your personal data to a third party.
  To fulfil orders for products and services
  We work with a number of trusted service providers who carry out services on our behalf. When you purchase products and services from us, the services provided by these organisations process payments. It is in our legitimate interests as a business to work with these service providers since we may not have the capabilities to provide these services ourselves. In each case, we will ensure that the service provider is only allowed to use your personal data in order to provide the services to us and for no other purpose.
  To prevent crime and comply with laws
  We share your financial information including your credit, debit card or other payment information with third parties to ensure that your payment is safe and that your details are not being used fraudulently. This data sharing enables us to conduct fraud analysis which ensures that genuine and accurate payment details are provided to us for any purchase.
  There may be other scenarios where we are subject to a legal obligation to share or disclose your personal data, such as with law enforcement agencies or public authorities in order to prevent or detect crime or fulfil a legal requirement.
  For the purposes of preventing crime, JUICY-BETS ENTERTAINMENT LTD. will use its legitimate interests to share certain information with third parties with which it has data processing agreements. This may include potentially identifiable information collected during JUICY-BETS ENTERTAINMENT LTD.'s monitoring activities.

  5. Your rights
  You have a number of rights relating to your personal data and what happens to it. You are entitled to:
  have your data processed in a fair, lawful and transparent way;
  be informed about how your personal data is being used, an example being this privacy policy;
  access personal data we hold about you;
  require us to correct any mistakes in your personal data;
  require us to delete personal data concerning you in certain situations where there is no good reason for us to continue to process it;
  request that we transfer your personal data to you or another service provider in a simple, structured format;
  object at any time to processing of your personal data for direct marketing purposes;
  object to automated decision making which produces legal effects concerning you or similarly significantly affects you;
  object in certain other situations to our continued processing of your personal data; and
  otherwise restrict or temporarily stop our processing of your personal data in certain circumstances.
  You can read more about your rights, including the circumstances in which they apply, in the Guidance from the UK Information Commissioner’s Office (ICO) https://ico.org.uk/for-the-public. You also have the right to complain about our use of personal data to the ICO. You can do these by contacting the ICO via their website https://ico.org.uk/concerns or by calling 0303 123 1113.
  If you would like to speak to us in relation to any of your rights, please contact us.

  6. Changing your preferences
  If you no longer wish to be contacted by us about our products or services, or for other marketing purposes, you can amend your preferences or unsubscribe by contacting us. Alternatively, if you have a profile on the JUICY-BETS ENTERTAINMENT LTD. website, you can unsubscribe by logging into your account, or simply follow the unsubscribe link provided in emails you receive from us.
  We want to ensure that all the information we have about our customers is factually correct and up to date. If you find that the personal data we have about you is inaccurate or needs updating (for instance, you may have changed your name or address) then please contact us so that we can correct it. If you have created a profile on the JUICY-BETS ENTERTAINMENT LTD. website, you can change the details stored about you by logging into your account.

  7. Security and retention of your personal data
  Security of your personal data
  We take the security of your personal data very seriously. We have implemented various strategies, controls, policies and measures to keep your data secure and keep these measures under close review. We protect your data by using encryption techniques and we use other safeguards such as firewalls and password protection.
  Retention of your personal data
  In broad terms, we will only retain your personal data for as long as is necessary for the purposes described in this Privacy policy. This means that the retention periods will vary according to the type of the data and the reason that we have the data in the first place.
  We have procedures in place regarding our retention periods which we keep under review taking into account our reasons for processing your personal data and the legal basis for doing so.

  8. Marketing
  If you have given us your contact details, we may use these (in accordance with any preferences you have expressed) to send you marketing messages by email and SMS, to keep you aware of what we're up to and to help you see and find our products. This includes sending details of special offers, services and promotions from JUICY-BETS ENTERTAINMENT LTD..
  As part of running our business, JUICY-BETS ENTERTAINMENT LTD. has a legitimate interest to promote our products using marketing messages to existing customers of JUICY-BETS ENTERTAINMENT LTD. unless you have asked us not to.
  When we collect your personal data, we give you the opportunity to opt-in to receive those marketing messages by simply ticking the boxes. Should you change your mind, you can stop receiving marketing messages.
  How to stop marketing messages from JUICY-BETS ENTERTAINMENT LTD.
  You can stop receiving marketing messages from us at any time. For email marketing, the best way to do this is to click on the 'unsubscribe' link in any email you receive. You can also go onto your online profile on the JUICY-BETS ENTERTAINMENT LTD. website where you can opt out of all types of marketing.
  It might take some time for all our systems to be updated, so you might get messages from us while we fully process your request, but we will ensure that we mark you as having opted out on our database as soon as we receive your request.

  9. Cookies
  Cookies are small encrypted text files that are stored on your device by a website. Our website uses cookies to enhance your experience and to analyse our traffic.
  For further information visit http://aboutcookies.org.uk/
  You can set your browser not to accept cookies and the above website tells you how to remove cookies from your browser. However, in a few cases some of our website features may not function as a result.
  View our Cookie Policy for more information.

  10. Changes to this Privacy policy
  We may update this Privacy policy from time to time. If we make significant changes, we will let you know but please regularly check this policy to ensure you are aware of the most updated version.
  11. Contact
  If you have any questions about this Privacy Policy or your rights under it, please contact
  Daniel Brooks – JUICY-BETS ENTERTAINMENT LTD. dbrooks@juicy-bets.com +66(0) 810 310 897


</mat-dialog-content>
