<h2>Juicy 2Up</h2>
<mat-dialog-content class="mat-typography">
  <h2>What is 2Up?</h2>
  <p> &nbsp;“2Up” also known as “Early Payout” promotions are a well-known matched betting technique. They are also becoming more popular with bookmakers.
    At the time of writing this, the promotion is available at Bet365, Paddy Power, Sporting Index and StarSports. <br>
    Bet365’s terms for the Early Payout offer state the following:</p> <br>
    <div class="italicize-league">
      <span class="league-list"> Place a pre-match bet on the standard Full Time Result market for games from the Premier League, Spain La Liga, Championship, FA Cup, EFL Cup, Italian Serie A,
        Germany Bundasliga, Champions League, Europa League, French Ligue 1, Scottish Premiership, English Championship, English League 1, English League 2 and we’ll
        settle your bet as a winner if the team you back goes 2 goals ahead. </span>
    </div>

   <br>
   <p>&nbsp;To extract value from this offer, we need to place 2 bets each time we attempt it. We will place a back bet at
      Bet365 and a lay bet at a betting exchange.</p>
     <mat-expansion-panel class="expansion-panel" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="popup-dialog">
          What is a betting exchange?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="definition">
        <h3>Betting exchange: A platform that allows users to bet against each other.<span class="important"> Instead of placing your bet against a bookmaker, you place it against another person. </span></h3>
      </div>



       <p>You can play the role of ‘customer’ and bet that something WILL happen or you can play the role of ‘bookmaker’ and bet that something WON’T happen. Being able to bet
        that something won’t happen is what makes matched betting possible.</p>
        <div class="example-cont">
         <p><u>Example: Chelsea vs. Liverpool</u> <br><br>
          You go to Bet365 and <u>place a bet on Chelsea to win the game</u>. In this case you play the role of 'customer', and this is known as placing a <span class="important">BACK bet.</span> <br><br>
          Then, you go to a <span class="important">betting exchange</span> and <u>bet on Chelsea to lose the game</u>. You are playing the role of 'bookmarker' and this is known as placing a <span class="important">LAY bet</span>. <br><br>
          IMPORTANT! <span class="important"> When you LAY <u>you are wagering on Chelsea to lose</u>. You are not wagering on Liverpool to win!</span><br><br>
          <u>In Summary:</u> <br>You have a position on Chelsea with Bet365 to win the game (Back position) and a position on Chelsea to lose the game (Lay position).</p>
        </div>

    </mat-expansion-panel>
    <p>
      More text...does it move?
    </p>
</mat-dialog-content>
