
<div class="two-up-logo">
  <h2>Juicy2Ups Subscription</h2>
  <img src="../../assets/img/jbLogo.png" alt="">
</div>
<div class="billing-info-wrapper">

  <div class="billing-details">
    <div class="billing-information">
      <p class="normal-text">Account ID: <span class="billing-value"> {{subscription}}</span></p>
      <p class="small-text">Please quote your Account ID when contacting our support team.</p>
      <!-- <p class="normal-text">Last payment recieved: <span class="billing-value"> {{lastPaid}}</span></p> -->
      <!-- <p class="normal-text">Last payment amount:<span class="billing-value"> *PlacemarkerValue </span></p> -->
      <ng-container *ngIf="subscriptionStatus =='CANCELLED' else normalMessage">
        <p>Subscription access ends: <span class="billing-value">{{nextPayment}}</span> </p>
        <!-- <p>Next payment amount: <span class="billing-value">£0.00</span></p> -->
      </ng-container>
      <ng-template #normalMessage>
        <p>Next payment date: <span class="billing-value">{{nextPayment}}</span></p>
        <!-- <p>Next payment amount: <span class="billing-value">*get Variable*</span></p> -->
      </ng-template>

      <p>Reccuring payment status: <span class="billing-value">{{subscriptionStatus}}</span></p>
      <div class="cancel-recurring-toggle">
        <p class="small-text"> Cancel recurring payment</p>
        <mat-checkbox [(ngModel)]="checked" [disabled]="subscriptionStatus =='CANCELLED'">Yes</mat-checkbox>
      </div>
      <p>Billing sent to: <span class="billing-value">{{paymentEmail}}</span></p>
    </div>

    <div class="billing-cancellation">
      <div class="cancellation-container" [ngClass]="checked?'unhide':'hide'">
        <p>Are you sure that you would like to cancel your reoccurring payment for Juicy2Ups?</p>
        <div class="button-wrapper">
          <button mat-raised-button (click)="cancelSubscription();">Yes, I'm sure!</button>
          <button mat-raised-button (click)="sillyClick()">No thanks!</button>
        </div>
      </div>
    </div>
  </div>


  <div class="billing-contacts">
    <p>If you have any questions about your subscription, contact our support team at <span class="support">support@juicy-bets.com</span> from your registered email address. Please provide your Account ID.</p>
  </div>
</div>

