/*Page Header*/
table, .table-title, .no-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.no-content {
  color: black;
  text-align: center;
  padding-top: 30px;
  height: 200px;
}
table, .no-content {
  height: 400px;
  background: #e0e1e2;
}
.hdr-items {
  display: inline-block;
}
.hdr-tabs {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/*Main Container for all */
.table-container {
  margin-bottom: 130px;
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  height: 60%;
}

/* Main Juicy column headers hooks and rows juicy rows */
.mat-column-BackOdds, .mat-column-LayOdds, .mat-column-EVthisBet, .mat-column-MatchRating {
  text-align: center;
  font-size: large;
  font-weight: 500;
}
.mat-cell {
  /*-right:  1px solid #00000012;*/
  line-height: 0%;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom-width: 0;
}
.mat-raised-button-bookie-exchange {
    position: absolute;
    left: 84%;
  }

.mat-cell-withdata { /*Added this class to add borders to only the cells/rows that have content *?
  /*border-right:  1px solid #bebcbc;*/
  line-height: 0%;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom:  1px solid #bebcbc;
}
.mat-column-Selection {
  font-size: large;
  font-weight: 500;
}
tr.juicyMatch-detail-row {
  height:0;
}

/* hover change background */
tr.juicyMatch-row:not(.juicyMatch-expanded-row):hover {
  background: whitesmoke;
}
tr.juicyMatch-row:not(.juicyMatch-expanded-row):active { /* when main container clicked, change color */
  background: rgb(255, 191, 14);
}
.juicyMatch td {
  border-bottom-width: 0;
}
.juicyCell {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;
}
.juicyMatch-detail { /* hides juicy detaisl */
  overflow: hidden;
  display: grid;
  background:whitesmoke;
}
#selection {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 6%;
  text-align: center;
}
#column0hdr, #column1hdr,#column2hdr,#column3hdr,#column4hdr, #column5hdr {
  font-size: medium;
  font-weight: 400px;
  border-right: 1px solid #00000012;
}
#column0hdr, #column1hdr,#column2hdr {
  text-align: left;
  padding-left: 10px;
}
.cdk-column-LayOdds>span {
  background: green;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.FTAround>span {
  background: #37474F;
  color: #ffbf0e;
  border-radius: 6px;
  font-size: large;
  padding: 6px;
}
.ticker3box {
  background: #126E51;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.ticker4box {
  background: #005EA6;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.ticker5box {
  background: blue;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.ev6box {
  background: rgb(184, 184, 184);
  color: black;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.mr7box {
  background: rgb(184, 184, 184);
  color: black;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
  .hideTR {
    visibility: collapse;
  }

  /* Flicker */
.backDirective {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: backBlinkBackground 4s infinite;
}
@keyframes backBlinkBackground{
  0%		{ background-color: #64c58d; color: #052044;}
  25%		{ background-color: #1b8648; color: #426897;}
  50%		{ background-color: #034b21; color: white; }
  75%		{ background-color: #1b8648; color: #426897; }
  100%	{ background-color: #64c58d; color: #052044; }

}
.flickDirectiveLay {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: layBackground 4s infinite;
}
@keyframes layBackground{
  0%		{ background-color: #649ce4; color: #052044;}
  25%		{ background-color: #4283d8; color: #426897;}
  50%		{ background-color: #022e68; color: white; }
  75%		{ background-color: #4283d8; color: #426897; }
  100%	{ background-color: #649ce4; color: #052044; }
}
.flickDirectiveEV {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: evBlinkBackground 4s infinite;
}
@keyframes evBlinkBackground {
  0%		{ background-color: #ffdf1b; color: #052044;}
  25%		{ background-color: #e2d689; color: #426897;}
  50%		{ background-color: #080808; color: white; }
  75%		{ background-color: #e2d689; color: #426897; }
  100%	{ background-color: #ffdf1b; color: #052044; }
}
.flickDirectiveMR {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: evBlinkBackground 4s infinite;
}
@keyframes evBlinkBackground {
  0%		{ background-color: #e49ac8; color: #052044;}
  25%		{ background-color: #ff01d5; color: #426897;}
  50%		{ background-color: #080808; color: white; }
  75%		{ background-color: #ff01d5; color: #426897; }
  100%	{ background-color: #e49ac8; color: #052044; }
}

/* Main table format */
tr.mat-header-row{
  height: 20px;
}

/*Layout for team name and logo*/
div.row1-first {
  width: 20%;
}
.row1-second, .row1-third, .row1-fourth {
  width: 20%;
  vertical-align: top;
  margin-top: 5%;
  text-align: center;
}

/* Parent container for all back and lay bet details including logo*/
div.jm-exp-details-row1 {
  display: inline-flex;
  width: 100%;
  height: 300px;
  background: #d2d2d2;
}
/* Parent container for all back and lay bet details excluding logo*/
.jm-exp-details-col2-cont {
  width: 100%;
  display: inline-block;
}

  .shadow {
    box-shadow: inset -5px -3px 10px #000000;
    border-radius: 8px;
 }

 /* Bookie and exchange logo in main row of juicy table */
 .odds-img{
  width: 20px;
  margin: 5px;
  vertical-align: middle;
 }
 #logo>img {
  height: 100%;
}
 #prev-odds {
  margin-top: 25px;
}
#logo {
  border: rgb(100 75 9) 1px solid;
  width: 100px;
  display: inline-block;
  height: 100px;
  vertical-align: middle;
  margin: 2.5%;
  border-radius: 15px;
  background: radial-gradient(at 50% 0, #9fa1a0, transparent 70%), linear-gradient(0deg, #586065, transparent 50%) bottom;
  padding: 10px;
}

 /* Container for back bet and lay bet instructions*/
  .user-directions {
  font-size: x-large;
  width: 100%;
  display: inline-block;
}

 /* Bookie and exchange logo + juicy bet details */
 .exchange-img{
  width: 30%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 5%;
}
.bookie-img {
  width: 40%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 5%;
}

/* Editable text boxes that allow user input for back and lay odds and back stake*/
.value-box-back, .selection-box {
  background:  whitesmoke;
  }
.value-box-lay {
  background: rgb(255, 255, 255);
}
.value-box-back, .value-box-lay, .selection-box {
  width: 30%;
  font-size: medium;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  }


/* Back Bet style and layout*/
.jm-exp-details-col2row1, .jm-exp-details-col2row2{
  text-align: center;
  padding-top: 0px;
  padding-bottom:0px;
  margin: 5px;
}
.jm-exp-details-col2row1 {
  background: radial-gradient(at 60% 0, #126E51, transparent 80%), linear-gradient(5deg, #095940, transparent 80%) bottom;
}
.bookie-button-container {
  display: inline-grid;
  width: 18%;
  vertical-align: super;
}
.bookie-words-container {
  display: inline-grid;
  color: #ececec;
  justify-items: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0px;
}
.bookie-goto-style {
  width: 100%;
  align-items: center;
  padding-top: 8%;
  }
.bookie-bet-style {
  width: 100%;
  padding-top: 8%;
  }
.bookie-atodds-style {
  width: 100%;
  padding-top: 8%;
  }
.bookie-for-style {
width: 100%;
padding-top: 8%;
}
.bookie-teamname-style {
  width: 100%;
  font-size: large;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  }
  .bookie-button-style {
    vertical-align: middle;
    justify-items: center;
    width: 20%;
    position: relaative;

  }
/* Lay Bet style and layout*/
.jm-exp-details-col2row2 {
  background: radial-gradient(at 60% 0, #383838, transparent 80%), linear-gradient(181deg, #383838, transparent 80%) bottom;
  color: rgb(255, 255, 255);
}
.jm-exp-details-col2row2>b{
  color: black;

}
.exchange-words-container{
  display: inline-grid;
  justify-items: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0px;
}
.exchange-words-container>p {
  display: inline-block;
  color: #ffffff;
}
.exchange-button-container {
  display: inline-grid;
  width: 18%;
  vertical-align: super;
}
#liability {
  font-size: large;
}

.exchange-goto-style {
  width: 100%;
  align-items: center;
  padding-top: 8%;
  }
.exchange-lay-style {
  width: 100%;
  padding-top: 8%;
  }
.exchange-atodds-style {
  width: 100%;
  padding-top: 8%;
  }
.exchange-liability-style {
width: 100%;
padding-top: 8%;
}
.exchange-layamount-style {
  width: 100%;
  font-size: large;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  }
  .exchange-button-style {
    vertical-align: middle;
    justify-items: center;
    width: 20%;
    height: 100%;
    }


/* Record bet button*/
.exp-button {
  padding: 0%;
    width: 110px;
    margin-top: 14px;
}
.rcd-btn {
  width: 30%;
  float: right;
}

/* Additional bet details*/
.jm-exp-details-col2row3{
  width: 100%;
  float: right;
  margin-top: 5px;
}
.r1, .r2 {
  width: 35%;
  display: inline-block;
}
.selection-figures-content1 {
  width: 25%;
  display: inline-flex;
  font-size: large;
}
.selection-figures-content2 {
  width: 50%;
  display: inline-flex;
  font-size: large;
}
.selection-figures {
  display: contents;
  width: 60%;
}


 input::placeholder {
  background: #fff;
  color: black;
  opacity: 1;
}

.bet-state-button {
  color: white;
  width: fit-content;
  /* left: 10%; */
}
p.betState {
  display: inline-flex;
  margin-right: 7px;
  margin-left: 10px;
  font-size: large;
  font-weight: 400;
  color: black;
  width: fit-content;
}

th.mat-sort-header-sorted {
  color: black;
}

