
<div class="table-container">


  <table class="juicyTable" mat-table
         [dataSource]="allIndvMatches" multiTemplateDataRows
         class="mat-elevation-z8">

         <!-- Container for First tableData layer, nested -->
         <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let flickerColmnIndex = index">
           <!--/////TODO////// set ng-container to display just back/lay EV and Match Rating headers -->
             <th mat-header-cell *matHeaderCellDef id="column{{flickerColmnIndex}}hdr"> {{ column }}</th>
             <td mat-cell
                 class="mat-column{{flickerColmnIndex}}-data"
                 *matCellDef="let selection; let flickerRowIndex = dataIndex">
                 <div *ngIf= "((isEvSelected && +selection['EVthisBet'] >= +prefObj.evFilterValue && +selection['EVthisBet'] < 1000) || (!isEvSelected && (+selection['MatchRating'] == +prefObj.maxRatingFilter || selection['MatchRating'] > (+prefObj.maxRatingFilter - 0.1))))">
                  <div *ngIf= "( +selection['BackOdds'] <= +maxOddsFilter && +selection['BackOdds'] >= +minOddsFilter)">
                      <div class="juicyCell" *ngIf="column.endsWith('BackOdds')">
                        <span  class="ticker{{(flickerColmnIndex)}}box" appFlickerData [flickerColmnIndex]="flickerColmnIndex" [isUpdated]="selection.backIsUpdated"> {{selection[column] | number:'0.2-2'}} </span>
                      </div>
                          <div class="juicyCell" *ngIf="column.endsWith('LayOdds')">
                            <span  class="ticker{{(flickerColmnIndex)}}box" appFlickerDataLay [flickerColmnIndex]="flickerColmnIndex" [isUpdated]="selection.layIsUpdated"> {{selection[column] | number:'0.2-2'}} </span>
                          </div>

                            <span *ngIf="!column.endsWith('Odds') && !column.endsWith('Bet') && !column.endsWith('Rating')"> {{selection[column]}}</span>

                              <div class="juicyCell" *ngIf="column.endsWith('Bet')">
                                  <span class="ev{{flickerColmnIndex}}box juicyCell" appFlickerDataEv [isUpdated]="selection.evIsUpdated"> {{selection[column] | currency:'GBP'}} </span>
                              </div>
                              <!-- use directive for displaying matchRating values -->
                                <div class="juicyCell" *ngIf="column.endsWith('Rating')">
                                  <span class="mr{{flickerColmnIndex}}box" appFlickerDataMatchRating [isUpdated]="selection.matchRatingUpdated"> {{selection[column] | number:'0.2-2'}} </span>
                                </div>
                    </div>
                  </div>
             </td>
         </ng-container>

          <!-- @detailExpand is a directive that uses expandedDetail in matColumnDef to create the expanded container -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let selection" [attr.colspan]="columnsToDisplay.length" >

              <div class="juicyMatch-detail"
                   [@detailExpand]="selection == expandedElement ? 'expanded' : 'collapsed'">

                    <div class="jm-exp-details-row1">
                      <div class="row1 row1-first">
                        <div class="jed-cell1" id="selection"><h1>{{selection.Selection}}</h1>
                        <div class="jed-cell1" id="logo"><img src="/assets/img/placeholder.jpg"> </div>
                        <div class="jed-cell" id="prev-odds"><p> <b>PREV. BACK ODDS</b></p><h3> {{selection.b365HPrev | number:'0.2-2'}} | {{selection.b365DrawPrev | number:'0.2-2'}} | {{selection.b365APrev | number:'0.2-2'}}</h3></div>
                      </div>
                      </div>

                      <div class="jm-exp-details-col2-cont">
                        <div class="jm-exp-details-col2row1 shadow">
                          <div class="user-directions">
                            <div class="words-container">
                              <p>GO TO  <img class="bookie-img" src="/assets/img/bet365II.png"></p>
                            </div>
                            <div class="words-container">
                              <b>BET</b> <span class="value-box-back"><b>{{selection.Stake | currency:'GBP'}}</b></span>
                            </div>
                            <div class="words-container">
                             <p> AT ODDS OF <span class="value-box-back"> <b>{{selection.BackOdds | number:'0.2-2'}}</b></span> </p>
                            </div>
                            <div class="words-container">
                              <b>FOR  </b> <span class="selection-box">{{selection.Selection}}</span>
                            </div>
                              <div class="external-link-button" id="bet365lnk"><a mat-raised-button href= {{selection.UrlB365}} target="_blank">OPEN EVENT</a></div>
                          </div>

                        </div>

                        <div class="jm-exp-details-col2row2 shadow">
                          <div class="user-directions">
                            <div class="words-container">
                              <p>GO TO  <img class="exchange-img" src="/assets/img/smarketsII.png"></p>
                            </div>

                            <div class="words-container">
                              <b>LAY</b> <span class="value-box-lay"><b>{{selection.LayStake | currency:'GBP'}}</b></span>
                            </div>

                            <div class="words-container">
                              <p> AT ODDS OF <span class="value-box-lay"><b>{{selection.LayOdds | number:'0.2-2'}}</b></span></p>
                            </div>

                            <div class="words-container">
                              <b> <span id="liability"> YOUR LIABILITY: </span><span class="row3-value">{{selection.Liability | currency:'GBP'}}</span></b>
                            </div>

                            <div class="external-link-button" id="smlnk"><a mat-raised-button href= {{selection.UrlSmarkets}} target="_blank">OPEN EVENT</a></div>
                          </div>

                        </div>

                        <div class="jm-exp-details-col2row3">

                          <div class="selection-figures row4-row1">
                            <div class="r1 r1-col1">
                              <h3 class="selection-figures-content1">FTA Returns:</h3>
                              <span class="selection-figures-content1">{{selection.FTAProfit | currency:'GBP'}}</span>
                              </div>
                            <div class="r1 r1-col2">
                              <h3 class="selection-figures-content2">ROI: </h3>
                              <span class="selection-figures-content1"> {{selection.ROI | number:'0.2-2'}} % </span></div>
                          </div>

                          <div class="selection-figures row4-row2">
                            <div class="r2 r2-col1">
                              <h3 class="selection-figures-content1">Total EV: </h3>
                               <span class="selection-figures-content2">{{selection.EVTotal | currency:'GBP'}}</span>
                              </div>

                            <div class="r2 r2-col2">
                              <h3 class="selection-figures-content2">QL: </h3>
                              <span class="selection-figures-content2"> {{selection.QL | currency:'GBP'}}  </span>
                            </div>
                          </div>

                          <div class="rcd-btn">
                            <button mat-mat-raised-button class="exp-button">Edit values</button>
                            <button mat-mat-raised-button class="exp-button">Record Bet</button>
                          </div>

                        </div>
                      </div>

                    </div>


              </div>
            </td>
          </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <!-- When you click this row, it changes  the .juicyMatch-row class to .juicyMatch-expanded-row -->
              <!-- (click) function says: if the expanded Element is this selection object, make it null -->

              <tr mat-row *matRowDef="let selection; columns: columnsToDisplay;"
              class="juicyMatch-row"
              [class.juicyMatch-expanded-row]="expandedElement === selection"
              (click)="expandedElement = expandedElement === selection ? null : selection"
              appHideTableRow [evValue]="selection.EVthisBet" [mrValue]="selection.MatchRating" [backOdds]="selection.BackOdds" [userPref]="prefObj">
              </tr>
         <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="juicyMatch-detail-row"></tr>

  </table>

  <div class="no-content" *ngIf="noMatchesToDisplay">Currently No Matches Detected</div>
</div>


