/*Page Header*/
table, .table-title, .no-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.form-container {
  height: 100%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type,
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
  padding: 0px;
}
.no-content {
  color: black;
  text-align: center;
  padding-top: 30px;
  height: 200px;
}
table, .no-content {
  height: 400px;
  background: #e0e1e2;
}
.hdr-items {
  display: inline-block;
}
.hdr-tabs {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/*Main Container for all */
.table-container {
  margin-bottom: 130px;
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  height: 60%;
}

/* Main Juicy column headers hooks and rows juicy rows */
.mat-column-BackOdds, .mat-column-LayOdds, .mat-column-EVthisBet, .mat-column-MatchRating, .mat-column-FTAround{
  text-align: center;
  font-size: large;
  font-weight: 500;
  width: 120px;
}
.mat-cell {
  border-bottom-width: 0;
}

.mat-cell-withdata { /*Added this class to add borders to only the cells/rows that have content *?
  /*border-right:  1px solid #bebcbc;*/
  border-bottom:  1px solid #bebcbc;
}
.mat-column-Selection {
  font-size: large;
  font-weight: 500;
}
tr.juicyMatch-detail-row {
  height:0;
}

/* hover change background */
tr.juicyMatch-row:not(.juicyMatch-expanded-row):hover {
  background: whitesmoke;
}
tr.juicyMatch-row:not(.juicyMatch-expanded-row):active { /* when main container clicked, change color */
  background: rgb(255, 191, 14);
}
.juicyMatch td {
  border-bottom-width: 0;
}
.juicyCell {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;
}
.juicyMatch-detail { /* hides juicy detaisl */
  overflow: hidden;
  background:whitesmoke;
  height: 100%;
}
.selection {
  text-align: center;
}

.selection>p{
  margin: 0px;
}

#logo {
  width: 100%;
}
.logo-img-cont{
  border: rgb(38 50 56) 1px solid;
  height: 30px;
  width: 30px;
  border-radius: 11px;
  background: radial-gradient(at 50% 0,#9fa1a0,transparent 70%),
              linear-gradient(0deg,#586065, transparent 50%) bottom;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.logo-img-cont>img{
  width: 100%;
}

#column0hdr, #column1hdr,#column2hdr,#column3hdr,#column4hdr, #column5hdr {
  font-size: medium;
  font-weight: 400px;
  border-right: 1px solid #00000012;
}
#column0hdr, #column1hdr,#column2hdr {
  text-align: left;
  padding-left: 10px;
}
.cdk-column-LayOdds>span {
  background: green;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.FTAround>span, .ev6box, .mr7box {
  background: #333333;
  color: #ffbf0e;
  border-radius: 6px;
  font-size: large;
  padding: 6px;
}
.ticker3box, .ticker4box, .ticker5box {
  color: white;
  display: inline;
  position: absolute;
  z-index: 2;
  width: 60%;
  height: 94%;
  left: 26px;
  top: 1px;
}
.ticker3box{
  background: #126e51;
}
.ticker4box {
  background: #025798;
}

.fta-ticker-box {
  background: #4f565c;
}
.ticker5box {
  background: blue;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
/* .ev6box {
  background: rgb(184, 184, 184);
  color: black;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.mr7box {
  background: rgb(184, 184, 184);
  color: black;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
} */
  .hideTR {
    visibility: collapse;
  }

  /* Flicker */
.backDirective {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: backBlinkBackground 4s infinite;
}
@keyframes backBlinkBackground{
  0%		{ background-color: #64c58d; color: #052044;}
  25%		{ background-color: #1b8648; color: #426897;}
  50%		{ background-color: #034b21; color: white; }
  75%		{ background-color: #1b8648; color: #426897; }
  100%	{ background-color: #64c58d; color: #052044; }

}
.flickDirectiveLay {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: layBackground 4s infinite;
}
@keyframes layBackground{
  0%		{ background-color: #649ce4; color: #052044;}
  25%		{ background-color: #4283d8; color: #426897;}
  50%		{ background-color: #022e68; color: white; }
  75%		{ background-color: #4283d8; color: #426897; }
  100%	{ background-color: #649ce4; color: #052044; }
}
.flickDirectiveEV {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: evBlinkBackground 4s infinite;
}
@keyframes evBlinkBackground {
  0%		{ background-color: #ffdf1b; color: #052044;}
  25%		{ background-color: #e2d689; color: #426897;}
  50%		{ background-color: #080808; color: white; }
  75%		{ background-color: #e2d689; color: #426897; }
  100%	{ background-color: #ffdf1b; color: #052044; }
}
.flickDirectiveMR {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: evBlinkBackground 4s infinite;
}
@keyframes evBlinkBackground {
  0%		{ background-color: #e49ac8; color: #052044;}
  25%		{ background-color: #ff01d5; color: #426897;}
  50%		{ background-color: #080808; color: white; }
  75%		{ background-color: #ff01d5; color: #426897; }
  100%	{ background-color: #e49ac8; color: #052044; }
}

/* Main table format */
tr.mat-header-row{
  height: 20px;
}

/*Layout for team name and logo*/
div.selection-logo-cont {
  width: 10%;
}
.row1-second, .row1-third, .row1-fourth {
  width: 20%;
  vertical-align: top;
  margin-top: 5%;
  text-align: center;
}

/* Parent container for all back and lay bet details including logo*/
div.jm-exp-details {
  display: inline-flex;
  width: 100%;
  height: 100%;
  background: #d2d2d2;
}
/* Parent container for all back and lay bet details excluding logo*/
.jm-expanded-container {
  width: 100%;
  display: inline-block;
}

  .shadow {
    box-shadow: inset -5px -3px 10px #000000;
 }

 /* Bookie and exchange logo in main row of juicy table */
 .odds-img{
  width: 20px;
  margin: 5px;
  vertical-align: middle;
 }

 #prev-odds {
  margin-top: 25px;
}

 /* Bookie and exchange logo + juicy bet details */
 .exchange-img{
  width: 30%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 5%;
}
.bookie-img {
  width: 40%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 5%;
}

/* Editable text boxes that allow user input for back and lay odds and back stake*/
.value-box-back, .selection-box {
  background:  whitesmoke;
  }
.value-box-lay {
  background: rgb(255, 255, 255);
}
.value-box-back, .value-box-lay, .selection-box {
  width: 30%;
  font-size: medium;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  }


/* Back Bet style and layout*/
.bookie,
.exchange,
.calculated
{
  display: inline-flex;
  float: left;
  text-align: center;
  height: 100%;
  padding-top: 0px;
  padding-bottom:0px;
}

.bookie{
  width: 25%;
  background: radial-gradient(at 60% 0, #126E51, transparent 80%), linear-gradient(5deg, #095940, transparent 80%) bottom;
}
.exchange{
  width: 33%;
}

.calculated {
  width:40%;
}

/* Additional bet details*/
.calculated{
  background: radial-gradient(at 111% 0, #4f8ca2, #172329 66%),
              linear-gradient( 231deg, #383838, transparent 80%) bottom;
  color: white;
}

.comments-cont {
  padding: 10px;
  width: 100%;
}

.mat-hint{
  color: white;
}

/* Lay Bet style and layout*/
.exchange {
  background: radial-gradient(at 153% 0, #e0e1e2, #19222b 66%), linear-gradient(101deg, #e0e1e2, #171d1dd9 146%) bottom;
  color: rgb(255, 255, 255);
}

.exchange>b{
  color: black;
}

.bookie-button-container {
  background-image: url(/assets/img/bet365II.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 30px;
}

.exchange-button-container{
  background-image: url(/assets/img/smarketsII.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 30px;
}
.bookie-container {
  width: 50%;
  float: left;
}

.exchange-container,
.calculated-container{
  width: 33%;
  float: left;
}

.bookie-row,
.exchange-row,
.calculated-row {
  display: inline-flex;
  width: 100%;
}

.calculated-row> h3, span, button{
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
.bookie-text-lhs,
.bookie-text-rhs,
.exchange-text-lhs,
.exchange-text-mid,
.exchange-text-rhs{
  color: #ececec;
  padding-top: 8%;
  float: left;
}

.bookie-text-rhs,
.exchange-text-mid,
.exchange-text-rhs {
  width: fit-content;
}
.bookie-text-lhs,
.exchange-text-lhs {
  width: 100%;
}

.bookie-teamname-style {
  width: 100%;
  font-size: large;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  }
.bookie-button-style {
  vertical-align: middle;
  justify-items: center;
  width: 20%;
  position: relaative;

}

.liability-text,
.liability-amount {
  width: fit-content;
  padding-top: 8%;
  margin-left: auto;
  font-size: larger;
}

.liability-amount{
  margin-right: auto;
  margin-left: 5px;
  font-size: x-large;
}

.exchange-atodds-style {
  width: 100%;
  padding-top: 8%;
  }
.exchange-liability-style {
width: 100%;
padding-top: 8%;
}
.exchange-layamount-style {
  width: 100%;
  font-size: large;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  }
  .exchange-button-style {
    vertical-align: middle;
    justify-items: center;
    width: 20%;
    height: 100%;
    }


/* Record bet button*/
.exp-button {
  padding: 0%;
    width: 110px;
    margin-top: 14px;
}



.r1, .r2 {
  width: 35%;
  display: inline-block;
}
.calculated-text,
.calculated-value{
  width: fit-content;
  display: inline-flex;
  font-size: large;
  padding-left: 20px;
}

.value-divider{
  margin: 0;
  margin-left: 18%;
  margin-right: auto;
  width: 70%;
}
.selection-figures {
  display: inline-flex;
  width: 50%;
  justify-content: space-around;
}


 input::placeholder {
  background: #fff;
  color: black;
  opacity: 1;
}

.bet-state-button {
  color: white;
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
p.betState {
  display: inline-flex;
  margin-right: 7px;
  margin-left: 10px;
  font-size: large;
  font-weight: 400;
  color: black;
  width: fit-content;
}

th.mat-sort-header-sorted {
  color: black;
}

.b3-odd-cont, .sm-odd-cont, .fta-value-cont {
  height: 29px;
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 60%;
  margin-top: 5px;
  border-radius: 3px;
}

.b3-odd-cont {
  background-image: url(/assets/img/b365Odds.png);
}
.sm-odd-cont {
  background-image: url(/assets/img/smOdds.png);
}

.fta-value-cont {
  background-image: url(/assets/img/2up.png);
}

.odd-text {
  position: absolute;
  top: 5px;
  left: 5px;
}
.fta-value-text {
  position: absolute;
  top: 6px;
  left: 38px;
}

.secret-sauce-accent {
  background: #263238;
  color: #ffbf0e;
  font-size: small;
  font-weight: 500;
}

th.mat-column-Fixture, th.mat-column-EventStart, th.mat-column-Selection {
  background: #263238;
    color: #263238;
}
::ng-deep.mat-sort-header-content{
  margin-left: auto;
  margin-right: auto;
}
::ng-deep.mat-sort-header-arrow {
  color: #ffbf0e;
}

span.calculated-value{
  padding: 4px;
}
