
<div class="table-container">
  <div class="table-title">

    <div class="hdr-items" id="optionSelect">
      <button mat-icon-button class="setting-btn" [disableRipple]="true" (click)= "toggleSideNav()"><mat-icon>settings</mat-icon></button>
      <button>placeholder</button>
    </div>

    <h1 class="hdr-items" id="hdr-title">Juicy Matches</h1>

  </div>

  <table mat-table
         [dataSource]="allIndvMatches" multiTemplateDataRows
         class="mat-elevation-z8">

         <!-- Container for First tableData layer, nested -->
         <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let flickerColmnIndex = index">
             <th mat-header-cell *matHeaderCellDef id="column{{flickerColmnIndex}}hdr"> {{ column }} </th>
             <td mat-cell
                 class="mat-column{{flickerColmnIndex}}-data"
                 *matCellDef="let selection; let flickerRowIndex = dataIndex">


                  <div *ngIf= "(isEvSelected && selection['EVthisBet'] >= prefObj.evFilterValue && selection['EVthisBet'] < 1000) || (!isEvSelected && selection['MatchRating'] >= prefObj.maxRatingFilter)">
                    <div *ngIf="column.endsWith('BackOdds')">
                      <span  class="ticker{{(flickerColmnIndex)}}box" appFlickerData [flickerColmnIndex]="flickerColmnIndex" [isUpdated]="selection.backIsUpdated"> {{selection[column] | number:'0.2-2'}} </span>
                    </div>

                    <div *ngIf="column.endsWith('LayOdds')">
                      <span  class="ticker{{(flickerColmnIndex)}}box" appFlickerDataLay [flickerColmnIndex]="flickerColmnIndex" [isUpdated]="selection.layIsUpdated"> {{selection[column] | number:'0.2-2'}} </span>
                    </div>

                    <span *ngIf="!column.endsWith('Odds') && !column.endsWith('Bet')"> {{selection[column]}}</span>

                    <div *ngIf="column.endsWith('Bet')">
                        <span class="ev{{flickerColmnIndex}}box" appFlickerDataEv [isUpdated]="selection.evIsUpdated"> {{selection[column] | currency}} </span>
                    </div>

                    <div *ngIf="column.endsWith('Rating')">
                      <span class="mr{{flickerColmnIndex}}box" appFlickerDataMatchRating [isUpdated]="selection.matchRatingUpdated"> {{selection[column] | number:'0.2-2'}} </span>
                  </div>
                  </div>
             </td>
         </ng-container>

          <!-- @detailExpand is a directive that uses expandedDetail in matColumnDef to create the expanded container -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let selection" [attr.colspan]="columnsToDisplay.length" >

              <div class="juicyMatch-detail"
                   [@detailExpand]="selection == expandedElement ? 'expanded' : 'collapsed'">

                    <div class="jm-exp-details-row1">
                 <div class="row1 row1-first">
                   <div class="jed-cell1" id="logo">Logo</div>
                   <div class="jed-cell1" id="selection"><h1>{{selection.Selection}}</h1><h4>Prev. Bet365 Odds H | D | A </h4><h3> {{selection.b365HPrev}} | {{selection.b365DrawPrev}} | {{selection.b365APrev}}</h3></div>
                   <div class="jed-cell" id="prev-B365-odds"></div>
                  </div>

                  <div class="row1 row1-second">
                    <h2 class="jed-cell2">
                        <b #tooltip="matTooltip"
                        matTooltip="Chance of a full turnaround occuring"
                        [matTooltipPosition]="position.value"
                        matTooltipHideDelay="1000">Occurrence</b></h2>
                        <div class="jed-cell2" id="fta"> <h2>1:{{selection.FTAround}}</h2> </div>
                      </div>

                      <div class="row1 row1-third">
                        <h2 class="jed-cell3"><b>Return Rating</b></h2>
                        <div class="jed-cell3" id="rr"> <h2>{{selection.ReturnRating}}</h2></div>
                      </div>

                      <div class="row1 row1-fourth">
                        <h2 class="jed-cell4"><b>Full Turnaround Rating</b></h2>
                        <div class="jed-cell4" id="match-rating"> <h2>{{selection.MatchRating | number:'0.2-2'}}%</h2> </div>
                      </div>
                    </div>

                    <div class="jm-exp-details-row2">
                      <p class="user-directions">Go to *bet365Picture and <b>back </b><span>{{selection.Selection}}</span> for <span class="value-box-back"><b>{{selection.Stake | currency}}</b></span> at odds of <span class="value-box-back"><b>{{selection.BackOdds | number:'0.2-2'}}</b></span></p>
                      <div class="external-link-button" id="bet365lnk"><a mat-raised-button href= {{selection.UrlB365}} target="_blank">Go to Bet365</a></div>
                    </div>

                    <div class="jm-exp-details-row3">
                      <p class="user-directions">Go to *Smarkets and <b>lay </b> <span>{{selection.Selection}}</span> for <span class="value-box-lay"><b>{{selection.LayStake | currency}}</b></span> at odds of <span class="value-box-lay"><b>{{selection.LayOdds | number:'0.2-2'}}</b></span></p>
                      <div class="row3-value"> Liability: <span class="row3-value">{{selection.Liability | currency}}</span>  </div>
                      <div class="external-link-button" id="smlnk"><a mat-raised-button href= {{selection.UrlSmarkets}} target="_blank">Go to Smarkets</a></div>

                    </div>

                    <div class="jm-exp-details-row4">

                      <div class="row4 row4-row1">
                        <span><h3>Full Turnaround Profit</h3></span> <h3>{{selection.FTAProfit | currency}}</h3>
                      </div>

                      <div class="row4 row4-row2">
                        <span class="row4-hdr"><h3>Qualifying Loss</h3></span> <span><h3>{{selection.QL | currency}}</h3></span>
                      </div>

                      <div class="row4 row4-row3">
                        <span class="row4-hdr"><h3>ROI</h3></span><span> <h3>{{selection.ROI | number:'0.2-2'}} %</h3></span>
                      </div>

                      <div class="row4 row4-row4">
                        <span class="row4-hdr"><h3>Est. Value Total</h3></span><span><h3>{{selection.EVTotal | currency}}</h3></span>
                      </div>

                      <div class="row4 row4-row5">
                        <button mat-mat-raised-button class="exp-button">Record Bet</button>
                        <button mat-mat-raised-button class="exp-button">Close Match</button>
                      </div>

                    </div>

              </div>
            </td>
          </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <!-- When you click this row, it changes  the .juicyMatch-row class to .juicyMatch-expanded-row -->
              <!-- (click) function says: if the expanded Element is this selection object, make it null -->

              <tr mat-row *matRowDef="let selection; columns: columnsToDisplay;"
              class="juicyMatch-row"
              [class.juicyMatch-expanded-row]="expandedElement === selection"
              (click)="expandedElement = expandedElement === selection ? null : selection"
              appHideTableRow [evValue]="selection.EVthisBet" [mrValue]="selection.MatchRating" [backOdds]="selection.BackOdds" [userPref]="prefObj">
              </tr>
         <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="juicyMatch-detail-row"></tr>

  </table>

  <div class="no-content" *ngIf="noMatchesToDisplay">Currently No Matches Detected</div>
</div>


