
<div class="table-container">


  <table class="juicyTable" mat-table matSort (matSortChange)="sortData($event)"
         [dataSource]="sortedData" multiTemplateDataRows class="mat-elevation-z8">

         <!-- Container for First tableData layer, nested -->
         <ng-container matColumnDef="{{column.field}}" *ngFor="let column of columnHeaders; let flickerColmnIndex = index">
           <!--/////TODO////// set ng-container to display just back/lay EV and Match Rating headers -->
           <ng-container *ngIf="column.field.endsWith('Rating') || column.field.endsWith('Bet') || column.field.endsWith('Percentage') ; else noSortBtn">
             <th mat-header-cell *matHeaderCellDef mat-sort-header class="secret-sauce-accent"> {{column.alias}}</th>
           </ng-container>
           <ng-template #noSortBtn>
             <th mat-header-cell *matHeaderCellDef id="column{{flickerColmnIndex}}hdr"> {{column.alias}}</th>
           </ng-template>

            <td mat-cell
                class="mat-column{{flickerColmnIndex}}-data mat-cell-withdata"
                *matCellDef="let selection; let i = dataIndex"
                (click)="loadGroup(i); showSelectionValues(selection, i); closeIfRedirected(selection, $event)">

                <ng-container *ngIf="selection.isWatched">
                  <ng-container *ngIf="selection.inRange">
                    <ng-container *ngIf= "( (fvSelected == 1 && +selection['EVthisBet'] >= +prefObj.evFVI) ||
                                            (fvSelected == 2 && (+selection['MatchRating'] == +prefObj.matchRatingFilterI ||  selection['MatchRating'] > (+prefObj.matchRatingFilterI - 0.02))) ||
                                            (fvSelected == 3 && (+selection['QLPercentage'] == +prefObj.secretSauceI || selection['QLPercentage'] >= (+prefObj.secretSauceI))))">
                    <ng-container *ngIf= "( +maxOddsFilter >= +selection['BackOdds'] && +selection['BackOdds'] >= +minOddsFilter )">

                          <div class="juicyCell b3-odd-cont" *ngIf="column.field.endsWith('BackOdds')">
                            <img  class="odds-img-bookie" src="/assets/img/365-odds-placeholder.png" alt="">
                            <div class="ticker{{(flickerColmnIndex)}}box backDirective" appFlickerData [flickerColmnIndex]="flickerColmnIndex" [isUpdated]="selection.backIsUpdated">
                              <p class="odd-text"> {{ selection[column.field] | number:'0.2-2'}}  </p>
                              </div>
                          </div>

                          <div *ngIf="column.field.endsWith('EpochTime')">
                            {{selection[column.field]*1000 | date: "dd LLL HH:mm"}}

                          </div>
                            <div class="juicyCell sm-odd-cont" *ngIf="column.field.endsWith('LayOdds')">
                              <img  class="odds-img-exchange" src="/assets/img/smarkets-logo-odds.png" alt="">
                              <div class="ticker{{(flickerColmnIndex)}}box flickDirectiveLay" appFlickerDataLay [flickerColmnIndex]="flickerColmnIndex" [isUpdated]="selection.layIsUpdated">
                                <p class="odd-text"> {{ selection[column.field] | number:'0.2-2' }} </p>
                              </div>
                              
                            </div>
                              <div class="juicyCell" *ngIf="column.field.endsWith('EVthisBet')">
                                <span class="ev{{flickerColmnIndex}}box juicyCell flickDirectiveEV" *ngIf="ftaOption == 'brooks'" appFlickerDataEv [isUpdated]="selection.evIsUpdated" [ftaOption]="ftaOption" [columnIndex]="flickerColmnIndex">  {{selection[column.field] | number: '0.2-2'}} </span>
                                <span class="ev{{flickerColmnIndex}}box juicyCell flickDirectiveEV" *ngIf="ftaOption != 'brooks'" appFlickerDataEv [isUpdated]="selection.evIsUpdated" [ftaOption]="ftaOption" [columnIndex]="flickerColmnIndex">  {{selection[column.field].toFixed(2)}} </span>

                              </div>
                                <!-- use directive for displaying matchRating values -->
                                <div class="juicyCell" *ngIf="column.field.endsWith('Rating')">
                                  <span class="mr{{flickerColmnIndex}}box flickDirectiveMR" appFlickerDataMatchRating [isUpdated]="selection.matchRatingUpdated"> {{selection[column.field] | number: '0.2-2'}} </span>
                                </div>

                                <div class="juicyCell" *ngIf="column.field.endsWith('Percentage')">
                                  <span class="ss{{flickerColmnIndex}}box juicyCell flickDirectiveSS" appFlickerDataSS [columnIndex]="flickerColmnIndex">  {{selection[column.field] | number: '0.2-2'}} </span>                                 
                                  </div>

                                  <div class="juicyCell FTAround fta-value-cont" *ngIf="column.field.endsWith('Around')">
                                      <div class="fta-ticker-box">
                                        <p class="fta-value-text" *ngIf="ftaOption == 'brooks'"> {{selection[column.field].toFixed(0)}}  </p>
                                        <p class="fta-value-text" *ngIf="ftaOption == 'generic'"> {{selection['GFTAround'].toFixed(0)}}  </p>
                                      </div>
                                  </div>                                    
                                      <span *ngIf="!column.field.endsWith('Odds') && !column.field.endsWith('EpochTime') && !column.field.endsWith('Bet') && !column.field.endsWith('Rating') && !column.field.endsWith('Around') && !column.field.endsWith('Percentage') && !column.field.endsWith('EVthisBet')"> {{ selection[column.field] }}</span>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
            </td>
         </ng-container>

         <!-- [@detailExpand] is animation for expanded row -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let selection; let i=dataIndex" [attr.colspan]="columnsToDisplay.length" >
              <div class="juicyMatch-detail"
              [@detailExpand]="selection == expandedElement || selection.isRedirected == 'Yes' ? 'expanded' : 'collapsed'">

              <ng-container *ngIf="expandedElement === selection || selection.isRedirected =='Yes'">
                <form class="form-container"  [formGroup]="selectionValues">

                <div class="jm-exp-details"> <!--Expansion container for juicy match-->


                  <div class="jm-expanded-container"> <!-- Relevant match values -->

                    <div class="teamname shadow">
                      <div class="teamnamecontainer">
                        <div class="teamname-container">
                          <div class="selection">
                            <p>{{selection.Selection}}</p>
                        </div>
                          <div class="logo-img-cont">
                          <img src="/assets/img/fcLogo/{{selection.Logo}}.png">
                        </div>
                        <div class="leaguename">
                          <p>{{selection.League}}</p>
                      </div>
                        </div>

                      </div>
                    </div>


                    <div class="bookie shadow">
                      <div class="bookiecontainer">

                        <div class="bookie-container">
                            <p class="bookie-text-lhs">Back Bet</p>
                              <button tabindex="-1" class="bookie-button-container shadow" mat-raised-button href= {{selection.UrlB365}} ></button>
                        </div>

                        <div class="bookie-container">
                          <div class="bookie-row">
                            <p class="bookie-text-rhs">Stake</p>
                            <input formControlName="Stake" type="number"step="10" class = "value-box-back"  placeholder="{{getGroup(i).get('Stake').value}}">
                          </div>

                          <div class="bookie-row">
                            <p class= "bookie-text-rhs">Odds </p>
                            <input tabindex="0" formControlName="BackOdds" type="number"step="0.1" class="value-box-back"  placeholder="{{getGroup(i).get('BackOdds').value | number:'0.2-2'}}">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="exchange shadow">
                      <div class="exchangecontainer">
                        <div class="exchange-container" >
                          <p class="exchange-text-lhs">Lay Bet </p>
                          <button tabindex="-1" class="exchange-button-container mat-raised-button-bookie-exchange shadow" mat-raised-button href={{selection.UrlSmarkets}}></button>
                          <p class="exchange-text-comm">Commission: {{userCommission | number:'0.2-2' }}%</p>
                        </div>

                        <div class="exchange-container" >
                          <div class="exchange-row">
                            <p class="exchange-text-mid">Stake </p>
                            <input tabindex="6" class="value-box-laystake" [readOnly]="true" placeholder="{{LayStake(getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, getGroup(i).get('Stake').value) | currency:'GBP' }}">
                          </div>
                          <div class="exchange-row">
                            <p class="exchange-text-mid">Odds </p>
                            <input tabindex="0" formControlName="LayOdds" type="number"step="0.1" class = "value-box-lay"  placeholder="{{selection.LayOdds | number:'0.2-2'}}">
                          </div>
                        </div>

                        <div class="exchange-container">
                          <div class="exchange-row" tabindex="1">
                            <button  mat-raised-button class="bet-state-button"  [style.background]="selection.betState ? ' #076044' : '#8a0606'" (click)="selection.betState = !selection.betState">{{ selection.betState ? 'Matched' : 'Unmatched'}}</button>
                          </div>
                          <div class="exchange-row">
                            <p class="liability-text">Liability:</p>
                            <p class="liability-amount">{{ Liability(getGroup(i).get('LayOdds').value, LayStake(getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, getGroup(i).get('Stake').value)) | currency:'GBP'}} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="calculated shadow">
                      <div class="calculatedcontainer">
                      <!-- Comment Box -->
                      <div class="calculated-container-comments">
                        <div class="comments-cont">
                          <mat-form-field tabindex="1" class="user-comments" appearance="outline">
                            <mat-label class="auto-calc-label">Match Comments</mat-label>
                            <textarea class="auto-calc-input" formControlName="MatchInfo" matInput placeholder=""></textarea>
                            <mat-hint> ({{selectionValues.value.MatchInfo == null ? selectionValues.value.MatchInfo == ' ' : selectionValues.value.MatchInfo.length}}/140)</mat-hint>
                            <mat-error *ngIf="selectionValues.controls.MatchInfo.errors">{{getErrorMessage()}} </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- Calculated Values -->
                      <div class="calculated-container">
                        <div class="calculated-row">
                          <div class="roi-text">ROI:</div>
                          <span class="calculated-value calculated-value-lhs" *ngIf="ftaOption == 'brooks'">{{ ROI(getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, selection.FTAround) | number:'0.2-2'}}%</span>
                          <span class="calculated-value calculated-value-lhs" *ngIf="ftaOption == 'generic'">{{ ROI(getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, selection.GFTAround) | number:'0.2-2'}}%</span>
                        </div>
                        <hr class="value-divider">
                        <div class="calculated-row">
                          <div class="ev-text">EV: </div>
                          <span class="calculated-value calculated-value-lhs" *ngIf="ftaOption == 'brooks'">{{ TotalEV( selection.FTAround,  getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value)/selection.FTAround  | currency:'GBP' }}</span>
                          <span class="calculated-value calculated-value-lhs" *ngIf="ftaOption == 'generic'">{{ TotalEV( selection.GFTAround,  getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value)/selection.GFTAround  | currency:'GBP' }}</span>
                        </div>
                        <hr class="value-divider">
                        <div class="calculated-row">
                          <div class="mr-text">MR: </div>
                          <span class="calculated-value calculated-value-lhs calculated-value-lhs">{{ NewMatchRating( getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value)  | number:'0.2-2' }}%</span>
                        </div>
                        <hr class="value-divider">
                        <div class="calculated-row">
                          <div class="qlpercent-text">QL%: </div>
                          <span class="calculated-value calculated-value-lhs">{{ NewSS(  getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, getGroup(i).get('Stake').value ) | number:'0.2-2' }}%</span>
                        </div>
                      </div>

                      <!-- QL and record Bet -->
                      <div class="calculated-container">
                        <div class="calculated-row">
                          <div class="fta-text">FTA: </div>
                            <span class="fta-value"> {{ FTA(getGroup(i).get('Stake').value, getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value  ) | currency:'GBP'}}</span>
                        </div>
                        <hr class="value-divider">
                        <div class="calculated-row">
                          <div class="ql-text">QL: </div>
                          <span class="ql-value"> {{ QL( getGroup(i).get('BackOdds').value, getGroup(i).get('LayOdds').value, getGroup(i).get('Stake').value) | currency:'GBP'}}  </span>
                        </div>
                        <div class="calculated-row">
                          <button tabindex="0" mat-raised-button class="exp-button"  (click)="saveAsActiveBet(selection, i)">Record Bet</button>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                </form>
              </ng-container>


              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <!-- When you click this row, it changes  the .juicyMatch-row class to .juicyMatch-expanded-row -->
          <!-- (click) function says: if the expanded Element is this selection object, make it null -->
          <!-- read ignore status in here -->
          <tr mat-row *matRowDef="let selection; columns: columnsToDisplay;"
              class="juicyMatch-row"
              id="{{(selection.Logo+selection.EpochTime)}}"
              [ngClass]="selection.isRedirected == 'Yes' ? 'juicyMatch-expanded-row': null"
              [class.juicyMatch-expanded-row]="expandedElement === selection"
              (click)="expandedElement = expandedElement === selection ? null : selection; toggleIsTouched(selection);"
              [appTouchIt] [isTouched]="selection.isJuicy"
              appHideTableRow [userPref]="prefObj" [backOdds]="selection.BackOdds" [evValue]="selection.EVthisBet" [mrValue]="selection.MatchRating" [ssValue]="selection.QLPercentage" [isWatched]="selection.isWatched" [inRange]="selection.inRange">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="juicyMatch-detail-row"></tr>
  </table>

  <div class="no-content" *ngIf="noMatchesToDisplay">Currently No Matches Detected</div>
</div>


