/*Page Header*/
table, .table-title, .no-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.form-container {
  height: 98%;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type{
  padding: 0px;
  width: 60px;
}

.no-content {
  height: 400px;
  background: #e0e1e2;
  color: black;
  text-align: center;
  padding-top: 30px;
  height: 200px;
}
 table {
   height: fit-content;
}
.hdr-items {
  display: inline-block;
}
.hdr-tabs {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/*Main Container for all */
.table-container {
  margin-bottom: 130px;
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  height: 60%;
}

/* Main Juicy column headers hooks and rows juicy rows */
.mat-column-BackOdds,
.mat-column-LayOdds,
.mat-column-EVthisBet,
.mat-column-MatchRating,
.mat-column-FTAround,
.mat-column-QLPercentage {
  text-align: center;
  font-size: large;
  font-weight: 500;
}

/* Odds column cell width */
.mat-column-BackOdds,
.mat-column-LayOdds {
  width: 120px;
}

/* EV MR QL% and FTA column cell width  */
.mat-column-MatchRating,
.mat-column-FTAround,
.mat-column-EVthisBet,
.mat-column-QLPercentage {
  width: 60px;
}


.mat-cell {
  border-bottom-width: 0;
}

.mat-cell-withdata {
  border-bottom:  1px solid #bebcbc;
}

.mat-column-Selection {
  font-size: 0.875rem;
  font-weight: 500;
}
tr.juicyMatch-detail-row {
  height:0;
}

/* hover change background */
tr.juicyMatch-row:not(.juicyMatch-expanded-row):hover {
  background: whitesmoke;
}
tr.juicyMatch-row:not(.juicyMatch-expanded-row):active { /* when main container clicked, change color */
  background: rgb(255, 191, 14);
}
.juicyMatch td {
  border-bottom-width: 0;
}
.juicyCell {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;
}
.juicyMatch-detail { /* hides juicy detaisl */
  overflow: hidden;
  background:whitesmoke;
  height: auto;
}

.selection {
  text-align: center;

}

.leaguename>p{
  text-align: center;
  font-size: small;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 17px;
}

#logo {
  width: 100%;
}

.logo-img-cont>img{
  width: 50%;
}

/* Column Header Properties */
#column0hdr,
#column1hdr,
#column2hdr {
  font-size: medium;
  font-weight: 400px;
  border-right: 1px solid #00000012;
  text-align: left;
  padding-left: 10px;
  background: #263238;
}

.secret-sauce-accent,
#column3hdr,
#column4hdr,
#column5hdr {
  background: #263238;
  color: #ffbf0e;
  font-size: small;
  font-weight: 500;
}
#column0hdr {
  width: 100px
}

#column1hdr {
  width: 153px
}

#column2hdr {
  width: 153px
}


.cdk-column-LayOdds>span {
  background: green;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.FTAround>span, .ev6box, .mr7box, .ss8box {
  background: #263238;
  color: #ffbf0e;
  border-radius: 6px;
  font-size: large;
  padding: 6px;
}


.fta-ticker-box {
  background: #4f565c;
}


/* .ev6box {
  background: rgb(184, 184, 184);
  color: black;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.mr7box {
  background: rgb(184, 184, 184);
  color: black;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
} */
  .hideTR {
    visibility: collapse;
  }

  .ticker4box,
  .ticker3box {
    z-index: 2;
    color: white;
    width: 101px;
    height: 100%;
    position: absolute;
    top: 0px;
    box-sizing: border-box;
  }

  .ticker4box{
    left: 40px;
    background: #003366;
    border: 3px solid #0b1e31;
    margin-left: -38px;
    border-radius: 10px 0px 0px 10px;
  }

  .ticker3box{
    left: 2px;
    background: #126e51;
    border: 3px solid #08523b;
    border-radius: 10px 0px 0px 10px;
  }
  /* Flicker */
.backDirective {

  z-index: 2;
  background: #126e51;
  color: white;
  width: 101px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0px;
  left: 2px;
  animation: backBlinkBackground 1.5s infinite;
  box-sizing: border-box;
  border: 3px solid #126E51;
}
@keyframes backBlinkBackground{
  /*OPTION 1
  0%		  { background-color: #126E51; color: #ffffff; border:  2px solid #126E51;}
  50%		  { background-color: #126E51; color: #ffffff; border:  2px solid #ffbf0e;}
  100%	  { background-color: #126E51; color: #ffffff; border:  2px solid #126E51;}

  OPTION 2*/
  0%		  { background-color: #126E51;    color: #ffffff;    border: 3px solid #126E51;}
  50%		  { background-color: #045311b8; color: #ffffff; border: 3px solid #f9a825cf;}
  100%	  { background-color: #126E51;    color: #ffffff;    border: 3px solid #126E51;}

}
.flickDirectiveLay {

  z-index: 2;
  background: #003366;
  color: white;
  width: 101px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0px;
  left: 40px;
  animation: layBackground 1.5s infinite;
  box-sizing: border-box;
  border: 3px solid #003366;
  margin-left: -38px;

}
@keyframes layBackground{
  /*OPTION 1

  0%		{ background-color: #003366; color: white;}
  50%		  { background-color: #ffbf0e; color: #263238; }
  100%	{ background-color: #003366; color: white; }

  OPTION 2*/
  0%		{ background-color: #003366; color: white;  border: 3px solid #003366;}
  50%		  { background-color: #103b5fc7;; color: white;  border: 3px solid #f9a825cf;}
  100%	{ background-color: #003366; color: white;   border: 3px solid #003366;}
}
.flickDirectiveEV {
  color: white;
  padding: 6px;
  padding-right: 10px;
  border-radius: 5px;
  animation: evBlinkBackground 4s infinite;
}
@keyframes evBlinkBackground {
  0%		{ background-color: #263238; color: #ffbf0e;}
  50%		  { background-color: #ffbf0e; color: #263238; }
  100%	{ background-color: #263238; color: #ffbf0e; }
  }
.flickDirectiveMR {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: mrBlinkBackground 4s infinite;
}
@keyframes mrBlinkBackground {
  0%		{ background-color: #263238; color: #ffbf0e;}
  50%		  { background-color: #ffbf0e; color: #263238; }
  100%	{ background-color: #263238; color: #ffbf0e; }
}
.flickDirectiveSS {
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  animation: ssBlinkBackground 4s infinite;
}
@keyframes ssBlinkBackground {
  0%		{ background-color: #263238; color: #ffbf0e;}
  50%		  { background-color: #ffbf0e; color: #263238; }
  100%	{ background-color: #263238; color: #ffbf0e; }
}

/* Main table format */
tr.mat-header-row{
  height: 20px;
}

/*Layout for team name and logo*/
div.selection-logo-cont {
  width: 10%;
}
.row1-second, .row1-third, .row1-fourth {
  width: 20%;
  vertical-align: top;
  margin-top: 5%;
  text-align: center;
}

/* Parent container for all back and lay bet details including logo*/
div.jm-exp-details {
  display: inline-flex;
  width: 100%;
  height: 100%;
  background: #d2d2d2;
}
/* Parent container for all back and lay bet details excluding logo*/
div.jm-exp-details,
.expanded-content,
.jm-expanded-container {
  height: inherit;
}
/* Parent container for all back and lay bet details excluding logo*/
.jm-expanded-container {
  width: 100%;
  display: inline-flex;
  padding-bottom: 10px;
  justify-content: start;
}


 /* Bookie and exchange logo in main row of juicy table */
 .odds-img-exchange,
 .odds-img-bookie {
  position: relative;
  z-index: 3;
  min-height: 39px;
  width: 37px;
  float:left;
  border-radius: 8px;
  box-shadow: 1px 0px 5px 1px #0c0c0c45;
 }

 #prev-odds {
  margin-top: 25px;
}

 /* Bookie and exchange logo + juicy bet details */
 .exchange-img{
  width: 30%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 5%;
}
.bookie-img {
  width: 40%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 5%;
}

/* Editable text boxes that allow user input for back and lay odds and back stake*/
.value-box-back, .selection-box {
  background:  #ffffff;
}
.value-box-lay::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  background:  #2d363e;
}
.value-box-laystake::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  background:  #2d363e;
  color: white;
}
.value-box-laystake {
  background: #2d363e;
  width: 50%;
  font-size: 0.9rem;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
  vertical-align: middle;
  margin-top: 1%;
  }
.value-box-lay {
  background: #ffffff;
}

.value-box-back{
  width: 45%;
}

.value-box-lay, .selection-box {
  width: 50%;
}
.value-box-back, .value-box-lay, .selection-box {
  font-size: 0.9rem;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
  vertical-align: middle;
  margin-top: 1%;
  }



/* Back Bet style and layout*/
.teamname,
.bookie,
.exchange,
.calculated {
  display: inline-flex;
  float: left;
  text-align: center;
  height: 105px;
  padding-top: 0px;
  padding-bottom:0px;
}

.teacmnamecontainer,
.bookiecontainer,
.exchangecontainer,
.calculatedcontainer {
  height: 95%;
}

.teamnamecontainer{
    border-style: solid;
    width: 100%;
    height: 100%;
    display: flex;
    color: #263238;;
    padding-left: 0px;
    border:3px solid white;
    border-radius: 35px;
    background: radial-gradient(at 85% 0, #ffffffb5, #00000033 80%), linear-gradient(24deg, #939393, white 39%) bottom;
    margin-left: 5px;
    margin-right: 0;
}

.bookiecontainer{
  border-style: solid;
    width: 86%;

    color: #538878;
    padding-left: 0px;
    border-radius: 35px;
    background: radial-gradient(at 0% 0, #126E51, transparent 74%), linear-gradient(5deg, #095940, transparent 80%) bottom;
    padding-right: 5px;
    margin-left: 5px;
    display: inline-flex;
}

.exchangecontainer{
    width: 100%;
    border: 3px solid #19222b;
    color: #ffffff;
    padding-left: 0px;
    border-radius: 35px;
    background: radial-gradient(at 153% 0, #e0e1e2, #19222b 66%), linear-gradient(101deg, #e0e1e2, #171d1dd9 146%) bottom;
    margin-left: -15px;
    display: inline-flex;
}

.calculatedcontainer{
  border: 3px solid #2d4d5a;
  width: -webkit-fill-available;
  color: #487e92;
  height: 93%;
  padding-left: 0px;
  border-radius: 35px;
  background: radial-gradient(at 111% 0, #4f8ca2, #172329 66%),
              linear-gradient(231deg, #383838, transparent 80%) bottom;
  margin-left: -18px;
  margin-right: -138px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2px;
}

.teamname{
  width: 10%;
  padding-top: 7px;
}
.bookie{
  width: 20%;
  padding-top: 7px;
}
.exchange{
  width: 27%;
  padding-top: 7px;
}

.calculated {
  width:34%;
  padding-top: 7px;
  margin-left: 13px;
}

.match-date {
  margin-left: 10px;
  width: 75px;
  font-size: 0.76rem;
}

.mat-hint{
  color: white;
}


.exchange>b{
  color: black;
}

.bookie-button-container {
  background-image: url(/assets/img/bet365II.png);
  background-size: cover;
  width: 80px;
  height: 24px;
  box-sizing: border-box;
  border: 0.5px solid #31715d;
}

.exchange-button-container{
  background-image: url(/assets/img/smarketsII.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 24px;
}

.teamname-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookie-container {
  width: 50%;
  /* padding-top: 4px; */
  padding-right: 1px;
}

.bookie-container-disp {
  width: 50%;
}

.exchange-container-disp {
  height: 100%;
  justify-content: center;
  display: inline-grid;
  align-items: center;
 /* margin-top: 3px; */
}

.exchange-container-disp,
.exchange-container-input,
.exchange-container-output{
  width: 33%;
}

.exchange-container-output {
  height: fit-content;
  display: inline-grid;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bookie-row,
.exchange-row {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.exchange-row-button {
  width: 120px;
  margin: 0px;
}

/*
.bookie-row,
.exchange-row{
   margin-top: 5px;
 }
 */
.exchange-text-comm{
  font: 400 10px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  width: 100%;
  margin-bottom: 2px;
}

.bookie-text-lhs,
.exchange-text-lhs{
color: #ececec;
float: left;
font-size: large;
}

.exchange-text-lhs{
  margin-bottom: 13px;
}

.bookie-text-rhs,
.exchange-text-mid,
.exchange-text-rhs{
  color: #ececec;
  float: left;
}

.bookie-text-rhs,
.exchange-text-mid,
.exchange-text-rhs {
  width: 18%;
  margin-right: 20px;
  margin-top: 11px;
  padding-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
}

.bookie-text-lhs,
.exchange-text-lhs {
  width: 100%;
}

.bookie-teamname-style {
  width: 100%;
  font-size: large;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
}

.bookie-button-style {
  vertical-align: middle;
  justify-items: center;
  width: 20%;
  position: relaative;
}

.liability-text,
.liability-amount {
  width: fit-content;
  padding-top: 5%;
  font-size: small;
  margin: 0px;
}

.liability-amount{
  margin-left: 5px;
  font-size: small;
}

.exchange-atodds-style {
  width: 100%;
  padding-top: 8%;
}

.exchange-liability-style {
width: 100%;
padding-top: 8%;
}

.exchange-layamount-style {
  width: 100%;
  font-size: large;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
}

.exchange-button-style {
  vertical-align: middle;
  justify-items: center;
  width: 20%;
  height: 100%;
}

.exp-button{
  height: 105px;
  right: -97px;
  top: 0px;
  min-width: 42px;
  line-height: 13px;
  padding: 2px;
  border: 1px solid #2d4d5a;
  border-radius: 0px 33px 33px 0px;
  background: radial-gradient(at 47% 42%, #126E51, #00000061 74%), linear-gradient(5deg, #095940, #0000002b 80%) bottom;
  box-shadow: 0px 0px 10px -1px #ffffffa8;
  color: #e6b522;
}

.record-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 11px;
  outline: none;
}

.button-container {
  width: 165px;
}

.r1, .r2 {
  width: 35%;
  display: inline-block;
}

.qlpercent-text{
  padding-left: 50px;
  color: white;
  padding-top: 4px;
}
.ql-text{
  width: 31px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.fta-cont,
.ql-cont {
  display: inline-flex;
  margin-top: 4px;
}

.fta-text{
  width: 31px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.calculated-value-fta-ql{
  font-size: 120%;
}

.calculated-value-lhs,
.calculated-text-lhs {
  font-size: 90%;
}

.last-dividers{
  width: 85%;
  margin-top: -1px;
  margin-left: 0px;
}

.selection-figures {
  display: inline-flex;
  width: 50%;
  justify-content: space-around;
}

 input::placeholder {
  background: #fff;
  color: black;
  opacity: 1;
}

.bet-state-button {
  color: white;
  width: 77%;
  line-height: 20px;
  font-size: 12px;
  padding: 1px;
  text-align: center;
  box-shadow: 0px 0px 7px -1px #ffffff;
}

p.betState {
  display: inline-flex;
  margin-right: 7px;
  margin-left: 10px;
  font-size: large;
  font-weight: 400;
  color: black;
  width: fit-content;
}

th.mat-sort-header-sorted {
  color: black;
}

.b3-odd-cont, .sm-odd-cont, .fta-value-cont {
  height: 29px;
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 81%;
  border-radius: 3px;
}

.b3-odd-cont {
  min-height: 39px;
}

.sm-odd-cont {
  min-height: 39px;
}

.fta-value-cont {
  background: radial-gradient(at 76% 0, #263238, #263238ad 70%), linear-gradient(0deg, #e0e1e2, transparent 50%) bottom;
  border-radius: 5px;
  width: 8px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.odd-text {
  position: relative;
  top: 22%;
  left: 6%;
}

.fta-value-text {
  position: absolute;
  top: 7px;
  left: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/* column headers */
th.mat-column-created,
th.mat-column-stake,
th.mat-column-fixture,
th.mat-column-backOdd,
th.mat-column-layOdd,
th.mat-column-occ,
th.mat-column-ql,
th.mat-column-isSettled,
th.mat-column-matchDetail,
th.mat-column-selection,
th.mat-column-pl,
th.mat-column-delete {
  color: #ffbf0e;
  font-size: small;
  font-weight: 400;
  border-right: 1px solid #43535c;
  background: #263238;
}

th.mat-column-isSettled {
  width: 100px;
}


td.mat-column-fixture {
  font-weight: 400;
  width: 128px;
}

.mat-column-selection {
  width: 140px;
}

::ng-deep.mat-sort-header-content{
  margin-left: auto;
  padding: 4px;
}

::ng-deep.mat-sort-header-arrow {
  color: #ffbf0e;
}

span.calculated-value{
  padding: 4px;
}

.touchRow {
  background:#ffc235;;
}

.sidenav-content {
  display: flex;
  height: 100%;
}

::ng-deep.mat-drawer-container.mat-drawer-container{
  float: right;
  width: fit-content;
}

.delete-container {
  padding: 0px;
}

.delete-sidenav {
  padding: 0px;
}

.confirm-delete {
  background: #8a0606;
  color: white
}

.settle-bet-cont{
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.chevron-right,
.chevron-locked{
  width: 100%;
}

.chevron-locked {
  text-align: center;
  margin-top: 13px;
  display: inherit;
  padding-right: 7px;
}

.settled-row {
    opacity: 0.8;
    box-shadow: 0px;
    background: #f9a825;
    height: -webkit-fill-available;
}

.unmatched-text{
  background: #8a0606e0;
  height: -webkit-fill-available;
  color: white;
  border-radius: 6px;
}

.unmatched-text>p{
  margin:0px;
  padding: 4px;
}

.sbet{
  display: inline;
}

.settled-overlay{
  background: #263238;
  top: 6px;
  color: #dbab18;
  border-radius: 3px;
  box-shadow: 3px 2px 15px 1px #5f5f5f;
  cursor: pointer;
  width: 100%;
  margin: 0px;
}

.hidden-input {
  display: inline;
  visibility: hidden;
}

.status-button {
  color: #8a0606;
  cursor: pointer;
}

.status-button:hover {
  border: 1px solid #8a0606;
}

.btn-default {
  background: #ffffff;
  color: #263238;
  border-radius: 3px;
  border: 1px solid #2a363c5c;
  cursor: pointer;
}

.mr-overlay {
  opacity: 0.9;
}

.pl-label {
  color: #131212;
}

.status-btn:hover {
  color: #eba32f;
}

.pl-input {
  width: 60px;
  max-height: 30px;
  margin-bottom: 20px;
}

.status-btn {
  width: 64px;
  font-size: 0.65rem;
  padding: 0px;
  border: 1px solid #c3bbbb;
}

.mr-overlay>td>div>span.mr7box {
  color: red;
  cursor: pointer;
}

/* Input increment arrow hide */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.calculated-container {
  margin-top: 5px;
  width: 50%;
}

.calculated-container-comments{
  height: fit-content;
  width: 33%;
  float: left;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.comments-cont {
  width: 80%;
}

.user-comments{
  width: 110%;
  padding-left: 5%
}

.auto-calc-input{
  height: 35px;
  font-size: 12px;
  color: white;
}

.valueheadercontainer,
.valueheadercontainer2{
  line-height: 5px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.caclulated-container{
  width: 50%;
}

.odds-cell{
  display: inline-block;
  justify-content: center;
  width: 30%;
  height: 40px;
}

.roi-text{
  color: white;
}
.ev-text{
  color: white;
}
.mr-text{
  color: white;
}

.ROIdivider,
.EVdivider,
.MRdivider,
.FTAdivider,
.QLPdivider,
.QLdivider{
  width: 45% !important;
  border: 1px solid #aa8920 !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 10px;
}

.calculated-row
{
  position: relative;
}

.ROIvalue{
  color: white;
}

.EVvalue{
  color: white;
  font-size: 95%;
  color: white;
  font-size: 95%;
}

.MRvalue{
  color: white;
  font-size: 95%;
}

.FTAText{
  color: white;
}

.QLPercenttext{
  color: white;
}

.QLText{
  color: white;
}

.FTAvalue{
  color: white;
  font-size: 95%;
}

.QLPercentagevalue{
  color: white;
  font-size: 95%;
}

.QLvalue{
  color: white;
  font-size: 95%;
}

.record-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 11px;
  outline: none;
}

.unsettled-bet {
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
}

.settled-bet-value {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1d262b;
  margin: 0px;
}



/* Responsive layout */

@media(min-width: 700px){
  .bookie-container-disp,
  .exchange-container-disp,
  .calculated-container-comments{
    display: none;
  }

  .logo-img-cont{
    width: 100%;
  }

  .bookiecontainer,
  .exchangecontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .value-box-back,
  .value-box-laystake,
  .value-box-lay,
  .selection-box{
    min-width: 40px;
  }

  input {
    width: 40px;
  }

  .bookie{
    width: 18%;
  }

  .exchange{
    width: 24%;
    margin-left: 8px;
    padding-top: 7px;
  }

  .calculated{
    width: 26%;
  }

  .mat-column-backOdd > div,
  .mat-column-layOdd > div {
     width: 30px;
  }
}

@media(max-width: 1000px){
  .calculatedcontainer{
    justify-content: end;

  }

  .leaguename{
    display: none;
  }

  .logo-img-cont{
    width: 100%;
  }

}

@media (min-width: 1000px){

  .calculated-container-comments{
    display: unset;
  }

  .calculated{
    width: unset;
    width: 37%;
  }

  table{
    width: 98%;
  }

  .mat-column-backOdd > div,
  .mat-column-layOdd > div {
     width: 40px;
  }
}

@media(min-width: 1140px){

  .logo-cell>img{
    width: 83%;
    max-width:85px;
  }
}

@media(min-width:1280px){

  .bookie-container-disp,
  .exchange-container-disp,
  .calculated-container-comments{
    display: initial;
  }

  .teamname{
    width: 10%;
    width: 10%;
    display: inline-flex;
    align-items: center;
  }

  .bookie{
    width: 20%;
    padding-top: 7px;
    display: flex;
    justify-content: space-evenly;
  }

  .exchange{
    width: 27%;
    padding-top: 7px;
  }

  .calculated {
    width:33.5%;
    padding-top: 7px;
    margin-left: 13px;
  }
}

@media(min-width: 1300px){

  .bookiecontainer,
  .exchange-container-disp,
  .exchangecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exchange-container-disp {
    height: fit-content;
    display: inline-grid;
  }
}

@media(min-width: 1366px){

}

@media(min-width: 1401px){

  .mat-table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-img-cont>img {
    width: 30%;
  }

  .calculated {
    width:33.5%;
  }
}

@media(min-width: 1500px){
  .logo-img-cont>img {
    max-width: 35%;
  }

  .calculated {
    width:34%;
  }
}

@media(min-width:1600px){
  .calculated {
    width:34.5%;
  }
}


@media(min-width:1800px){
  .calculated {
    width:35.6%;
  }
}

@media(min-width:1900px){
  .calculated {
    width:36%;
  }

}

@media(min-width:1401px) and (max-width:1920px){

}
