<div class = "container">
  <div class="main-container">
    <div>
      <form (ngSubmit)="onSignup(signUpData)" #signUpData="ngForm">
        <div id="user-data" ngModelGroup="userData" #userDataHook="ngModelGroup">

          <h1>Sign-up</h1>
            <mat-form-field class="form-group" appearance="fill">
              <mat-label for="email">E-Mail</mat-label>
              <input
              matInput
              name="email"
              type="email"
              placeholder="E-mail"
              class="form-control"
              ngModel
              required
              email
              autocomplete="off"
              #emailInput="ngModel">
              <mat-error *ngIf="!emailInput.pristine && emailInput.invalid && emailInput.touched">Please enter a correct username and email address!</mat-error>
            </mat-form-field>

            <mat-form-field class="form-group" appearance="fill">
              <mat-label for="username">Password</mat-label>
              <input
                type="password"
                name="password"
                ngModel
                class="form-control"
                matInput
                #passwordInput="ngModel"
                autocomplete="off"
                required>
                <mat-error *ngIf="!passwordInput.pristine && passwordInput.invalid">Please enter a password</mat-error>
            </mat-form-field>


        </div>

        <!-- <mat-form-field class="form-group" appearance="outline">

          <mat-label for="secret">Secret Question</mat-label>
          <mat-select
          id="secret"
          class="form-control"
          [ngModel]="defaultQuestion"
          matInput
          name="secret"
          required
          >
          <mat-option value="location">Your favorite place</mat-option>
          <mat-option value="teacher">Your favorite teacher</mat-option>
        </mat-select>

        </mat-form-field>
      <mat-form-field class="form-group" appearance="fill">
        <textarea
        name="questionAnswer"
        rows="3"
        matInput
        placeholder="Answer:"
        [(ngModel)]="answer"></textarea>
        <p>You entered: {{ answer }}</p>
      </mat-form-field> -->

      <p *ngIf="!userDataHook.valid && userDataHook.touched">Please fill in all fields in order to proceed with signing up.</p>
      <!-- <button mat-raised-button class="suggestUser" (click)="suggestUserName()" type="button">Suggest a Username</button> -->
      <button mat-raised-button type="submit" [disabled]="!signUpData.valid">Signup</button>
    </form>

  </div>
  </div>
</div>
