
<div id="app" class="d-flex flex-column h-100">
  <div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <div class="load-screen">
    </div>
  </div>

  <ng-template #loaded>
    <div *ngIf="isAuthenticated">
      <app-header (notificationSettings)="displayPanel($event)" [displayNotification] ="toggleSettingsTemplate" ></app-header>
      <hr>

      <div *ngIf="isEntryPoint">
        <app-subscriptions></app-subscriptions>
        <!-- set app-loading here as well, and toggle isLoading boolean to false after loaded. Also, disble ability to open JuicyBets Setting while here  -->
      </div>

      <div *ngIf="toggleSettingsTemplate && !isLoading">
        <app-match-notification-settings (disableViewEvent)="displayPanel($event)" (flickerEvent)="resetSettings($event)" [resetToTab]="tabSelection"></app-match-notification-settings>
      </div>
      <div *ngIf="!isEntryPoint">
        <div class="container flex-grow-1">
          <div class="mt-5">
            <router-outlet></router-outlet>
            <app-loading [isLoading]="isLoading"></app-loading>
                </div>
              </div>
            </div>

      </div>

  </ng-template>


   <div *ngIf="!isAuthenticated">

      <div class="welcome-container">

          <app-landing-page></app-landing-page>

          <div class="welcome-buttons">
            <app-auth-login-button class="button"></app-auth-login-button>
            <app-auth-signup-button class="button"></app-auth-signup-button>
          </div>

          <div class="marketing-hook">
            <h1>Level Up! Marketing Blahblahblah</h1>
          </div>
          <div class="about-us">
            <h1 class="about-text"> ABOUT US </h1>
            <div class="about-text-cont" >
              <p class="about-text">
              <span class="about-text-bigger">Welcome to Juicy-Bets! We are creators of quality betting tools, designed at helping you identify valuable betting opportunities with ease.</span>
                You may have heard of Matched Betting or Value Betting. As the names suggest, both involve placing bets with betting sites but with one fundamental difference. What these terms have in common is that they both involve taking value from bookmakers. A quick Google search of either of these terms and you will have enough content to keep you reading for days. It is a well-known fact that when followed correctly these strategies are a great way to make an extra income. In fact, for some people, it is their full-time job and sole source of income.
                Anyone that has experience with matched betting will understand the importance of speed and accuracy when it comes to odds data. Other matched betting services are unable to offer anything close to real time odds data, often displaying bookmaker odds that are 5 minutes old. In the betting world this is an eternity and offers little value as odds can move so quickly.
                The aim of Juicy-Bets is to create intuitive tools that offer close to real-time odds data from bookmakers and exchanges. Combine this with the logic of profitable matched betting strategies and a user-friendly interface and the result is increased productivity and earnings.
                Please note: The information contained on this Website and the resources available are for educational and informational purposes only.​ No betting activity takes place within Juicy-Bets.com.

              </p>
            </div>
          </div>
          <app-footer></app-footer>
      </div>

  </div>

