
hr {
  border-color:  #f9a825;
  margin-top: unset;
}

mat-spinner {
  position: absolute;
  left: 45%;
  top: 50%;
  z-index: 6;
}

.mat-spinner-circle {
  /* located in theming.scss line 4744 */
  stroke: #f9a825;
}

.welcome-banner{
  color: #f9a825;
  text-align: center;
  text-decoration: underline;
}

.welcome-container{
  width: 95%;
  margin: 0 auto;
  display: inline;
}

.button{
  margin-left: 2%;
}

img {
margin-top: 10%;
}

.load-screen {
  text-align: center;
  width: 100%;
  height: 1000px;
  background: #263238;
}

p{
  color: white;
}
.companydetails{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 70px;
  line-height: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
  color: #a5a18c;
  padding-top: 1rem;

}

.welcome-buttons{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 70px;
  visibility: visible;
}

.button{
  margin-left: 1rem;
}



.about-text-title {
  font-size: 1.7em;
  text-align: center;
  color: whitesmoke;
  text-decoration: underline;
}

.about-text-lead {
  font-size: 1.2em;
  text-align: center;
  color: #f9a825;
}

.about-text {
  font-size: 1.4em;
  line-height: 1.2;
}

.buy-me{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: whitesmoke;
  padding: 30px;
  text-decoration: underline;
}

h1 {
  font-size: 2.5em;
  color: whitesmoke;
}


.about-text-cont {
  width: 90%;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: 1px solid lightgray;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px #f9a825;
}
.about-text-cont > h1 {
  text-align: center;
}

.about-text-wrapper {
  width: 100%;
  min-height: inherit;
}

.about-container {
  display: inline-flex;
  width: 27%;
  border-left: 1px solid #fff0f00f;
  border-right: 1px solid #fff0f00f;
  padding: 32px;
  min-height: inherit;
  height: auto;
}



/* Responsive layout */

@media(max-width: 700px){
  .welcome-buttons{
    visibility: hidden;
  }
  p.about-text{
    font-size: 0.8rem;;
  }
}

@media (max-width: 1000px){

  .about-text-wrapper {
    padding-left: 0px;
  }
  p.about-text{
    width: 100%;
    font-size: 1rem;
  }
}

@media(max-width: 1140px){

  .about-text-wrapper{
    padding-left:0px;
  }
  .about-container{
    display: inline;
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  p.about-text{
    font-size: 1.17rem;
    border: 2px solid #37474f;
    border-radius: 20px;
    padding-bottom: 20px;
    padding: 10px;
  }
}

@media(max-width: 1366px){
  .about-container {
    width: 30%;
    padding: 15px;
  }
  p.about-text{
    font-size: 1.13rem;
  }
}

@media(max-width: 1440px){
  img {
    width: 100%
  };
  .about-container {
    width: 30%;
    padding: 15px;
  }

  .about-text-wrapper{
    padding-left: 0px;
  }

  p.about-text{
    font-size: 1.29rem;
  }
}

@media(min-width:1441px) and (max-width:1920px){
  img{
    width: 90%;
  }
  .about-container {
    display: inline;
    border-left: 0px;
    border-right: 0px;
  }

  p.about-text{
    font-size: 1.55rem;
    border: 2px solid #37474f;
    padding: 20px;
    border-radius: 20px;
  }
}










