
<div id="app" class="d-flex flex-column h-100">
  <div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <div class="load-screen">
      <img src="../assets/img/isLoading.jpg" alt="">
      <p>I don't think I could....</p>
    </div>
  </div>

  <ng-template #loaded>
    <div *ngIf="isAuthenticated">
      <app-header (notificationSettings)="displayPanel($event)" ></app-header>
      <hr>
      <div *ngIf="_displayNotification && !isLoading">
        <app-match-notification-settings ></app-match-notification-settings>
      </div>
      <div class="container flex-grow-1">
        <div class="mt-5">
          <router-outlet></router-outlet>
          <app-loading [isLoading]="isLoading"></app-loading>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </ng-template>


    <div *ngIf="!isAuthenticated" class="welcome-container">
      <app-landing-page></app-landing-page>
      <hr class="top-hz">
      <div class="welcome-buttons">
        <app-auth-login-button></app-auth-login-button>
        <app-auth-signup-button class="button"></app-auth-signup-button>
      </div>
      <hr class="bottom-hz">
      <app-about></app-about>
    </div>


</div>

