:host {
  background-image: linear-gradient(to bottom right, red, #a76f6f);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 40%;
  right: 36%;
  overflow: hidden;
  margin: 0 0 6px;
  padding-top: 4px;
  width: 350px;
  height: 67px;
  border-radius: 3px 3px 3px 3px;
  pointer-events: all;
  cursor: pointer;
  box-shadow: 0 0 12px #999999;
}

:host:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* .btn-pink {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
} */
:host.border-gold{
  border-top: 1px solid #ffc235;
  }

  .toast-title{
    text-align: center;
    color: #ef9e1b;
    font-size: 125%;
    padding-top: 5%;
  }

  .toast-message{
    text-align: center;
    margin-top: 1%;
    color: #ef9e1b;
  }
