:host {
  background: linear-gradient(52deg, rgba(166,20,20,1) 10%, rgba(145,7,7,1) 79%, rgba(219,67,67,1) 89%);
  position: fixed;
  top: 40%;
  right: 36%;
  border: 2px solid #f9a825;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 336px;
  height: 60px;
  padding-top: 2px;
  border-radius: 7px;
  pointer-events: all;
  cursor: pointer;
}

:host:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* .btn-pink {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
} */
:host.border-gold{
  border-top: 1px solid #ffc235;
  }

  .toast-title{
    text-align: center;
    color: #ef9e1b;
    font-size: 125%;
    padding-top: 5%;
  }

  .toast-message{
    text-align: center;
    margin-top: 1%;
    color: #ef9e1b;
  }
