
<div class="filter-container">

  <form (ngSubmit)="onSubmit()" [formGroup]="viewTableForm">
    <div class="primary-filter">
      <h1>Primary Filter</h1>
      <div class="primary-description">

        <div class="primary-input">
          <p>Follow teams with win back odds between: </p>
          <div class="audio-group">
            <mat-form-field class="audio-wrapper">
              <mat-slide-toggle class="audio-toggle" formControlName="audioEnabled">
                  <div class="sab-matched" *ngIf="viewTableForm.value.audioEnabled; else noSound">Audio notification | ON </div>
                  <ng-template class="sab-unmatched" #noSound>Audio notification | OFF</ng-template>
                </mat-slide-toggle>
                <input formControlName="audioEnabled" matInput #value hidden/>
              </mat-form-field>
          </div>
        </div>


        <div class="primary-input">
          <div class="odds-group">
            <div class="odds-container">
              <mat-form-field class="odds-field" appearance="fill">
                <mat-label class="value-selector">Min. Odds</mat-label>
                <input
                  formControlName="minOdds"
                  matInput
                  placeholder="{{ minOddsFilter }}">
                  <mat-error *ngIf="viewTableForm.controls.minOdds.errors">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field class="odds-field" appearance="fill">
                <mat-label class="value-selector">Max Odds</mat-label>
                <input
                  formControlName="maxOdds"
                  matInput
                  required
                  placeholder= "{{ maxOddsFilter}}">
                  <mat-error *ngIf="viewTableForm.controls.maxOdds.errors">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="secondary-filter">
      <div class="vt-settings-container">
        <h1>Secondary Filter</h1>
        <p>Additional filters used for displaying results and triggering notifications. </p>
        <!-- point to viewTableForm : FormGroup  -->

              <div class="filterby-text">Filter by:
              <mat-form-field appearance="fill">
                <mat-label>Current: {{evPlaceholder}}</mat-label>
                <mat-select
                  formControlName="fvSelected"
                  [value]="fvSelected"
                  placeholder="{{evPlaceholder}}">
                  <mat-option *ngFor="let filter of filters" [value]="filter.value"> {{filter.option}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="choice-container">
            <ng-container *ngIf="viewTableForm.get('fvSelected').value == 1">
              <div class="ev-filter-container">
                <div class="ev-row">
                  <div class="ev-text">
                    Calculates the expected value of a single 2up bet by taking the current back and lay odds and applying the <b>Preferred Stake</b> and the expected <b>FTA frequency</b>.
                    From the preferences menu, FTA frequency can be set to the average 1 in 65 bets, or the <b>Juicy-Bets FTA rating</b>.
                  </div>

                </div>

                <div class="input-containers">
                  <div class="filter-wrapper">
                    <div class="ev-text">
                      Display results with a minimum Expected Value (£) of:
                    </div>
                    <div class="ev-input">
                      <mat-form-field appearance="fill">
                        <mat-label>Display in Juicy</mat-label>
                          <input
                          formControlName="evFilterValueI"
                          matInput
                          placeholder= "{{ filtersFormValues.evFVI }}">
                          <mat-error *ngIf="viewTableForm.controls.evFilterValueI.errors">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>


                  <div class="filter-wrapper">
                    <div class="ev-text">
                      Display <b>notifications</b> for results with a minimum Expected Value (£) of:
                    </div>
                    <div>
                      <mat-form-field appearance="fill">
                        <mat-label>Notification Alert</mat-label>
                        <input
                        formControlName="evFilterValueII"
                        matInput
                        placeholder= "{{ filtersFormValues.evFVII }}">
                        <mat-error *ngIf="viewTableForm.controls.evFilterValueII.errors">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="viewTableForm.get('fvSelected').value == 2">

              <div class="mr-text">
                Match Rating (%) indicates our profit/loss when placing a matched bet. A matched bet with a back stake of £100.00 and a Match Rating (%) of 95% would have a qaulifying loss of £5.00.
              </div>

              <div class="input-containers">
                <div class="filter-wrapper">
                  <div class="mr-text">
                    Display results with a Match Rating (%) between: <span [ngStyle]="{'color':viewTableForm.controls.matchRatingFilterI.errors ? 'red' : 'white'}">{{!viewTableForm.controls.matchRatingFilterI.errors ? (viewTableForm.get('matchRatingFilterI').value + '% - 100%') : ' Invalid entry, please enter a Match Rating % between 0-100'}}</span>
                  </div>
                  <div>
                    <mat-form-field appearance="fill">
                      <mat-label>Display in Juicy</mat-label>
                      <input
                        formControlName="matchRatingFilterI"
                        matInput
                        required
                        placeholder= "{{ matchRatingFilterI }}">
                        <mat-error *ngIf="viewTableForm.controls.matchRatingFilterI.errors || viewTableForm.controls.errors?.mrMismatch">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="filter-wrapper">
                  <div class="mr-text">
                    Display notifications for results with a Match Rating (%) greater than {{viewTableForm.get('matchRatingFilterII').value}}% and less than 100%.
                  </div>
                  <div>
                    <mat-form-field appearance="fill">
                      <mat-label>Notification Alert</mat-label>
                      <input
                        formControlName="matchRatingFilterII"
                        matInput
                        required
                        placeholder= "{{ matchRatingFilterII }}">
                        <mat-error *ngIf="viewTableForm.controls.matchRatingFilterII.errors">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>


            </ng-container>

            <ng-container *ngIf="viewTableForm.get('fvSelected').value == 3" >
              <div class="secret-sauce-container">

                  <div class="ss-text">
                    Qualifying Loss (%) is the qualifying loss of a matched 2up bet expressed as a percentage of the amount returned in the event of a 2up Full Turnaround (E.g. A matched bet with a qualifying loss of -£1.00, with a potential Full Turnaround payout of £100.00 would have a Qualifying Loss (%) of -1.00%).
                  </div>

                  <div class="input-containers">
                    <div class="filter-wrapper">
                      <div class="ss-text">
                        Display results with a Qualifying Loss (%) less than {{viewTableForm.get('secretSauceI').value}}%.
                      </div>
                      <div>
                        <mat-form-field appearance="fill">
                          <mat-label>Display in Juicy</mat-label>
                          <input
                            formControlName="secretSauceI"
                            matInput
                            placeholder= "{{ secretSauceI }}">
                            <mat-error *ngIf="viewTableForm.controls.secretSauceI.errors">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="filter-wrapper">
                      <div class="ss-text">
                        Display notifications for results with a Qualifying Loss (%) less than {{viewTableForm.get('secretSauceII').value}}%.
                      </div>
                      <div>
                        <mat-form-field appearance="fill">
                          <mat-label>Notification Alert</mat-label>
                          <input
                            formControlName="secretSauceII"
                            matInput
                            placeholder= "{{ secretSauceII }}">
                            <mat-error *ngIf="viewTableForm.controls.secretSauceII.errors">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>


              </div>
            </ng-container>
          </div>

               <div *ngIf="viewTableForm.errors && (viewTableForm.touched || viewTableForm.dirty)" class="cross-validation-error-message alert alert-danger">
                Something went wrong! Most likely the second value in your 'Secondary Filter' is less than your table view filter setting for the following fields: {{ getFormErrorMessage() }}
              </div>
      </div>
    </div>
  </form>
</div>
