mat-side-nav-container {
  position: relative;
  float: right;
}

mat-drawer-backdrop {
  visibility: visible;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
  height: 500px;
}

mat-sidenav {
  background-color: #f9a825;
  width: 100%;
  height: 100%;
}

mat-sidenav-content {
  background-color:   #263238;
  color: #f9a825;
  text-align: center;

}

.preference-container {
  text-align: center;
  margin-top: 40px;
}
.stake-field-cont {
  width: 100%;
}
div.stake-field-cont>p,input {
  width: 40%;
  display: inline;
}

.stake-header {
  display: inline;
  width: 50%;
  padding: 10%;
}
input.stake-input {
  margin-left: 5%;
  width: 20%;
}
#final-range {
  margin-left:13%;
}

.inner-nav {
  float: left;
  color: #f9a825;
}

.outer-nav {
  position: relative;
  float: right;
  transform: rotate(270deg);
  top: 33px;
  left: 60px;
  border: 1px solid #f9a825;
}

input.ng-invalid.ng-touched {
  border: red 2px solid;
  background-color: slategray;
  opacity: 0.5;
}

.default-preference, .submitButton {
  color: darkgreen;
}

.formControlMsg {
  color: red;
}

