  <form (ngSubmit)="saveStakePref()" [formGroup]="preferenceForm">
    <div class="preference-container">

      <div class="preferred-stake-cont">
        <h1>Preferred Stakes</h1>
        <div class="pref-stake-text">
          Set the default back stake amount that you would usually use for each odds range.
        </div>

        <div class="pref-stake-form">
          <div class="header-container">
            <p class="odds-header header">Odds Range</p>
            <p class="stake-header header">Stake (£)</p>
            <p class="header"> ~ Liability / bet</p>
            <p class="header"> ~ FTA Return</p>
          </div>


          <div formArrayName="stakes">
            <div *ngFor="let stake of stakes.controls; index as i;">

              <div class="stake-field-cont">
                <div class="stake-range pref-stake-column">
                  <p>{{stakeRanges[i]}} </p>
                </div>
                <div class="stake-input-cont pref-stake-column ">
                    <input class="stake-input"
                    type="number"
                    step="1"
                    matInput
                    [formControlName]="i"
                    value="{{userStakes[i]}}"
                    placeholder="Stake"
                    required>
                </div>
                <div class="pref-stake-column">
                  £ {{calcLiability(i)}}
                  <!-- £{{userStakes[i] * (oddsRangeUpperLimit[i]-1)}} -->
                </div>
                <div class="pref-stake-column">
                  £ {{calcFTAReturn(i)}}
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="estimated-value-cont">
        <div formArrayName="options">

        <div class="fta-container">
          <h1>FTA Occurrence Indicators </h1>
          <p class="estimated-value-text"> Apply either the <span class="fta-highlight">Juicy-Bets FTA</span> or the <span class="fta-highlight">Avg 1/65 FTA</span> indicator while calculating the Estimated Value of a bet. </p>
                        <div class="ev-content-row1">
                  <mat-form-field appearance="fill">
                                        <mat-select formControlName="FTASelected">
                      <mat-option *ngFor="let ftaSelect of ftaSelection" [value]="ftaSelect.value">
                        {{ftaSelect.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
                <p class="estimated-value-text"> The  <span class="fta-highlight">  {{options.get('FTASelected').value == 'generic' ? ftaSelection[1].viewValue : ftaSelection[0].viewValue }} </span> indicator will be applied.</p>
        </div>

            <hr class="ev-fta-divider">
              <div class="exchange-container">
                <h1>Exchanges</h1>
                  <div class="exchange-content">
                    <div class="exchange-wrapper">
                      <h3>Primary Exchange</h3>
                      <mat-form-field appearance="fill">
                        <mat-select formControlName="Exchange">
                          <mat-option *ngFor="let exchangeSelect of exchangeSelection"  [value]="exchangeSelect.value">
                            {{exchangeSelect.viewValue}}
                          </mat-option>
                        </mat-select>
                        <mat-label class="value-selector"> {{preferenceForm.value.options.Exchange}}</mat-label>
                      </mat-form-field>
                    </div>

                    <div class="exchange-wrapper">
                      <h3>Commission % Rates</h3>
                      <mat-form-field appearance="fill">
                        <mat-label class="value-selector"> Smarkets</mat-label>
                        <input formControlName="Commission" matInput placeholder="{{preferenceForm.get('options').value[2]}}" [value]="preferenceForm.get('options').value[2]">
                      </mat-form-field>
                    </div>
                  </div>
              </div>
        </div>
      </div>
    </div>

    <div class="smarkets">
    </div>
    <div class="alerts-notifications">
    </div>
  </form>


