hr {
  width: 95% !important;
  align-items: center;
}

h1 {
  margin-left: 4%;
  font: 400 20px/14px Roboto, "Helvetica Neue", sans-serif
}

h3 {
  margin-left: 4%;
  font: 400 16px/32px Roboto, "Helvetica Neue", sans-serif;
}

.header-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.header {
  width: 15%;
}
.pref-stake-text{
  margin-left: 4%;
  padding-bottom: 25px;
  margin-right: 4%;
  font: 400 12px/18px Roboto, "Helvetica Neue", sans-serif;
}
.odds-header{
  font: 400 14px/18px Roboto, "Helvetica Neue", sans-serif;
  width: fit-content;
}
.stake-header {
  width: 30%;
  text-align: center;
}

form {
  margin-left: auto;
  margin-right: auto;
}

.preference-container {
  margin-top: 20px;
  width: 100%;
}

.preferred-stake-cont,
.estimated-value-cont {
  width: 50%;
  display: inline-grid;
  float: left;
}

.pref-stake-form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.preferred-stake-cont{
  margin-left: 0%;
}
.stake-field-cont {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.stake-range {
  display: inline-block;
}

.stake-input-cont{
  display: contents;
}

.stake-input {
  border: 1px solid #263238;
  background: #3a4a52;
  opacity: 0.5;
  text-align: center;
  width: 30%;
  margin-left: 20px;
}

input::placeholder {
  color: white;
  opacity: 1;
}

.stake-range>p{
  margin: 0px;
}

.stake-input-cont{
  width: fit-content;
  margin-left: 20px;
}
.exchange-container,
.fta-container {
  min-height: 150px;
}

.estimated-value-text{
  margin-left: 4%;
  margin-right: 4%;
  font: 400 12px/18px Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep.mat-select-arrow {
  color: #f9a825;
}
::ng-deep.value-selector{
  color: white;
}
::ng-deep.mat-select-value-text{
  color: white;
}
::ng-deep.mat-form-field{
  margin-left: 4%;
}
::ng-deep.mat-form-field-wrapper{
  position: relative;
    margin-left: 8px;
}


#final-range {
  margin-left:13%;
}


.inner-nav {
  float: left;
  color: #f9a825;
}

.outer-nav {
  position: relative;
  float: right;
  transform: rotate(270deg);
  top: 33px;
  left: 60px;
  border: 1px solid #f9a825;
}

input.ng-invalid.ng-touched {
  border: red 2px solid;
  background-color: slategray;
  opacity: 0.5;
}

.default-preference, .submitButton {
  color: darkgreen;
}

.formControlMsg {
  color: red;
}

.vertical {
  border-left: 2px solid #4b5960;
  height: 96%;
  position:absolute;
  left: 50%;
}

.ev-fta-divider{
  border: 1px solid #4b5960;
  margin-bottom: 15px;
}

::ng-deep.mat-hint, .mat-form-field-appearance-legacy .mat-hint{
  color: white;
}


.fta-highlight{
  color: #aa8920;
}

@media(min-width: 700px){

  .settings-view-container{
    width: 99%;
  }

  .preffered-stake-cont{
    margin-left: 0%;
    width: 40%;
  }
}

@media (min-width: 1000px){
  p.estimated-value-text,
  p.estimated,
  .pref-stake-text {
    font-size: 0.82rem;
  }

  .pref-stake-form{
    width: 40%;
  }

  .exchange-container,
  .fta-container{
    width: 80%;
  }

  .exchange-content{
    display: inline-flex;
  }
  .exchange-wrapper {
    margin-left: 10px;
  }
}

@media(min-width: 1140px){

}

@media(min-width: 1300px){

}

@media(min-width: 1366px){

}

@media(min-width: 1400px){

}

@media(min-width: 1500px){
  p.estimated-value-text,
  p.estimated,
  .pref-stake-text {
    font-size: 0.97rem;
  }
}

@media(min-width:1600px){

}

@media(min-width:1700px){

}

@media(min-width:1801px){

}

@media(min-width:1401px) and (max-width:1920px){

}
