    <div class="preference-container">

      <div class="preferred-stake-cont">
        <h1>Preferred Stakes</h1>
        <div class="header-container">
          <p class="odds-header header">Odds Range</p>
          <p class="stake-header header">Stake</p>
        </div>


          <form (ngSubmit)="saveStakePref(stakeValues)" #stakeValues="ngForm">
            <div class="stakeContainerForm"
                 ngModelGroup="stakeData"
                 #stakeDataHook="ngModelGroup">
                <div *ngFor="let stake of userStakes; let i = index">
                  <div class="stake-field-cont">
                    <div class="stake-range">
                      <p>{{stakeRanges[i]}} </p>
                    </div>
                    <div class="stake-input-cont">
                      <input
                      class="stake-input"
                      type="number"
                      ngModel
                      matInput
                      name="user{{i}}Stakes"
                      placeholder="{{stake.stake | currency:'GBP' }}"
                      required>
                    </div>
                  </div>
                </div>
            </div>

          <div class="save-preferred-stakes" *ngIf = "stakeValues.touched">
            <button
             type="submit"
             [disabled]="!stakeValues.valid"
             (click)="isSaved=true">Save</button>
          </div>

          <div class="default-preference" *ngIf="defaultChecked">Default Steak Settings applied! Please save.</div>
          <div class="formControlMsg" *ngIf="!stakeValues.valid">Please fill in all highlighted boxes!</div>
          <div class="submitButton" *ngIf="isSaved && !stakeValues.pristine">Preferences Saved!</div>
          <div class="submitButton" *ngIf="isSaved && stakeValues.pristine">Please edit some values first...</div>
        </form>

        <!-- <div class="stake-field-cont">
            <p>1.5 - 2.0 </p>
            <input
              class= "stake-input"
              type="text"
              id=first-range
              value={{stakes[0]}}>
          </div>
          <div class="stake-field-cont">
            <p>2.0 - 3.0 </p>
            <input
            class= "stake-input"
            type="text"
            id=second-range
            value={{stakes[1]}}>
          </div>
          <div class="stake-field-cont">
            <p>3.0 - 4.0 </p>
            <input
            class= "stake-input"
            type="text"
            id=third-range
            value={{stakes[2]}}>
          </div>
          <div class="stake-field-cont">
            <p>4.0 - 5.0 </p>
            <input
              class= "stake-input"
              type="text"
              id=fourth-range
              value={{stakes[3]}}>
          </div>
          <div class="stake-field-cont">
            <p>5.0 - 6.0 </p>
            <input
              class= "stake-input"
              type="text"
              id=fifth-range
              value={{stakes[4]}}>
          </div>
          <div class="stake-field-cont">
            <p>6.0 - 7.0 </p>
            <input
              class= "stake-input"
              type="text"
              id=sixth-range
              value={{stakes[5]}}>
          </div>
          <div class="stake-field-cont">
            <p> > 7.0 </p>
            <input
              class= "stake-input"
              type="text"
              id=final-range
              value={{stakes[6]}}>
          </div> -->
      </div>

      <div class="estimated-value-cont">

          <h1>Estimated Value Preferences</h1>
          <div class="fta-container">
            <div class="ev-content-row1">
              <p>Calculate expected value using</p>
              <p> <b>INPUT FTA OPTION DROP DOWN </b></p>
            </div>

            <div class="ev-content-row2">
              <p> The <b>FTA rating</b> along with the <b>Preferred Stake</b> are used to calculate the estimated value of any 2up bet. </p>
            </div>
          </div>

        <hr class="separator">

          <div class="exchange-container">
            <h1>Exchanges</h1>
            <h3>Primary Exchange</h3>

              <b>EXCHANGE DROP DOWN</b>

            <h3>Commission Rates</h3>
            <img src="../assets/img/smarketsIcon.png" alt="">
          </div>
      </div>

    </div>
    <div class="smarkets"></div>
    <div class="alerts-notifications"></div>


