<form (ngSubmit)="saveStakePref()" [formGroup]="preferenceForm">
    <div class="preference-container">

      <div class="preferred-stake-cont">
        <h1>Preferred Stakes</h1>
        <div class="header-container">
          <p class="odds-header header">Odds Range</p>
          <p class="stake-header header">Stake</p>
        </div>


        <div class="stakeContainerForm">
          <div formArrayName="stakes">
            <div *ngFor="let stake of stakes.controls; index as i;">

              <div class="stake-field-cont">
                <div class="stake-range">
                  <p>{{stakeRanges[i]}} </p>
                </div>
                <div class="stake-input-cont">
                    <input
                    class="stake-input"
                    type="number"
                    step="0.1"
                    matInput
                    [formControlName]="i"
                    placeholder="Stake"
                    required>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="estimated-value-cont">
        <div formArrayName="options">

            <h1>Estimated Value Preferences</h1>
            <div class="fta-container">
              <div class="ev-content-row1">
                  <mat-form-field appearance="fill">
                    <mat-label> FTA Option</mat-label>
                    <mat-select formControlName="FTASelected">
                      <mat-option *ngFor="let ftaSelect of ftaSelection" [value]="ftaSelect.value">
                        {{ftaSelect.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
                <p class="ev-row1-text">Calculate expected value using:  {{preferenceForm.get('options').value[0] == 'custom' ? 'Custom FTA Rating' : ' General 1/65 Bet Avg' }}</p>
            </div>

              <div class="ev-content-row2">
                <p> The <b>FTA rating</b> along with the <b>Preferred Stake</b> are used to calculate the estimated value of any 2up bet. </p>
              </div>

              <hr class="separator">

              <div class="exchange-container">
                <h1>Exchanges</h1>
                <h3>Primary Exchange</h3>
                  <mat-form-field appearance="fill">
                    <mat-select formControlName="Exchange">
                      <mat-option *ngFor="let exchangeSelect of exchangeSelection"  [value]="exchangeSelect.value">
                        {{exchangeSelect.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-label> {{preferenceForm.value.options.Exchange}}</mat-label>
                  </mat-form-field>


                  <h3>Commission Rates</h3>
                  <img src="../assets/img/smarketsIcon.png" alt="">
                  <mat-form-field>
                    <mat-label>Smarkets</mat-label>
                    <input formControlName="Commission" matInput placeholder="{{preferenceForm.get('options').value[2]}}" [value]="preferenceForm.get('options').value[2]">
                  </mat-form-field>
                </div>
              </div>
            </div>



          </div>
    <div class="smarkets"></div>
    <div class="alerts-notifications"></div>
    <button (click)="test()"> Calc Settings Test</button>
  </form>


