hr {
  width: 95% !important;
  align-items: center;
}

h1 {
  margin-left: 2%;
}

.header-container {
  width: 100%;
  display: inline-flex;
}

.header {
  width: 13%;
}
.odds-header{
  margin-left: 10%;
}
.stake-header {
  margin-left: 40px;
}

form {
  margin-left: auto;
  margin-right: auto;
}

.preference-container {
  margin-top: 40px;
  width: 100%;
}

.preferred-stake-cont,
.estimated-value-cont {
  width: 50%;
  display: inline-grid;
  float: left;
}

.preferred-stake-cont{
  margin-left: 0%;
}
.stake-field-cont {
  width: 100%;
}

.stake-range,
.stake-input-cont {
  display: inline-block;
}

.stake-input {
  border: 1px solid #263238;
  background: #3a4a52;
  opacity: 0.5;
  text-align: right;
  width: 30%;
  margin-left: 20px;
}

input::placeholder {
  color: white;
  opacity: 1;
}

.stake-range{
  margin-left: 60px;
  text-align: center;
  width: 13%;
}

.stake-input-cont{
  width: fit-content;
  margin-left: 20px;
}


.fta-container,
.exchange-container {
  min-height: 150px;
  padding: 20px;
}

#final-range {
  margin-left:13%;
}


.inner-nav {
  float: left;
  color: #f9a825;
}

.outer-nav {
  position: relative;
  float: right;
  transform: rotate(270deg);
  top: 33px;
  left: 60px;
  border: 1px solid #f9a825;
}

input.ng-invalid.ng-touched {
  border: red 2px solid;
  background-color: slategray;
  opacity: 0.5;
}

.default-preference, .submitButton {
  color: darkgreen;
}

.formControlMsg {
  color: red;
}

