::ng-deep.mat-form-field-appearance-outline, ::ng-deep.mat-form-field-prefix, ::ng-deep.mat-form-field-appearance-outline, ::ng-deep.mat-form-field-suffix {
  top: 0rem!important;
}

::ng-deep.mat-dialog-content {
  height: inherit;
}

span  {
  display: contents !important;
  position: unset;
}

hr {
  margin-top: 5px;
}

mat-hint{
  color: white;
}

div.mat-dialog-content > p{
  text-align: center;

}

.fta-selection{
  color: #aa8920;
}
.button-grouping{
  float: right;
}


.popup-btn {
  border: 1px #222c2f solid !important;
}

.title-container {
  display: inline-flex;
  position: relative;
  width: 100%;
}
.title-details {
  margin: 0px;
  width: 88%;
  display: inline-block;
}

.text-details {
  width: 70%;
  display: grid;
}

.logo-container {
  position: absolute;
  top: 3%;
  left: 88%;
}

.logo {
  width: 60px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 39px;
  margin-left: auto;
}


.sab-ftaOption-container {
  width: 100%;
  display: inline-block;
}
.sab-matched-container{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.sab-matched-container > mat-form-field
 {
  float:right;
  width: 100px;
}
.toggle-ftaOption-container{
  display: inline-flex;
}

.sab-ftaToggle{
  margin-left: auto;
  margin-top: -60px;
}
.sab-ftaOption{
  width: 100%;
  text-align: center;
  display: inline-grid;
}
.header-details{
  display: inline-grid;
  width: 100%;
}
.new-bet-title{
  text-align: center;
  width: 100%;
}
.sab
::ng-deep.mat-form-field-underline{
  display: none !important;
}

.sab-values {
  position: relative;
  float: right;
  text-align: right;
  width: 100px;
  margin-left: auto;
  padding: 0px;
}

.sab-cont {
  margin-top: 0.7rem;
}


.update-message {
  color: #126E51;
  margin-left: auto;
  margin-right: auto;
  min-height: 30px;
  text-align: center;
}

.over-ride-pl {
  display: inline-block;
  margin-left: auto;
  margin-top: 26px;
  margin-bottom: 10px;
  width: 100%;
}

.pl-input{
  float: right;
}

.user-comments {
  width: 100%;
  margin-top: 0.75rem;
  margin-left: 1rem;
}

.comment-box {
  height: 80px;
}

.sab-input {
  height: 17px;
  padding: 0px;
}

.bookie-row {
  margin-left: auto;
  position: relative;
  background: radial-gradient(at 52% 0, #126E51, transparent 80%),
              linear-gradient(201deg, #095940, transparent 76%) top;
  color: white;
}

.exchange-row {
  position: relative;
  background: radial-gradient(at 60% 0, #383838, transparent 80%),
              linear-gradient(181deg, #383838, transparent 80%) bottom;
  color: white;
}

.edit-main-fields{
  display: inline-flex;
  width: 100%;
}

.exchange-row,
.auto-calculated-fields,
.bookie-row {
  border: 1px black solid;
  height: 140px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.bookie-row {
  width: 40%;
}

.exchange-row {
  width: 60%;
}

.auto-calculated-fields{
  width: 100%;
  background: radial-gradient(at 60% 0, #4a8195, #11171a 80%),
              linear-gradient(181deg, #383838, transparent 80%) bottom;
  color: white;
  display: inline-flex;
}


.bookie-container{
  color: #fff;
  background-size: cover;
  width: fit-content;
  margin-top: 5px;
  border-radius: 3px;
}

/* Logos & Buttons */
.bookie-link {
  background-image: url(/assets/img/bet365II.png);
}

.exchange-link {
  background-image: url(/assets/img/smarketsII.png);
}

.bet-state-button {
  width: 150px;
  height: 40px;
  color: white;
  margin-bottom: 0.5em;
}

.bet-state-button:focus {
  color: #ffc235;
}


.glow {
  color: snow;
  opacity: .75;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    background:#027b5b;
  }
  50% {
    background: #37726a;
  }
  100% {
    background: #0d5d44;
  }
}

::ng-deep.mat-form-field-subscript-wrapper {
  font-size: 85% !important;
}



.column-base {
  display: inline-flex;
  justify-content: space-between;
  float: left;
  width: 30%;
}

.bookie-column1 {
    margin-top: 6%;
    margin-left: 10px;
    font-size: large;
    display: inline;
  }

.exchange-column1 {
  margin-top: 3%;
  margin-left: 10px;
  font-size: large;
  display: inline;
}

.bookie-column1 {
  width: 45%;
}
.bookie-column2 {
  width: 45%;
}

.exchange-column1,
.exchange-column2,
.exchange-column3{
  width: 30%;
}

.bookie-column1 > p,
.exchange-column1 > p {
  font-size: 20px;
  text-align: center;
}

.bookie-column2,
.exchange-column2,
.exchange-column3 {
  display: inline-grid;
  margin-top: 0.8rem;
}

.exchange-column3 {
  float: right;
  margin-top: 1.6rem;
}

.bookie-wrapper,
.exchange-wrapper,
.liability-wrapper {
  display: inline-flex;
  max-height: 4em;
  margin-left: auto;
  margin-right: auto;
}

.liability-wrapper{
  margin-top: 1.3rem;
}

.bookie-text,
.exchange-text{
  padding: .75em .75em 0 .75em;
  margin-top: 1em;
}

div.exchange-column1 > p.exchange-text-comm  {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}


.liability-text {
  margin-block-start: auto;
  margin-right: 10px;
}

.mat-input-element:disabled{
  color: #d0cdc4 !important;
}

/* Comments  & Auto Calc */
.comments-cont {
  width: 40%;
}


.user-comments {
  width: 96%;
}

.user-update-notification{
  display: inline-block;
  width: 50%;
}

.sab-values-auto-calc {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
}


.auto-calc-column {
  width: 30%;
  text-align: center;
  padding-top: 0.5rem;
}

.ac-row {
  margin-bottom: 0.6rem;
}

.ac-hr {
  margin-top: -1px !important;
  width: 90% !important;
  border: 1px solid #aa8920 !important;
}

.auto-calc-text {
  margin-bottom: 0.2rem;
}

/* Edits */



