::ng-deep.mat-form-field-appearance-outline, ::ng-deep.mat-form-field-prefix, ::ng-deep.mat-form-field-appearance-outline, ::ng-deep.mat-form-field-suffix {
  top: 0rem!important;
}

mat-error {
  padding-top: 2px;
}

.dialog-content {
  height: inherit;
  padding: 0px;
}

.sab-ftaOption-container {
  display: contents;
  text-align: center;
  width: fit-content;
}

h3 {
  color: white;
}

.sab-ftaOption{
  width: 100%;
  text-align: center;
  display: inline-grid;
}
.toggle-ftaOption-container{
  display: inline-flex;
}

.sab-ftaToggle{
  visibility: hidden;
}

.header-details{
  display: inline-grid;
  width: 100%;
}

.fta-selection{
  color: #aa8920;
}

.sab-ftaToggle{
  margin-left: auto;
  margin-top: -60px;
}

.new-bet-title{
  text-align: center;
  width: 100%;
  color: white;
  display: inline;
}

/* JUICYBETS STYLING */

/*Page Header*/
table,
.table-title,
.no-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

td {
  cursor: default;
}

.table-format{
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}

.form-container {
  height: 100%;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type{
  width: 60px;
  padding: 0px;
}

.no-content {
  height: 400px;
  background: #e0e1e2;
  color: black;
  text-align: center;
  padding-top: 30px;
  height: 200px;
}

 table {
   height: fit-content;
}
.hdr-items {
  display: inline-block;
}
.hdr-tabs {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/*Main Container for all */
.table-container {
  margin-bottom: 130px;
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  height: 60%;
}

/* Main Juicy column headers hooks and rows juicy rows */
.mat-column-BackOdds,
.mat-column-LayOdds,
.mat-column-EVthisBet,
.mat-column-MatchRating,
.mat-column-FTAround{
  text-align: center;
  font-size: large;
  font-weight: 500;
  width: 120px;
}

.column-head {
  margin-left: 15px;
}

.mat-column-backOdd > div,
.mat-column-layOdd > div {
  box-shadow: 2px 2px 5px 1px #5f5f5f;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  color: white;
  border-radius: 3px;
}

.mat-column-layOdd > div{
  background: #003366;
}
.mat-column-backOdd > div {
  background: #126e51;
}
.mat-cell {
  border-bottom-width: 0;
}

.mat-cell-withdata {
  border-bottom:  1px solid #bebcbc;
  min-width: 10px;
  width: 80px;
}

.glow {

  opacity: .95;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    color:#263238;
    border: 1px solid #ffffff5c;
    background: aliceblue;
  }
  50% {
    color: #91a6b1;
    border: 1px solid #7e90995c;
    background: rgb(174, 187, 197);
  }
  100% {
    color: #263238;
    border: 1px solid #ffffff5c;
    background: aliceblue;
  }
}

.mat-column-Selection {
  font-size: 0.875rem;
  font-weight: 500;
}

tr.sab-detail-row{
  height:0;
}

/* hover change background */
tr.sab-row:not(.sab-expanded-row):hover {
  background: whitesmoke;
}

tr.sab-row:not(.sab-expanded-row):active{ /* when main container clicked, change color */
  background: rgb(255, 191, 14);
}

.juicyMatch td {
  border-bottom-width: 0;
}

.juicyMatch-detail { /* hides juicy detaisl */
  overflow: hidden;
  background:whitesmoke;
  height: 100%;
}

.selection {
  text-align: center;
  display:none;
}

.leaguename>p{
  text-align: center;
  margin-top: -5px;
  margin-bottom: 0px;
  font-size: smaller;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  line-height: 17px;
}

#logo {
  width: 100%;
}

.logo-img-cont>img{
  width: 50%;
}

#column0hdr,
#column1hdr,
#column2hdr {
  font-size: medium;
  font-weight: 400px;
  border-right: 1px solid #00000012;
  text-align: left;
  padding-left: 10px;
  background: #263238;
}

.cdk-column-LayOdds>span {
  background: green;
  color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

/* Main table format */
tr.mat-header-row{
  height: 20px;
}

/*Layout for team name and logo*/
div.selection-logo-cont {
  width: 10%;
}

/* Parent container for all back and lay bet details including logo*/
div.jm-exp-details {
  display: inline-flex;
  width: 100%;
  height: 100%;
  background: #d2d2d2;
}
/* Parent container for all back and lay bet details excluding logo*/
.jm-expanded-container {
  width: 100%;
  height: 100px;
  display: inline-block;
  padding-bottom: 10px;
}

.expanded-content{
  display: inline-flex;
  width: 100%;
  height: 100%;
}

 /* Bookie and exchange logo in main row of juicy table */
.odds-img-bookie{
  position: relative;
  z-index: 3;
  min-height: 39px;
  width: 37px;
  margin-left: -58px;
}
.odds-img-exchange{
  position: relative;
  z-index: 3;
  min-height: 39px;
  width: 37px;
  margin-left: -58px;
 }

#prev-odds {
  margin-top: 25px;
}

 /* Bookie and exchange logo + juicy bet details */
.exchange-img{
  width: 30%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 5%;
}

.bookie-img {
  width: 40%;
  vertical-align: middle;
  margin-top: 4%;
  margin-bottom: 5%;
}

/* Editable text boxes that allow user input for back and lay odds and back stake*/
.value-box-back,
.selection-box {
  background:  #ffffff;
}

.value-box-lay::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  background:  #2d363e;
}

.value-box-laystake::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  background:  #2d363e;
  color: white;
}


.value-box-lay {
  background: #ffffff;
}

.value-box-back{
  width: 45%;
}

.value-box-lay,
.selection-box {
  width: 50%;
}

.value-box-laystake {
  background: #2d363e;
  color: whitesmoke;
  width: 50%;
  font-size: 0.9rem;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
  vertical-align: middle;
  margin-top: 4%;
  height: 20px;
}

.value-box-back,
.value-box-lay,
.selection-box {
  font-size: 0.9rem;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
  vertical-align: middle;
  margin-top: 4.5%;
  height: 20px;
}
/* Back Bet style and layout*/
.teamname,
.bookie,
.exchange,
.calculated
{
  display: inline-flex;
  float: left;
  text-align: center;
  height: 95%;
  padding-top: 7px;
  padding-left: 1px;
}

.teacmnamecontainer,
.bookiecontainer,
.exchangecontainer,
.calculatedcontainer {
  height: 95%;
}

.teamnamecontainer{
  border-style: solid;
    width: 100%;

    color: #263238;;
    padding-left: 0px;
    border-radius: 35px;
    background: radial-gradient(at 60% 0, #ffffff, transparent 80%), linear-gradient(5deg, #939393, transparent 80%) bottom;
    margin-left: 5px;
    margin-right: 0;
}

.bookiecontainer{
  border-style: solid;
    width: 86%;

    color: #538878;
    padding-left: 0px;
    border-radius: 35px;
    background: radial-gradient(at 0% 0, #126E51, transparent 74%), linear-gradient(5deg, #095940, transparent 80%) bottom;
    padding-right: 5px;
    margin-left: 5px;
    display: inline-flex;
}

.exchangecontainer{
    width: 100%;
    border: 3px solid #19222b;
    color: #ffffff;
    padding-left: 0px;
    border-radius: 35px;
    background: radial-gradient(at 153% 0, #e0e1e2, #19222b 66%), linear-gradient(101deg, #e0e1e2, #171d1dd9 146%) bottom;
    margin-left: -15px;
    display: inline-flex;
}

.calculatedcontainer{
  border: 3px solid #2d4d5a;
  width: -webkit-fill-available;
  color: #487e92;
  height: 93%;
  padding-left: 0px;
  border-radius: 35px;
  background: radial-gradient(at 111% 0, #4f8ca2, #172329 66%),
              linear-gradient(231deg, #383838, transparent 80%) bottom;
  margin-left: -18px;
  margin-right: -138px;
  display: inline-flex;
  padding-top: 2px;
}

.teamname{
  width: 10%;
}
.bookie{
  width: 23%;
}
.exchange{
  width: 34%;
}

.calculated {
  width:29%;
  padding-top: 7px;
  margin-left: 13px;
}

.match-date {
  margin-left: 10px;
  width: 100px;
  font-size: 0.7rem;
}

.mat-hint{
  color: white;
}


.exchange>b{
  color: black;
}

.bookie-button-container {
  background-image: url(/assets/img/bet365II.png);
  background-size: cover;
  width: 80px;
  height: 24px;
  box-sizing: border-box;
  border: 0.5px solid #31715d;
  margin-top: 39px;
}

.exchange-button-container{
  background-image: url(/assets/img/smarketsII.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 24px;
}
.teamname-container {
  width: 100%;
  float: left;
  padding-top: 6px;
}
.bookie-container {
  width: 50%;
  padding-top: 4px;
  padding-right: 1px;
}
.bookie-container-disp {
  width: 50%;
  padding-top: 3px;
}
.exchange-container-disp {
 margin-top: 3px;
}

.exchange-container-disp,
.exchange-container-input,
.exchange-container-output{
  width: 33%;
}

.exchange-container-input{
  margin-top: 3px;
}


.bookie-row,
.exchange-row {
  display: inline-flex;
  width: 100%;
}

.bookie-row,
.exchange-row{
  margin-top: 5px;
}

.exchange-text-comm{
  font: 400 10px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.bookie-text-lhs,
.exchange-text-lhs{
color: #ececec;
float: left;
font-size: large;
margin-top: 7px;
}

.bookie-text-rhs,
.exchange-text-mid,
.exchange-text-rhs{
  color: #ececec;
  float: left;
}

.bookie-text-rhs,
.exchange-text-mid,
.exchange-text-rhs {
  width: 18%;
  margin-right: 20px;
  margin-top: 11px;
  padding-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
}

.bookie-text-lhs,
.exchange-text-lhs {
  width: 100%;
}

.bookie-teamname-style {
  width: 100%;
  font-size: large;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  }
.bookie-button-style {
  vertical-align: middle;
  justify-items: center;
  width: 20%;
  position: relaative;
}

.liability-text,
.liability-amount {
  width: fit-content;
  padding-top: 5%;
  margin-left: auto;
  font-size: small;
}

.liability-amount{
  margin-right: auto;
  margin-left: 5px;
  font-size: small;
}

.exchange-atodds-style {
  width: 100%;
  padding-top: 8%;
}

.exchange-liability-style {
width: 100%;
padding-top: 8%;
}

.exchange-layamount-style {
  width: 100%;
  font-size: large;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
}

.exchange-button-style {
  vertical-align: middle;
  justify-items: center;
  width: 20%;
  height: 100%;
  }

.exp-button{
  height: 96px;
  right: -97px;
  top: 0px;
  min-width: 42px;
  line-height: 13px;
  padding: 2px;
  border: 1px solid #2d4d5a;
  border-radius: 0px 33px 33px 0px;
  background: radial-gradient(at 47% 42%, #126E51, #00000061 74%), linear-gradient(5deg, #095940, #0000002b 80%) bottom;
  box-shadow: 0px 0px 10px -1px #ffffffa8;
  color: #e6b522;
}

.record-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 11px;
  outline: none;
}

.button-container {
  width: 165px;
}

.r1, .r2 {
  width: 35%;
  display: inline-block;
}

.qlpercent-text{
  padding-left: 50px;
  color: white;
  padding-top: 4px;
}
.ql-text{
  width: 31px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.fta-cont,
.ql-cont {
  display: inline-flex;
  margin-top: 4px;
}

.fta-text{
  width: 31px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}


.calculated-value-fta-ql{
  font-size: 120%;
}
.calculated-value-lhs,
.calculated-text-lhs {
  font-size: 90%;
}



.last-dividers{
  width: 85%;
  margin-top: -1px;
  margin-left: 0px;
}
.selection-figures {
  display: inline-flex;
  width: 50%;
  justify-content: space-around;
}


 input::placeholder {
  background: #fff;
  color: black;
  opacity: 1;
}

.bet-state-button {
  color: white;
  width: 77%;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 12px;
  padding: 1px;
  text-align: center;
  box-shadow: 0px 0px 7px -1px #ffffff;
  margin-left: auto;
  margin-right: auto;
}

p.betState {
  display: inline-flex;
  margin-right: 7px;
  margin-left: 10px;
  font-size: large;
  font-weight: 400;
  color: black;
  width: fit-content;
}

th.mat-sort-header-sorted {
  color: black;
}

.b3-odd-cont, .sm-odd-cont, .fta-value-cont {
  height: 29px;
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 81%;
  border-radius: 3px;
}

.b3-odd-cont {
  min-height: 39px;
}
.sm-odd-cont {
  min-height: 39px;
}

.fta-value-cont {
  background: radial-gradient(at 76% 0, #263238, #263238ad 70%), linear-gradient(0deg, #e0e1e2, transparent 50%) bottom;
  border-radius: 5px;
  width: 8px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.odd-text {
  position: relative;
  top: 22%;
  left: 6%;
}
.fta-value-text {
  position: absolute;
  top: 7px;
  left: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
}


/* column headers */
th.mat-column-created,
th.mat-column-stake,
th.mat-column-fixture,
th.mat-column-backOdd,
th.mat-column-layOdd,
th.mat-column-occ,
th.mat-column-ql,
th.mat-column-isSettled,
th.mat-column-matchDetail,
th.mat-column-selection,
th.mat-column-pl,
th.mat-column-delete {
  color: #ffbf0e;
  font-size: small;
  font-weight: 400;
  border-right: 1px solid #43535c;
  background: #263238;
}


td.mat-column-fixture {
  font-weight: 400;
  width: 128px;
}

.mat-column-selection {
  width: 140px;
}

::ng-deep.mat-sort-header-content{
  margin-left: auto;
  padding: 4px;
}
::ng-deep.mat-sort-header-arrow {
  color: #ffbf0e;
}

span.calculated-value{
  padding: 4px;
}

.touchRow {
  background:#ffc235;;
}

.sidenav-content {
  display: flex;
  height: 100%;
}

::ng-deep.mat-drawer-container.mat-drawer-container{
  float: right;
  width: fit-content;
}

.delete-container {
  padding: 0px;
}

.delete-sidenav {
  padding: 0px;
}

.confirm-delete {
  background: #8a0606;
  color: white
}
.settle-bet-cont{
  display: inline-flex;
  width: 20px;
  padding-bottom: 14px;
}

.chevron-right,
.chevron-locked{
  width: 100%;
}

.settled-bet {
  display: inline;
  width: 100%;
}

.chevron-locked {
  text-align: center;
  margin-top: 13px;
  display: inherit;
  padding-right: 7px;
}

.settled-row {
    opacity: 0.8;
    background: #f9a825;
    box-shadow: 0px;
}

.sbet{
  display: inline;
}
.settled-overlay{
  background: #263238;
  position: relative;
  top: 6px;
  color: #dbab18;
  border-radius: 3px;
  box-shadow: 3px 2px 15px 1px #5f5f5f;
  cursor: pointer;
}

.hidden-input {
  display: inline;
  visibility: hidden;
  background:pink;
}
.status-button {
  color: #8a0606;
  cursor: pointer;
}

.status-button:hover {
  border: 1px solid #8a0606;
}



.btn-default {
  background: #ffffff;
  position: relative;
  top: 6px;
  color: #263238;
  border-radius: 3px;
  border: 1px solid #2a363c5c;
  cursor: pointer;
}
.mr-overlay {
  opacity: 0.9;
}

.pl-label {
  color: #131212;
}
.status-btn:hover {
  color: #eba32f;
}

.pl-input {
  width: 60px;
  max-height: 30px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.status-btn {
  width: 64px;
  font-size: 0.65rem;
  padding: 0px;
  border: 1px solid #c3bbbb;
}

.mr-overlay>td>div>span.mr7box {
  color: red;
  cursor: pointer;
}

/* Input increment arrow hide */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.calculated-contaier {
  margin-top: 5px;
}

.calculated-container-comments{
  width: 33%;
  float: left;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 13px;
}

.comments-cont {
  width: 80%;
}

.user-comments{
  width: 110%;
  padding-left: 5%
}

.auto-calc-input{
  height: 35px;
  font-size: 12px;
  color: white;
}

.valueheadercontainer{
  margin-bottom: -10px;
  margin-top: 5px;
  line-height: 5px;
}

.valueheadercontainer2{
  margin-top: 27px;
  margin-bottom: -9px;
  line-height: 8px;
}

.roi-text{
  color: white;
  padding-left: 35px;
}
.ev-text{
  padding-left: 80px;
  padding-right: 80px;
  color: white;
}
.mr-text{
  color: white;
  padding-right: 40px
}
.ROIdivider,
.EVdivider,
.MRdivider,
.FTAdivider,
.QLPdivider,
.QLdivider{
  margin-top: 13px !important;
  width: 18% !important;
  border: 1px solid #aa8920 !important;
  display: inline-flex;
  margin-right: 5px;
  padding-right: 38px;
  margin-bottom: -5px;
}
.calculated-row
{
  position: relative;
}
.ROIvalue{
  color: white;
  font-size: 95%;
  position: absolute;
  left :9%;
}
.EVvalue{
  color: white;
  font-size: 95%;
  color: white;
  font-size: 95%;
  position: absolute;
  left: 44%;
}
.MRvalue{
  color: white;
  font-size: 95%;
  position: absolute;
  left: 76%;
}

.FTAText{
  color: white;
  padding-left: 25px;
  padding-right: 20px;
}
.QLPercenttext{
  padding-left: 55px;
    padding-right: 72px;
    color: white;
}
.QLText{
  color: white;
  padding-right: 35px
}
.FTAvalue{
  color: white;
  font-size: 95%;
  position: absolute;
  left :8%;
}
.QLPercentagevalue{
  color: white;
  font-size: 95%;
  color: white;
  font-size: 95%;
  position: absolute;
  left: 44%;

}
.QLvalue{
  color: white;
  font-size: 95%;
  position: absolute;
  left: 76%;
}
.record-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 11px;
  outline: none;
}

.button-grouping {
  padding: 8px 0;
  display: inline;
  width: 100%;
}

.popup-btn {
  height: 38px;
  width: 75px;
  float: right;
  color: black;
  margin-left: 7px;
  background: aliceblue;
}

.error-highlight{
  border: 1px solid red;
  background: #ff00001c;
}


