:host {
  background: rgb(7,96,68);
  background: linear-gradient(53deg, rgba(7,96,68,1) 48%, rgba(6,140,98,1) 90%, rgba(113,189,165,1) 98%);
  position: fixed;
  top: 50%;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #f9a825;
  border-radius: 7px;
  cursor: pointer;
  padding-top: 5px;
  font-weight: 400;
  font-size: 16px;
  height: 90px;
  padding-top: 10px;
  overflow: hidden;
  width: 100%;
}

:host:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* .btn-pink {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
} */
:host.border-gold{
  border-top: 1px solid #ffc235;
  }

  .toast-title{
    text-align: center;
    color: #ef9e1b;
    font-size: 100%;
  }

  .toast-message{
    text-align: center;
    margin-top: 1%;
    color: #ef9e1b;
  }

