
.toast-top-center {
  top: 12px;
  margin: 0 auto;
  left: 50%;  
  }

:host:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* .btn-pink {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
} */
:host.border-gold{
  border-top: 1px solid #ffc235;
  }

  .toast-title{
    text-align: center;
    color: #ef9e1b;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 1px 1px black;
  }
  
  :host.toast-success {
  background: linear-gradient(53deg, rgba(7,96,68,1) 48%, rgba(6,140,98,1) 90%, rgba(113,189,165,1) 98%);
  background-size: cover;
  width: 42% !important;
  top: 5px !important;
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;  
  overflow: hidden;
  }
  .toast-message{
    text-align: center;
    margin-top: 1%;
    color: #ef9e1b;
    font-weight: 300;
    text-shadow: 1px 1px black;
  }

