

    <div class="welcome-img-container">
      <img class="welcome-img" src="../../assets/img/landinglogo.png" alt="">
      <div class="slogan">  Save Time, Make More Money!</div>
      <div class="unsupported"> Unsupported Screen Size </div>
    </div>

    <div class="welcome-buttons">
      <app-auth-login-button class="button"></app-auth-login-button>
      <app-auth-signup-button class="button"></app-auth-signup-button>
    </div>

    <div class="buy-me">
      <!-- <h1><b><i>THE ONLY</i></b> Match Betting tool you'll need</h1> -->
    </div>
    <div class="about-us">
      <div class="about-text-cont" >
        <h1 class="welcome-banner">Welcome to Juicy Bets</h1><br>
        <h2 class="about-text-title">Creators of quality matched betting tools</h2><br>

        <div class="about-text-wrapper">
          <div class="about-container">
            <h2 class="about-title">Our mission</h2>
            <p class="about-text">To seek valuable betting opportunities through intuitive tools that combine accurate odds data with matched betting strategies.</p>
          </div>
        </div>

        <div class="tool-box">
            <h1 class="tool-title">Toolbox</h1>
            <div class="tool-wrapper">
              <div class="tool-container">
                <div class="tool-item">
                  <div class="option-wrapper">
                    <img  class="sub-img" src="../../assets/img/2upEnabled210x210.png" alt="">
                    <div class="button-wrapper">
                      <button class="info-button" mat-raised-button (click)="displayTwoUpInfo()">Info</button>
                    </div>
                  </div>
                </div>
                <div class="tool-item">
                  <div class="option-wrapper coming-soon">
                    <div class="sad-ball">
                      <p>Coming <br>soon</p>
                    </div>
                  </div>
                </div>
                <div class="tool-item">
                  <div class="option-wrapper coming-soon">
                    <div class="sad-ball">
                      <p>Coming <br>soon</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="faq">
          <h2 class="faq-title">FAQ</h2>
          <mat-expansion-panel class="betting-exchange-exp expansion-panel" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title class="popup-dialog"> What is a matched bet?</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="faq-info"> At its simplest, a matched bet involves placing a back bet at a bookmaker while placing the opposing lay bet at a betting exchange in order to trigger some sort of bonus.
              <br>
              Bookmakers create promotions that offer an edge to the bettor. Typically these promotions involve placing a bet at the bookmaker that releases a free bet which can then be converted to cash.
              <br>
              There are however many other forms of matched betting that don’t rely on free bets at all.
              These methods often require a bit more learning in order to extract value but once mastered, these techniques can be very profitable. </p>
            </mat-expansion-panel>
            <hr>

            <mat-expansion-panel class="betting-exchange-exp expansion-panel" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title class="popup-dialog">What is a betting exchange?</mat-panel-title>
              </mat-expansion-panel-header>
              <p class="faq-info">A betting exchange is a platform that allows users to bet against each other. Instead of placing your bet against a bookmaker, you place it against another person. You can play the role of ‘customer’
                and bet that something WILL happen or you can play the role of ‘bookmaker’ and bet that something WON’T happen. Being able to bet that something won’t happen is what makes matched betting possible.</p>
            </mat-expansion-panel>

            <hr>

            <mat-expansion-panel class="betting-exchange-exp expansion-panel" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title class="popup-dialog">What is expected value?</mat-panel-title>
              </mat-expansion-panel-header>
              <p class="faq-info">Expected value is a predicted value of a bet, calculated as the sum of all possible values each multiplied by the probability of its occurrence. In betting, the expected value (EV) is the measure of what a bettor can expect to win or lose per bet placed on the same odds time and time again.
                <br>
                <br>
                 Positive expected value (+EV) implies profit over time, while a negative value (-EV) implies a loss over time. All bettors should be aiming to identify betting value with every bet they make.</p>
              </mat-expansion-panel>
        </div>
      </div>
    </div>
