

    <div class="welcome-img-container">
      <img class="welcome-img" src="../../assets/img/landinglogo.png" alt="">
      <div class="slogan">  Save Time, Make More Money!</div>
      <div class="unsupported"> Unsupported Screen Size </div>
    </div>
    <div class="welcome-buttons">
      <app-auth-login-button class="button"></app-auth-login-button>
      <app-auth-signup-button class="button"></app-auth-signup-button>
    </div>

    <div class="buy-me">
      <!-- <h1><b><i>THE ONLY</i></b> Match Betting tool you'll need</h1> -->
    </div>
    <div class="about-us">
      <div class="about-text-cont" >
        <h1 class="welcome-banner">Welcome to Juicy Bets</h1><br>
        <h2 class="about-text-title">Creators of quality matched betting tools</h2><br>

        <div class="about-text-wrapper">
          <div class="about-container">
            <h2 class="about-title">Our mission</h2>
            <p class="about-text">To seek valuable betting opportunities through intuitive tools that combine accurate odds data with matched betting strategies.</p>
          </div>
        </div>

        <div class="tool-box">
            <h1 class="tool-title">Toolbox</h1>
            <div class="tool-wrapper">
              <div class="tool-container">
                <div class="tool-item">
                  <div class="option-wrapper">
                    <img  class="sub-img" src="../../assets/img/2upEnabled210x210.png" alt="">
                    <div class="button-wrapper">
                      <button class="info-button" mat-raised-button (click)="displayTwoUpInfo()">Info</button>
                    </div>
                  </div>
                </div>
                <div class="tool-item">
                  <div class="option-wrapper coming-soon">
                    <div class="sad-ball">
                      <p>Coming <br>soon</p>
                    </div>
                  </div>
                </div>
                <div class="tool-item">
                  <div class="option-wrapper coming-soon">
                    <div class="sad-ball">
                      <p>Coming <br>soon</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
