<h1>WATCHLIST</h1>
<div class="mn-display">

          <mat-table  mat-table [dataSource] ="dataSource">
            <!-- Generate Column Headers -->
            <ng-container *ngFor="let column of columns" matColumnDef= {{column.field}}>
              <ng-container *ngIf="column.field.startsWith('B')">
                <mat-header-cell *matHeaderCellDef> <img src="/assets/img/betIcon.png" alt=""></mat-header-cell>
              </ng-container>
                <ng-container *ngIf="column.field.startsWith('SM')">
                  <mat-header-cell *matHeaderCellDef> <img src="/assets/img/smarketsIcon.png" alt=""></mat-header-cell>
                </ng-container>
              <ng-container *ngIf="!column.field.startsWith('B') || !column.field.startsWith('SM')">
                <mat-header-cell *matHeaderCellDef> <span>{{column.columnDisplay}}</span> </mat-header-cell>
              </ng-container>
              <!-- Generate Data Cells -->
              <mat-cell *matCellDef="let row; let i = index">

                  <ng-container *ngIf="!column.field.endsWith('Status')">
                    <ng-container *ngIf="column.field.endsWith('BHome') || column.field.endsWith('SMHome') || column.field.endsWith('OccH') || column.field.endsWith('OccA') || column.field.endsWith('BAway') || column.field.endsWith('SMAway')">
                      <span class="{{column.field}} viewCell"> {{ row[column.field] | number:'0.2-2'}}</span>
                    </ng-container>

                    <ng-container *ngIf="column.field.startsWith('Home') || column.field.startsWith('Away') ">
                      <span class="{{column.field}} viewCell"> {{ row[column.field] }}</span>
                    </ng-container>

                    <ng-container *ngIf="column.field.startsWith('FixturesDate')">
                      <button mat-raised-button class="fixturesDateBtn"><span id="fixturesText">{{ row[column.field] }} </span> </button>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="column.field.endsWith('Status')">
                    <div class="dirStatusContainer">
                      <ng-container *ngIf="column.field.endsWith('HStatus')">
                        <ng-container>
                          <button mat-icon-button
                            (click)="row.HStatus.notify=!row.HStatus.notify"
                            class="{{column.field}} viewCell">
                            <mat-icon>
                              add_alert
                            </mat-icon>
                          </button>
                        </ng-container>

                        <ng-container >
                          <button mat-icon-button
                            class="{{column.field}} viewCell"
                            (click)="row.HStatus.ignore=!row.HStatus.ignore"
                            appIgnoreIcon
                            [ignoreStatus]="row.HStatus.ignore">
                            <mat-icon>
                              block
                            </mat-icon>
                          </button>
                        </ng-container>

                        <ng-container>
                          <button mat-icon-button
                            class="{{column.field}} viewCell"
                            (click)="row.HStatus.bet=!row.HStatus.activeBet"
                            appBetHome [hBetStatus]="row.HStatus.activeBet"
                            id="hStatusMoney">
                            <mat-icon>
                              attach_money
                            </mat-icon>
                        </button>
                        </ng-container>
                      </ng-container>

                      <!-- AWAY STATUS CONFIG -->
                      <ng-container *ngIf="column.field.endsWith('AStatus')">
                        <ng-container>
                          <button mat-icon-button
                            (click)="row.AStatus.notify=!row.AStatus.notify"
                            class="{{column.field}} viewCell">
                            <mat-icon>
                              add_alert
                            </mat-icon>
                          </button>
                        </ng-container>

                        <ng-container >
                          <button mat-icon-button
                            class="{{column.field}} viewCell"
                            (click)="row.AStatus.ignore=!row.AStatus.ignore"
                            appIgnoreIcon
                            [ignoreStatus]="row.AStatus.ignore">
                            <mat-icon>
                              block
                            </mat-icon>
                          </button>
                        </ng-container>

                        <ng-container>
                          <button mat-icon-button
                            class="{{column.field}} viewCell"
                            appBetAway
                            (click)="row.AStatus.bet=!row.AStatus.activeBet"
                            appBetAway [aBetStatus]="row.AStatus.activeBet"
                            id="hStatusMoney">
                            <mat-icon>
                              attach_money
                            </mat-icon>
                        </button>
                        </ng-container>
                      </ng-container>
                    </div>

                  </ng-container>

              </mat-cell>
            </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                <ng-container class="groupHeaderCont" matColumnDef="groupHeader">
                  <ng-container *matCellDef="let group">

                      <mat-cell colspan="10" >
                        <div class="leagueGroupContainer">
                          <h2>{{group[groupByColumns[0]]}}</h2></div>
                      </mat-cell>
                    </ng-container>
                  </ng-container>

            <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup;"></mat-row>
          </mat-table>
</div>


