<div class="mn-display">

          <mat-table  mat-table [dataSource] ="dataSource">
            <!-- Generate Column Headers -->
            <ng-container *ngFor="let column of columns" matColumnDef= {{column.field}}>
              <ng-container *ngIf="column.field.startsWith('B')">
                <mat-header-cell *matHeaderCellDef> <img src="/assets/img/betIcon.png" alt=""></mat-header-cell>
              </ng-container>
                <ng-container *ngIf="column.field.startsWith('SM')">
                  <mat-header-cell *matHeaderCellDef> <img src="/assets/img/smarketsIcon.png" alt=""></mat-header-cell>
                </ng-container>
              <ng-container *ngIf="!column.field.startsWith('B') || !column.field.startsWith('SM')">
                <mat-header-cell *matHeaderCellDef> <span>{{column.columnDisplay}}</span> </mat-header-cell>
              </ng-container>
              <!-- Generate Data Cells -->
              <mat-cell *matCellDef="let row; let i = index">
                  <!-- column.field.endsWith('OccH') || column.field.endsWith('OccA') || -->
                  <ng-container *ngIf="!column.field.endsWith('Status')">
                    <ng-container *ngIf="column.field.endsWith('BHome') || column.field.endsWith('SMHome') ||  column.field.endsWith('BAway') || column.field.endsWith('SMAway')">
                      <span class="{{column.field}} viewCell"> {{ row[column.field] | number:'0.2-2'}}</span>
                    </ng-container>


                    <ng-container *ngIf="column.field=='Home'">
                      <div class="team-home-container">
                        <span class="{{column.field.toLowerCase()}}-selection"> {{ row[column.field] }}</span>
                        <img class="bookie-logo home-fc-logo" src="/assets/img/fcLogo/{{row[column.field].toLowerCase().split(' ').join('-')}}.png" alt="">
                      </div>
                    </ng-container>

                    <ng-container *ngIf="column.field=='Away'">
                      <div class="team-away-container">
                        <img class="bookie-logo away-fc-logo" src="/assets/img/fcLogo/{{row[column.field].toLowerCase().split(' ').join('-')}}.png" alt="">
                        <span class="{{column.field.toLowerCase()}}-selection"> {{ row[column.field] }}</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="column.field.startsWith('FixturesDate')">
                      <button mat-raised-button class="fixturesDateBtn" [style.background]="row.isWatched ? 'rgb(249, 168, 37)' : 'rgb(195, 195, 195)'"(click)="removefromWatchList(row);">
                        <div class="fixturesText">
                          <div class="fixturesDate"> {{row[column.field]}} </div>
                          <div class="fixturesTime"> {{row['FixturesTime']}} </div>
                        </div>
                      </button>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="column.field.endsWith('Status')">
                    <div class="dirStatusContainer">
                      <ng-container *ngIf="column.field.endsWith('HStatus')">
                        <ng-container>
                          <button mat-icon-button
                            class="{{column.field}} viewCell"
                            (click)="row.HStatus.bet=!row.HStatus.activeBet"
                            appBetHome [hBetStatus]="row.HStatus.activeBet"
                            id="hStatusMoney">
                            <mat-icon>
                              attach_money
                            </mat-icon>
                        </button>
                        </ng-container>
                      </ng-container>

                      <!-- AWAY STATUS CONFIG -->
                      <ng-container *ngIf="column.field.endsWith('AStatus')">
                        <ng-container>
                          <button mat-icon-button
                            class="{{column.field}} viewCell"
                            appBetAway
                            (click)="row.AStatus.bet=!row.AStatus.activeBet"
                            appBetAway [aBetStatus]="row.AStatus.activeBet"
                            id="hStatusMoney">
                            <mat-icon>
                              attach_money
                            </mat-icon>
                        </button>
                        </ng-container>
                      </ng-container>
                    </div>

                  </ng-container>

              </mat-cell>
            </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                <ng-container class="groupHeaderCont" matColumnDef="groupHeader">
                  <ng-container *matCellDef="let group">

                      <mat-cell colspan="10" >
                        <div class="leagueGroupContainer">
                          <h2>{{group[groupByColumns[0]]}}</h2></div>
                      </mat-cell>
                    </ng-container>
                  </ng-container>

            <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup;"></mat-row>
          </mat-table>
</div>


