.mn-display {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.fixturesTable, .defaultTable {
  width: 100%;
}

mat-table {
  margin-top: 3px;
}

mat-row, mat-header-row {
  background: #404040;
  color: white;
}


.mat-column-groupHeader, .leagueGroupContainer  {
  background: #7a8585;
}

.footer-container {
  margin-bottom: 100px;
  color:white;
  text-align: center;
}

.leagueToggleSelect {
  display: none;
}

.mat-column-Details {
  border-bottom: transparent;
}

.lge-title-cont> h1, .home-away-cont> h2 {
  color: black;
  text-align: center;
}

.main-header {
  display: inline-block;
  width: 100%;
}


.hac {
  float:left;
  width: 49.6%;
}
.hmStatus{
    background: blue;
    color: white;
    border-bottom-color: white;
}

.mat-icon-button {
  margin-right: 2px;
}

.dirHStatus{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.dirHSelection{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.dirStatusContainer{
  display: flex;
}

.awStatus{
  background: #13530b;
  color: white;
  border-bottom-color: white;
}


.dirAwStatus{
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
}

.dirAwSelection{
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
}

.dirHBetStatus, .dirABetStatus{
    color: #126e51;
    background: white;
    border-radius: 5px;
}

.ignoreThis{
  color: rgb(255, 41, 13);
  background: white;
  border-radius: 5px;
}



app-view-table-sidenav {
  float: left;
}

.setting-btn {
  color: white;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

#footer {
  width: 100%;
}
div.footer-container{
  color: white;
}

.leagueToggleSelect{
  float: right;
  display: inline-flex;
}
.leagueGroupContainer>h2 {
  display: inline;
  color: whitesmoke;
}

.leagueGroupContainer{
  text-align: center;
  width: 100%;
}

.mat-column-OccH>span, .mat-column-OccA>span {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.mat-column-Home, .mat-column-Away, .mat-column-FixturesDate {
  background: white;
  text-align: center;
  margin-bottom: 0;
  color: black;
}

.mat-column-FixturesDate>span {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.cdk-column-Home{
  background: white;
  text-align: center;
  width: 100%;
}

span.home-selection, span.away-selection {
  color: black;
  font-size: 14px;
  margin-top: 5px;
  padding: 0px 10px;
}

span.BHome, span.BAway, span.SMHome, span.SMAway, span.BHome, span.BAway {
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

}
span.BAway, span.BHome{
  background: #f9a825;
  background-image: linear-gradient(to top, #f5b95a, #ee9a12);
  font-family: Bahnschrift SemiBold;
  font-size: large;
  border-radius: 5px;
  font-size: large;
}

span.SMAway, span.SMHome{
  background: #202020;
  color: #ffbf0e;
  border-radius: 5px;
  font-size: large;
}

mat-header-cell.cdk-column-Home, mat-header-cell.cdk-column-Away, mat-header-cell.cdk-column-FixturesDate {
  background-image: linear-gradient(to top, #f5b95a, #ee9a12);
}

.mat-icon-button {
  width: 30%;
}


.bookie-logo  {
  display: inline-flex;
  border: 2px #f9a825 solid;
  background: #263238;
  width: 28px;
  padding: 5px;
}

.home-fc-logo{
  border-radius: 0px 3px 3px 15px;
}

.away-fc-logo{
  border-radius: 3px 0px 15px 3px;
}
.viewCell {
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
}

button.viewCell {
  background: #afafaf;
}

/* Home/Away Odds */
.mat-column-BHome, .mat-column-SMHome, .mat-column-OccH, .mat-column-OccA, .mat-column-BAway, .mat-column-SMAway {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: fit-content !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Team Cells */
.mat-column-Home, .mat-column-Away{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: fit-content !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Match Button */
.mat-column-FixturesDate{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: fit-content !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.team-home-container{
  margin-left: auto;
  display: inline-flex;
}

.team-away-container{
  margin-right: auto;
  display: inline-flex;
}

.fixturesDateBtn {
  width: 100%;
  height: 48px;
  white-space: normal;
  background: #f2f2f2  !important;
}

 .fixturesDate, .fixturesTime {
  margin-left: auto;
  margin-right: auto;
}

.fixturesDate {
  height: 11px;
}

.fixturesTime {
  padding-top: 6px;
}

#fixturesText {
  width: 80%;
  font-size: 10px;
}

#hStatusMoney{
  background: none !important;
  padding: 0px;
  color: #f4b147;
}
