<mat-drawer-container class="view-table-settings" [hasBackdrop]="true">
  <mat-sidenav #sidenav
              [mode]="mode"
              [fixedInViewport]="true"
              [disableClose]="true">

              <button mat-icon-button class="exit-button" (click)="sidenav.close()"> <mat-icon>close</mat-icon> </button>
              <br>
              <h1>View Table Settings</h1>
              <br>

              <div class="vt-settings-container">

                <h1> Select Leagues </h1>
                <!-- point to viewTableForm : FormGroup  -->
                  <form (ngSubmit)="onSubmit()" [formGroup]="viewTableForm">
                    <mat-form-field appearance="fill">
                      <mat-label>{{leagues}}</mat-label>
                        <mat-select
                          class="league-dropdown"
                          formControlName="leagueSelection"
                          #select
                          multiple>
                          <mat-select-trigger>
                            {{viewTableForm.value.leagueSelection ? viewTableForm.value.leagueSelection[0] : ''}}
                            <span *ngIf="viewTableForm.value.leagueSelection.length > 1" class="example-additional-selection">
                              (+{{viewTableForm.value?.leagueSelection.length - 1}} {{viewTableForm.value?.leagueSelection.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>

                          <div class="select-all">
                            <mat-checkbox   [(ngModel)]="allSelected"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="toggleAllSelection()">All</mat-checkbox>
                          </div>
                          <mat-optgroup *ngFor="let group of leagueGroups" [label]="group.country">
                            <mat-option (click)="optionClick()" *ngFor="let league of group.leagues" [value]="league"> {{league}}</mat-option>
                          </mat-optgroup>
                        </mat-select>
                      </mat-form-field>

                      <br>
                      <h1 class="header">Select Time</h1>
                      <mat-form-field appearance="fill">
                        <mat-label> {{ timeRange }}</mat-label>
                        <mat-select
                          formControlName="timeRange"
                          [value]="selectedTime">
                          <mat-option *ngFor="let range of ranges" [value]="range.timeValue"> {{range.timeValue}} </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <br>

                      <h1 class="header">Odds Range</h1>

                      <div class="odds-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Min. Odds</mat-label>
                          <input
                            formControlName="minOdds"
                            matInput
                            placeholder="{{ minOddsFilter }}">
                            <mat-hint>Currently saved: {{ minOddsFilter }}</mat-hint>
                        </mat-form-field>
                      </div>

                        <h2 class="to-odds"> TO </h2>

                      <div class="odds-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Max Odds</mat-label>
                          <input
                            formControlName="maxOdds"
                            matInput
                            placeholder= "{{ maxOddsFilter}}">
                            <mat-hint>Currently saved: {{ maxOddsFilter}}</mat-hint>
                        </mat-form-field>
                      </div>

                      <br>

                      <h1 class="header">EV Filter</h1>

                      <mat-form-field appearance="fill">
                        <mat-label>Estimated Value</mat-label>
                        <input
                          formControlName="evFilterValue"
                          matInput
                          placeholder= "{{ evFilter }}">
                          <mat-hint>Currently saved: {{ evFilter }}</mat-hint>
                      </mat-form-field>

                      <h1 class="header">Match Rating Filter</h1>

                      <mat-form-field appearance="fill">
                        <mat-label>Match Rating Filter</mat-label>
                        <input
                          formControlName="maxRatingFilter"
                          matInput
                          placeholder= "{{ matchRatingFilter }}">
                          <mat-hint>Currently saved: {{ matchRatingFilter }}</mat-hint>
                      </mat-form-field>

                      <h1 class="header">Filter Preference</h1>
                      <mat-form-field appearance="fill">

                        <mat-select
                          formControlName="isEvSelected"
                          [value]="isEvSelected"
                          placeholder="{{evPlaceholder}}">
                          <mat-option *ngFor="let filter of filters" [value]="filter.value"> {{filter.option}} </mat-option>
                        </mat-select>
                      </mat-form-field>


                      <div class="btn-wrapper">
                        <button mat-raised-button class="save-preference">Save Preferences</button>
                      </div>
                    </form>

               </div>

  </mat-sidenav>
</mat-drawer-container>

