<mat-drawer-container class="view-table-settings" [hasBackdrop]="true">
  <mat-sidenav #sidenav
              [mode]="mode"
              [fixedInViewport]="true"
              [disableClose]="true">

              <button mat-icon-button class="exit-button" (click)="sidenav.close()"> <mat-icon>close</mat-icon> </button>
              <br>
              <h1>View Table Settings</h1>
              <br>



              <div class="vt-settings-container">

                <h1> Select Leagues </h1>
                  <form (ngSubmit)="onSubmit(f)" #f>
                    <mat-form-field appearance="fill">
                      <mat-label>Leagues</mat-label>
                        <mat-select
                          class="league-dropdown"
                          [formControl]="leaguesControl"
                          #select
                          multiple>
                          <mat-select-trigger>
                            {{leaguesControl.value ? leaguesControl.value[0] : ''}}
                            <span *ngIf="leaguesControl.value?.length > 1" class="example-additional-selection">
                              (+{{leaguesControl.value.length - 1}} {{leaguesControl.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>

                          <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelected"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="toggleAllSelection()">All</mat-checkbox>
                          </div>
                          <mat-optgroup *ngFor="let group of leagueGroups" [label]="group.country">
                            <mat-option (click)="optionClick()" *ngFor="let league of group.leagues" [value]="league"> {{league}}</mat-option>
                          </mat-optgroup>
                        </mat-select>
                      </mat-form-field>

                      <br>
                      <h1 class="header">Select Time</h1>
                      <mat-form-field appearance="fill">
                        <mat-label>Time Range</mat-label>
                        <mat-select [(value)]="selectedTime">
                          <mat-option value="all">Today & Tomorrow</mat-option>
                          <mat-option value="first">Today</mat-option>
                          <mat-option value="second">Tomorrow</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <br>

                      <h1 class="header">Back Odds Range</h1>

                      <div class="odds-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Min. Value</mat-label>
                          <input
                            ngModel
                            name="minOdd"
                            matInput
                            placeholder="1.10">
                          <mat-hint>Minimum Odds</mat-hint>
                        </mat-form-field>
                      </div>

                        <h2 class="to-odds"> TO </h2>
                      <div class="odds-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Max value</mat-label>
                          <input
                            ngModel
                            name="maxOdd"
                            matInput
                            placeholder="1.10">
                          <mat-hint>Maximum Odds</mat-hint>
                        </mat-form-field>
                      </div>

                      <br>

                      <h1 class="header">EV Filter</h1>

                      <mat-form-field appearance="fill">
                        <mat-label>Enter EV value</mat-label>
                        <input
                          ngModel
                          name="evFilterValue"
                          matInput
                          placeholder="1.10">
                        <mat-hint>Minimum EV value to filter </mat-hint>
                      </mat-form-field>
                      <div class="btn-wrapper">
                        <button mat-raised-button class="save-preference">Save Preferences</button>
                      </div>
                    </form>

               </div>

  </mat-sidenav>
</mat-drawer-container>

