<mat-drawer-container class="view-table-settings" [hasBackdrop]="true">
  <mat-sidenav #sidenav
              [mode]="mode"
              [fixedInViewport]="true"
              [disableClose]="true">

              <button mat-icon-button class="exit-button" (click)="sidenav.close()"> <mat-icon>close</mat-icon> </button>
              <br>
              <h1>View Table Settings</h1>
              <br>

              <div class="vt-settings-container">
                <!-- point to viewTableForm : FormGroup  -->
                  <form (ngSubmit)="onSubmit()" [formGroup]="viewTableForm">
                    <div *ngIf="viewTableForm.errors && (viewTableForm.touched || viewTableForm.dirty)" class="cross-validation-error-message alert alert-danger">
                      Something went wrong! Most likely your notification's filter is less than your table view filter setting for the following fields: {{ getFormErrorMessage() }}
                    </div>
                      <h1 class="header">Odds Range</h1>
                      <mat-hint>Matches within this range will only show in Juicy and send alerts</mat-hint>

                      <div class="odds-group">
                        <div class="odds-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Min. Odds</mat-label>
                            <input
                              formControlName="minOdds"
                              matInput
                              placeholder="{{ minOddsFilter }}">
                              <mat-hint>Currently saved: {{ minOddsFilter }}</mat-hint>
                              <mat-error *ngIf="viewTableForm.controls.minOdds.errors">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>

                          </div>
                              <h2 class="to-odds"> TO </h2>
                          <div class="odds-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Max Odds</mat-label>
                            <input
                              formControlName="maxOdds"
                              matInput
                              required
                              placeholder= "{{ maxOddsFilter}}">
                              <mat-hint>Currently saved: {{maxOddsFilter}}</mat-hint>
                              <mat-error *ngIf="viewTableForm.controls.maxOdds.errors">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>

                      <br>

                      <h1 class="header">EV Filter</h1>

                      <div class="ev-filter-container">
                        <div class="ev-row">
                          <mat-form-field appearance="fill">
                            <mat-label>Value that filters matches to show in Juicy Table</mat-label>
                            <input
                              formControlName="evFilterValueI"
                              matInput
                              placeholder= "{{ evFilterI }}">
                              <mat-hint>Currently saved: {{ evFilterI }}</mat-hint>
                              <mat-error *ngIf="viewTableForm.controls.evFilterValueI.errors">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="ev-row">
                          <mat-form-field appearance="fill">
                            <mat-label>Value that filters matches for notifications</mat-label>
                            <input
                              formControlName="evFilterValueII"
                              matInput
                              placeholder= "{{ evFilterII }}">
                              <mat-hint>Currently saved: {{ evFilterII }}</mat-hint>
                              <mat-error *ngIf="viewTableForm.controls.evFilterValueII.errors">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>

                        <h1 class="header">Match Rating Filter</h1>

                      <div class="mr-filter-container">
                        <div class="mr-row">
                          <mat-form-field appearance="fill">
                            <mat-label>Value that filters matches to show in Juicy Table</mat-label>
                            <input
                              formControlName="matchRatingFilterI"
                              matInput
                              placeholder= "{{ matchRatingFilterI }}">
                              <mat-hint>Currently saved: {{ matchRatingFilterI }}</mat-hint>
                              <mat-error *ngIf="viewTableForm.controls.matchRatingFilterI.errors">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>

                        </div>
                        <div class="mr-row">
                          <mat-form-field appearance="fill">
                            <mat-label>Value that filters matches for notifications</mat-label>
                            <input
                              formControlName="matchRatingFilterII"
                              matInput
                              required
                              placeholder= "{{ matchRatingFilterII }}">
                              <mat-hint>Currently saved: {{ matchRatingFilterII }}</mat-hint>
                              <mat-error *ngIf="viewTableForm.controls.matchRatingFilterII.errors">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>

                      <h1 class="header">The Sauce Filter</h1>
                      <div class="secret-sauce-container">
                        <div class="ss-row">
                          <mat-form-field appearance="fill">
                            <mat-label>Value that filters matches to show in Juicy Table</mat-label>
                            <input
                              formControlName="secretSauceI"
                              matInput
                              placeholder= "{{ secretSauceI }}">
                              <mat-hint>Currently saved: {{ secretSauceI }}</mat-hint>
                              <mat-error *ngIf="viewTableForm.controls.secretSauceI.errors">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>

                        </div>
                        <div class="ss-row">
                          <mat-form-field appearance="fill">
                            <mat-label>Value that filters matches for notifications</mat-label>
                            <input
                              formControlName="secretSauceII"
                              matInput
                              placeholder= "{{ secretSauceII }}">
                              <mat-hint>Currently saved: {{ secretSauceII }}</mat-hint>
                              <mat-error *ngIf="viewTableForm.controls.secretSauceII.errors">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>

                        </div>

                      </div>
                      <h1 class="header">Filter Preference</h1>
                      <mat-form-field appearance="fill">

                        <mat-select
                          formControlName="fvSelected"
                          [value]="fvSelected"
                          placeholder="{{evPlaceholder}}">
                          <mat-option *ngFor="let filter of filters" [value]="filter.value"> {{filter.option}} </mat-option>
                        </mat-select>
                      </mat-form-field>


                      <div class="btn-wrapper">
                        <button mat-raised-button [disabled]="viewTableForm.errors" class="save-preference">Save Preferences</button>
                      </div>
                    </form>

               </div>

  </mat-sidenav>
</mat-drawer-container>

