.cookie-anchor {
  color: blue;
  text-decoration: underline;
}

h2,
h3,
p,
ul,
li {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

b{
  font-weight: 400;
}

.cookie-anchor:hover {
  transform: scale(1.10);
  color: gold;
  text-decoration: underline;
  cursor:pointer;
}
