
html, body { height: 100%; }

html{
  width: 100%;
  overflow: visible !important;
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  position: relative;
  top: 0 !important;
  left: 0 !important;
  cursor: default;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #263238;
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
}

img {
  max-width: 100%;
  height: auto;
}
.mat-tab-body-content {
  overflow: scroll;
}

mat-table {
  min-width: 1000px;
}

*{
  font-family: 'Prompt',sans-serif;
}

/* Mat Dialog Style change*/
.about-dialog .mat-dialog-container {
  padding: 0px 25px;
  background-color: #37474f;
  overflow: scroll;
  border: 1px solid #f9a825;
  max-width: 80vw;
  height: 27vw;
  min-height: 20vw !important;
  max-height: 30vw !important;
}

.quick-reference-guide .mat-dialog-container{
  width: 100%;
  height: 100%;
  background: salmon;
}

.goodbye-dialog .mat-dialog-container{
  background-color: #37474f;
  border: 1px solid #f9a825;
  color: lightgray;
}

.login-message .mat-dialog-container{
  background-color: #37474f;
  height: 15vw;
  min-height: 10vw !important;
  max-height: 20vw !important;
  max-width: 30vw !important;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.contact-dialog .mat-dialog-container {
  padding: 0px 25px;
  background-color: #37474f;
  overflow: scroll;
  border: 1px solid #f9a825;
  max-width: 57vw;
  height: 27vw;
  min-height: 20vw !important;
  max-height: 30vw !important;
}

/*Media Query for popup boxes 1280x800 view */
.saved-active-bets-responsive-view .mat-dialog-container {
  height: 270px;
  min-width: 90vw !important;
  display: inline-flex;
  background: #263238;
  background-image: linear-gradient(90deg, #37464d 0%, #0f1214 55%, #36444b 100%);
  border: 1px solid #41555e;
}

.manage-billing-page .mat-dialog-container {
  background-image: linear-gradient(318deg, #3d4c53 0%, #293136 69%, #4f616a 100%);
  background: #313b40;
  border: 1px solid #f9a825;
  color: white;
  overflow: scroll;
}
.view-active-bets-responsive .mat-dialog-container {
  min-width: 600px;
  overflow-x: scroll;
  color:#ffffffec;
  background-image: linear-gradient(to top, #263238 60%, #161718e6 100%);
  border:1px solid #41555e;
}

.two-up-landing-page .mat-dialog-container{
  min-width: 60vw !important;
  width: 100%;
  height: 90%;
  overflow-x: scroll;
  background-image: linear-gradient(318deg, #3d4c53 0%, #293136 69%, #4f616a 100%);
  border: 1px solid lightgray;
  border-radius: 75px;
}

.two-up-product .mat-dialog-container ,
.pyp-popup .mat-dialog-container {
  background-image: linear-gradient(318deg, #3d4c53 0%, #293136 69%, #4f616a 100%);
  background: #313b40;
  border: 1px solid #f9a825;
  color: white;
  overflow: scroll;
}


/* Increment Arrow buttons hide*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* * GLOBAL INPUT FIELDS*/

/* Lay Configs */
.value-box-back, .selection-box {
  background:  #ffffff;
}
.value-box-lay::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  background:  #2d363e;
}
.value-box-laystake::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  background:  #2d363e;

}
.value-box-laystake {
  background: #2d363e;
  width: 80px;
  font-size: medium;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
  vertical-align: middle;
  margin-top: 1%;
  }
input.value-box-lay {
  background: #ffffff;
}
.value-box-back,
.value-box-lay,
.selection-box {
  width: 80px;
  font-size: medium;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
  vertical-align: middle;
  margin-top: 1%;
  }

  .toast-container {
    pointer-events: none;
    position: absolute;
    z-index: 999999;
    display: inline-flex;
  }

/* Bookie buttons */
  button.exchange-button-container{
    background-image: url(/assets/img/smarketsII.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  button.bookie-button-container {
    background-image: url(/assets/img/bet365II.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 30px;
    border-color: rgb(41 109 87);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

/* Commission */

  p.exchange-text-comm{
    font: 400 10px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
  }

  h1.about-text,
  h2.about-text{
    color: white;
  }

  span.popup-dialog:hover {
    color: #ffc235;
    text-decoration: underline;
    cursor: pointer;
  }

 @media only screen and (max-width:1280px){
  body {font-size: 0.78rem;}
}

@media (max-width:1370px){
  body {font-size: 0.95rem;;}
}


@media only screen and (max-width:1440px){
  body {font-size: 0.80rem;}
}

@media only screen and (max-width:1920px){

}
