<h2 mat-dialog-title class="about-title">What We Do</h2>
<mat-dialog-content class="mat-typography about-us-cont">
  <h3>Welcome to Juicy-Bets!</h3>

  <p><i>Disclaimer: In no way do we accept/place bets on your behalf. This site strictly provides tools for helping you determine value.</i> <br></p>
  <p>You may have heard of Matched Betting or Value Betting. As the names suggest, both involve placing
    bets with betting sites but with one fundamental difference. What these terms have in common is that
    they both involve taking value from bookmakers. A quick Google search of either of these terms and
    you will have enough content to keep you reading for days. It is a well-known fact that when followed
    correctly these strategies are a great way to make an extra income. In fact, for some people, it is
    their full-time job and sole source of income. </p>

  <h3>Speed &amp; Performance</h3>
  <p>Anyone that has experience with matched betting will understand the importance of speed and accuracy
    when it comes to odds data. Other matched betting services are unable to offer anything close to real
    time odds data, often displaying bookmaker odds that are 5 minutes old. In the betting world this is
    an eternity and offers little value as odds can move so quickly. </p>

  <h3>Incredible tooling</h3>
  <p>The aim of Juicy-Bets is to create intuitive tools that offer close to real-time odds data from bookmakers
    and exchanges. Combine this with the logic of profitable matched betting strategies and a user-friendly
    interface and the result is increased productivity and earnings.</p>

  <h3>Made by match bettors, for match bettors</h3>
  <p>We are a two man team who are passionate about providing quality, intuitive, and unique tools tailor made for
    match betting. We hope you enjoy our site as much as we enjoyed building it.</p>

  <h3>Why use Juicy-Bets?</h3>

  <p>The aim of Juicy-Bets is to create intuitive tools that offer close to real-time odds data from
    bookmakers and exchanges. Combine this with the logic of profitable matched betting strategies
    and a user-friendly interface and the result is increased productivity and earnings.</p>

  <p>Please note: The information contained on this Website and the resources available are for educational
    and informational purposes only.​ No betting activity takes place within Juicy-Bets.com.</p>

</mat-dialog-content>

