<div class="about-us-header">
  <img src="../../assets/img/jbLogo.png">
  <h2 mat-dialog-title class="about-title">We are Juicy Bets!</h2>
  <h3 mat-dialog-title class='about-second-title'>Creators of Quality Matched Betting Tools</h3>
</div>
<mat-dialog-content class="mat-typography about-us-cont">
  <p>Our products are designed for specific matched betting techniques providing flexibility and customization leading to a superior user experience.
    <br><br>
    We combine accurate odds data from bookmakers and exchanges, with the logic of proven matched betting strategies and a user-friendly interface. The result is increased productivity and matched betting earnings.
    <br><br>
    We are a small team consisting of experienced matched bettors and skilled software engineers. A great deal of thought and care goes into the creation of our products but we are always happy to hear suggestions and feedback.
    <br><br>
    If you have an idea for a matched betting tool that you would like us to consider for production, please send us the details via email at <span class="support">support@juicy-bets.com</span>.</p>
</mat-dialog-content>

