

<div class="notification-wrapper">  
  <hr class="top-divider">
    <span toastContainer>
    </span>
    <div class='notificationbackgroundtext'>JUICY NOTIFICATIONS</div> 
    <span class ='centernotifications'>
      <div class='notificationplaceholder notificationplaceholder1'></div>
      <div class='notificationplaceholder notificationplaceholder2'></div>
      <div class='notificationplaceholder notificationplaceholder3'></div>
      <div class='notificationplaceholder notificationplaceholder4'></div>
      <div class='notificationplaceholder notificationplaceholder5'></div>
      <div class='notificationplaceholder notificationplaceholder6'></div>
      <div class='notificationplaceholder notificationplaceholder7'></div>
      <div class='notificationplaceholder notificationplaceholder8'></div>
      <div class='notificationplaceholder notificationplaceholder9'></div>
      <div class='notificationplaceholder notificationplaceholder10'></div>
      <div class='notificationplaceholder notificationplaceholder11'></div>          
    
      </span>
    <hr class="bottom-divider">
  </div>

